force-app/main/default/flows/CARE_HU_Verification_Process_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Get Discount Type Based On Income</description>
        <name>Get_Discount_Type_Based_On_Income</name>
        <label>Get Discount Type Based On Income</label>
        <locationX>5887</locationX>
        <locationY>2963</locationY>
        <actionName>CARE_IncomeQualificationController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Is_CARE_Qualified</targetReference>
        </connector>
        <inputParameters>
            <name>dTotalIncome</name>
            <value>
                <elementReference>fxTotalIncome</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>iNoOfHouseholds</name>
            <value>
                <elementReference>fxNoOfHousehold</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>varDiscountType</assignToReference>
            <name>sDiscountType</name>
        </outputParameters>
    </actionCalls>
    <assignments>
        <description>Set Flag to a boolean variable to process further. From UI , String &apos;Yes&apos;/&apos;No&apos; is receiving.</description>
        <name>Assign_Accepted_Flag_to_a_Variable</name>
        <label>Set Is Accepted Flag to True</label>
        <locationX>2312</locationX>
        <locationY>2425</locationY>
        <assignmentItems>
            <assignToReference>varIsApplicationAccepted</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Is_Accepted_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign application id to a variable</description>
        <name>Assign_Application_Id</name>
        <label>Assign Application Id in a Variable</label>
        <locationX>1396</locationX>
        <locationY>2255</locationY>
        <assignmentItems>
            <assignToReference>varCareApplicationId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Application_ID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Application_ID</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign Person Id To Variable</description>
        <name>Assign_Person_Id_To_Variable</name>
        <label>Assign Person Id To Variable</label>
        <locationX>1601</locationX>
        <locationY>2254</locationY>
        <assignmentItems>
            <assignToReference>varPersonID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Person_Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Person_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign Valid SA of Selected Premise to Collection Variable for future reference</description>
        <name>Assign_SA_Ids_To_Valid_SA_Id_Collection</name>
        <label>Assign SA Ids To Valid SA Id Collection</label>
        <locationX>3367</locationX>
        <locationY>4157</locationY>
        <assignmentItems>
            <assignToReference>recColValidSAIdsOfSelectedPremise</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopVarSAID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Care_End_Date_is_future_date</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign Valid SA Ids To Variable</description>
        <name>Assign_Valid_SA_IDs_To_Variable</name>
        <label>Assign Valid SA Ids To Collection Variable</label>
        <locationX>4318</locationX>
        <locationY>4056</locationY>
        <assignmentItems>
            <assignToReference>recColValidSAIdsOfAllPremises</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopVarSAID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Current_Item_is_Valid</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set Care customer flag - True  if Care End date is future date.</description>
        <name>Set_CARE_FERA_Customer_Flag</name>
        <label>Set Current CARE/FERA Customer Flag=True</label>
        <locationX>2579</locationX>
        <locationY>4353</locationY>
        <assignmentItems>
            <assignToReference>varIsCAREFERACustomer</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varExistingDiscountType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopVarSAID.Account_EI__r.CARE_DISCOUNT_TYPE__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_This_Discount_On_Selected_Premise</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set Current  SA RS Valid Flag True</description>
        <name>Set_Current_Item_is_Valid</name>
        <label>Set Current  SA RS Valid Flag True</label>
        <locationX>4062</locationX>
        <locationY>4220</locationY>
        <assignmentItems>
            <assignToReference>varIsCurrentSARateScheduleValid</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Valid_Rate_Schedule2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set Current SA RS Valid Flag To False</description>
        <name>Set_Current_SA_RS_Valid_Flag_False</name>
        <label>Set Current  SA RS Valid Flag False</label>
        <locationX>3790</locationX>
        <locationY>3739</locationY>
        <assignmentItems>
            <assignToReference>varIsCurrentSARateScheduleValid</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Valid_Rate_Schedule2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set Default Drop Type Number</description>
        <name>Set_Default_Drop_Type_Number</name>
        <label>Set Default Drop Type Number</label>
        <locationX>4497</locationX>
        <locationY>2533</locationY>
        <assignmentItems>
            <assignToReference>varDropTypeNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>171</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_CC_Code_Drop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set Flag for customer has discount on other premise other than selected</description>
        <name>Set_Discount_On_Other_Premise_Flag</name>
        <label>Set Discounted On Other Premise Flag =True</label>
        <locationX>2552</locationX>
        <locationY>3729</locationY>
        <assignmentItems>
            <assignToReference>varHasDiscountOnOtherPremise</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recColSAIdsOfOtherPremiseDiscount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopVarSAID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_All_SA_Ids_of_Customer</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set Discounted On Selected Premise Flag=True</description>
        <name>Set_Discounted_On_Selected_Premise_Flag_True</name>
        <label>Set Discounted On Selected Premise Flag=True</label>
        <locationX>2887</locationX>
        <locationY>4043</locationY>
        <assignmentItems>
            <assignToReference>varHasDiscountOnSelectedPremise</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recColSAIdsOfSelectedPremiseDiscount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopVarSAID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_All_SA_Ids_of_Customer</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set Drop Type Number For FERA</description>
        <name>Set_Drop_Type_Number_For_FERA</name>
        <label>Set Drop Type Number For FERA</label>
        <locationX>4338</locationX>
        <locationY>2540</locationY>
        <assignmentItems>
            <assignToReference>varDropTypeNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>171</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_CC_Code_Drop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set Error Stage Name</description>
        <name>Set_Error_Stage_Name</name>
        <label>Set Error Stage Name</label>
        <locationX>697</locationX>
        <locationY>1333</locationY>
        <assignmentItems>
            <assignToReference>varStageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Get Active Status</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Log_Exception</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set Error Stage Name</description>
        <name>Set_Error_Stage_Name_1</name>
        <label>Set Error Stage Name</label>
        <locationX>959</locationX>
        <locationY>1547</locationY>
        <assignmentItems>
            <assignToReference>varStageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Get CARE Valid Rate Schedule</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Log_Exception</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set Error Stage Name</description>
        <name>Set_Error_Stage_Name_10</name>
        <label>Set Error Stage Name</label>
        <locationX>6291</locationX>
        <locationY>168</locationY>
        <assignmentItems>
            <assignToReference>varStageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Get CC Code Details</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Log_Exception</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set Error Stage Name</description>
        <name>Set_Error_Stage_Name_10_0</name>
        <label>Set Error Stage Name</label>
        <locationX>6403</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>varStageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CREATE Transaction ESA COMP</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Log_Exception</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set Error Stage Name</description>
        <name>Set_Error_Stage_Name_2</name>
        <label>Set Error Stage Name</label>
        <locationX>2031</locationX>
        <locationY>1392</locationY>
        <assignmentItems>
            <assignToReference>varStageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Get All SA Ids From All Premise</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Log_Exception</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set Error Stage Name</description>
        <name>Set_Error_Stage_Name_3</name>
        <label>Set Error Stage Name</label>
        <locationX>3509</locationX>
        <locationY>1467</locationY>
        <assignmentItems>
            <assignToReference>varStageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Get Care Application Details</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Log_Exception</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set Error Stage Name</description>
        <name>Set_Error_Stage_Name_4</name>
        <label>Set Error Stage Name</label>
        <locationX>3367</locationX>
        <locationY>1090</locationY>
        <assignmentItems>
            <assignToReference>varStageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Get Care Application Details</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Log_Exception</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set Error Stage Name</description>
        <name>Set_Error_Stage_Name_5</name>
        <label>Set Error Stage Name</label>
        <locationX>3387</locationX>
        <locationY>1222</locationY>
        <assignmentItems>
            <assignToReference>varStageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Get Care App Enrolled SA</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Log_Exception</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set Error Stage Name</description>
        <name>Set_Error_Stage_Name_6</name>
        <label>Set Error Stage Name</label>
        <locationX>3454</locationX>
        <locationY>1350</locationY>
        <assignmentItems>
            <assignToReference>varStageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Delete Care App Enrolled SA</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Log_Exception</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set Error Stage Name</description>
        <name>Set_Error_Stage_Name_7</name>
        <label>Set Error Stage Name</label>
        <locationX>5352</locationX>
        <locationY>491</locationY>
        <assignmentItems>
            <assignToReference>varStageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Get Invalid Income Docs</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Log_Exception</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set Error Stage Name</description>
        <name>Set_Error_Stage_Name_8</name>
        <label>Set Error Stage Name</label>
        <locationX>6122</locationX>
        <locationY>371</locationY>
        <assignmentItems>
            <assignToReference>varStageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Get Valid FERA Rate Schedule</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Log_Exception</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set Error Stage Name</description>
        <name>Set_Error_Stage_Name_9</name>
        <label>Set Error Stage Name</label>
        <locationX>5939</locationX>
        <locationY>289</locationY>
        <assignmentItems>
            <assignToReference>varStageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Get All Premises Of Customer</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Log_Exception</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set ESA Flag=True</description>
        <name>Set_ESA_Flag_True</name>
        <label>Set ESA Flag=True</label>
        <locationX>6468</locationX>
        <locationY>3821</locationY>
        <assignmentItems>
            <assignToReference>varIsESAEnrolled</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_All_Premises</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set Has Valid Electric SA=True</description>
        <name>Set_Has_Valid_Electric_SA_True</name>
        <label>Set Has Valid Electric SA=True</label>
        <locationX>7572</locationX>
        <locationY>2810</locationY>
        <assignmentItems>
            <assignToReference>varHasElectricSA</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Valid_SA_To_Check_For_Electric_SA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set Is Accepted Flag =False</description>
        <name>Set_IsAccepted_Flag_False</name>
        <label>Set Is Accepted Flag False</label>
        <locationX>1887</locationX>
        <locationY>2344</locationY>
        <assignmentItems>
            <assignToReference>varIsApplicationAccepted</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Is_Accepted_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set out put</description>
        <name>Set_Output_Variable</name>
        <label>Set Output Variable</label>
        <locationX>4663</locationX>
        <locationY>1414</locationY>
        <assignmentItems>
            <assignToReference>varCCCode_Output</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCCCodeDescription_Output</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCCCodeLongDescription_Output</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>Temp Assignment.So that exception can be handled.
Note: This out put need not to send back to UI</description>
        <name>Set_Temp_Assignment</name>
        <label>Set Temp Assignment</label>
        <locationX>5705</locationX>
        <locationY>4391</locationY>
        <assignmentItems>
            <assignToReference>varStageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Create Record</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>Set Type Number For CARE Drop, Based on Discount type; For HU Drop ,there is no separate type number for CARE and FERA.Hence 171 is common irrespective of discount type. Later if 2 separate type no need to use change the type number accordingly.</description>
        <name>Set_Type_Number_For_CARE_Drop</name>
        <label>Set Type Number For CARE Drop</label>
        <locationX>4212</locationX>
        <locationY>2540</locationY>
        <assignmentItems>
            <assignToReference>varDropTypeNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>171</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_CC_Code_Drop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set Valid RS Flag=False</description>
        <name>Set_Valid_RS_Flag_False</name>
        <label>Set Valid RS Flag=False</label>
        <locationX>7136</locationX>
        <locationY>2485</locationY>
        <assignmentItems>
            <assignToReference>varIsCurrentSARateScheduleValid</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Valid_FERA_RS</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set Valid RS Flag True</description>
        <name>Set_Valid_RS_Flag_True</name>
        <label>Set Valid RS Flag True</label>
        <locationX>7605</locationX>
        <locationY>2290</locationY>
        <assignmentItems>
            <assignToReference>varIsCurrentSARateScheduleValid</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Valid_FERA_RS</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Check the existing discount type.Based on Discount Type CC code varies (In HU only one CC Code Exists for CARE and FERA)</description>
        <name>Check_Existing_Discount_Type</name>
        <label>Check Existing Discount Type?</label>
        <locationX>4380</locationX>
        <locationY>2757</locationY>
        <defaultConnector>
            <targetReference>Set_Default_Drop_Type_Number</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>CARE_Discount</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varExistingDiscountType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CARE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Type_Number_For_CARE_Drop</targetReference>
            </connector>
            <label>CARE</label>
        </rules>
        <rules>
            <name>FERA_Discount</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varExistingDiscountType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FERA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Drop_Type_Number_For_FERA</targetReference>
            </connector>
            <label>FERA</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check Is accepted Flag received from UI. Since all the inputs receiving from UI are List of String , Yes/No will be the input.Based on that Boolean flag will set in Flow.</description>
        <name>Check_Is_Accepted_Value</name>
        <label>Check Is Accepted Value=Yes</label>
        <locationX>2051</locationX>
        <locationY>2355</locationY>
        <defaultConnector>
            <targetReference>Set_IsAccepted_Flag_False</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>IsAccepted_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Is_Accepted_Collection</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Accepted_Flag_to_a_Variable</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check Premise Id  exists in Selected Premise ID</description>
        <name>Check_Premise_Id_Selected_Premise_ID</name>
        <label>Check Selected Premise ID Collection contains the Premise ID</label>
        <locationX>6065</locationX>
        <locationY>4015</locationY>
        <defaultConnector>
            <targetReference>Loop_All_Premises</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Selected_Premise</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>colPremiseIDs_Input</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Loop_All_Premises.Site_Premise_ID_EI__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Customer_Enrolled_In_ESA</targetReference>
            </connector>
            <label>Yes Selected Premise</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check SA Is From Selected Premise</description>
        <name>Check_SA_ID_From_Selected_Premise</name>
        <label>Check SA Is From Selected Premise?</label>
        <locationX>3486</locationX>
        <locationY>4322</locationY>
        <defaultConnector>
            <targetReference>Is_Care_End_Date_is_future_date</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_From_Selected_Premise</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>colPremiseIDs_Input</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>loopVarSAID.Site_Premise_ID_EI__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_SA_Ids_To_Valid_SA_Id_Collection</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Does Customer Has Electric SA?</description>
        <name>Does_Customer_Has_Electric_SA</name>
        <label>Does Customer Has Electric SA?</label>
        <locationX>6945</locationX>
        <locationY>2611</locationY>
        <defaultConnector>
            <targetReference>Loop_Valid_SA_To_Check_For_Electric_SA</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Has_Electric_SA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Valid_SA_To_Check_For_Electric_SA.Svc_Type_Code_EI__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>E</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Valid_RS_Flag_False</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Does Customer Requested For Drop</description>
        <name>Does_Customer_Requested_For_Drop</name>
        <label>Does Customer Requested For Drop?</label>
        <locationX>4390</locationX>
        <locationY>2995</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Drop_Requested</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Care_Application_Details.REQUEST_DROP__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Existing_Discount_Type</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No_Drop_Request</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Care_Application_Details.REQUEST_DROP__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_Attachments_PEV</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check any Valid SA exists to proceed.</description>
        <name>Does_Valid_SA_Exists</name>
        <label>Does Valid SA Exists?</label>
        <locationX>3759</locationX>
        <locationY>2982</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Valid_SA_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recColValidSAIdsOfSelectedPremise</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Care_Application_Details</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No_Valid_SA_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recColValidSAIdsOfSelectedPremise</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_CC_Code_IR</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <description>Has Valid FERA Rate Schedule Electric SA Exists and No Of house hold&gt;=3 and FERA Income Qualified</description>
        <name>Has_Valid_Electric_SA</name>
        <label>Has Valid Electric SA and FERA Income Qualified?</label>
        <locationX>7010</locationX>
        <locationY>3191</locationY>
        <defaultConnector>
            <targetReference>Update_CC_Code_J_172</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Valid_Electric_SA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varHasElectricSA</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>fxNoOfHousehold</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varDiscountType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FERA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_CC_Code_C_RANDOM_2_Years</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check  HUForm Received?
Note: PEV_FORM__c  field is being used for both HU and PEV</description>
        <name>HU_Form_Received</name>
        <label>HU Form Received?</label>
        <locationX>5054</locationX>
        <locationY>2994</locationY>
        <defaultConnector>
            <targetReference>GetCancellationQualificationStatus</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_HU_Received</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Care_Application_Details.PEV_FORM__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Invalid_Income_Docs</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Is Application Accepted?</description>
        <name>Is_Application_Accepted</name>
        <label>Is Application Accepted?</label>
        <locationX>5665</locationX>
        <locationY>3283</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Application_Accepted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varIsApplicationAccepted</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_All_Premise_Of_Customer</targetReference>
            </connector>
            <label>Yes Accepted</label>
        </rules>
    </decisions>
    <decisions>
        <description>Is Care App Enrolled SA Exists?</description>
        <name>Is_Care_App_Enrolled_SA_Exists</name>
        <label>Is Care App Enrolled SA Exists?</label>
        <locationX>4643</locationX>
        <locationY>1785</locationY>
        <defaultConnector>
            <targetReference>Set_Output_Variable</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Care_App_Enrolled_SA_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Care_App_Enrolled_SA</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Care_App_Enrolled_SA</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check whether care end date is future date?</description>
        <name>Is_Care_End_Date_is_future_date</name>
        <label>Is Care End Date is future date?</label>
        <locationX>3073</locationX>
        <locationY>4400</locationY>
        <defaultConnector>
            <targetReference>Loop_All_SA_Ids_of_Customer</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Future_EndDate</name>
            <conditionLogic>1 AND 2 AND (3 OR 4) AND 5</conditionLogic>
            <conditions>
                <leftValueReference>loopVarSAID.Care_Stop_Date_EI__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>fxTodaysDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loopVarSAID.Care_Start_Date_EI__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>fxTodaysDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loopVarSAID.CARE_DISCOUNT_TYPE__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CARE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loopVarSAID.CARE_DISCOUNT_TYPE__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FERA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loopVarSAID.Account_EI__r.CARE_DISCOUNT_TYPE__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_CARE_FERA_Customer_Flag</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Is CARE Qualified?</description>
        <name>Is_CARE_Qualified</name>
        <label>Is CARE Qualified?</label>
        <locationX>6122</locationX>
        <locationY>2963</locationY>
        <defaultConnector>
            <targetReference>GET_Valid_FERA_Rate_Schedules</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_CARE_Qualified</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varDiscountType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CARE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_CC_Code_H_RAND_CERT_2</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check Is current SA Valid</description>
        <name>Is_Current_SA_RS_Valid</name>
        <label>Is Current SA RS Valid?</label>
        <locationX>3692</locationX>
        <locationY>4423</locationY>
        <defaultConnector>
            <targetReference>Is_Care_End_Date_is_future_date</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Valid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varIsCurrentSARateScheduleValid</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_SA_ID_From_Selected_Premise</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check for ESA Enrollment</description>
        <name>Is_Customer_Enrolled_In_ESA</name>
        <label>Is Customer Enrolled In ESA?</label>
        <locationX>6462</locationX>
        <locationY>4025</locationY>
        <defaultConnector>
            <targetReference>Loop_All_Premises</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_ESA_Enrolled</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Loop_All_Premises.EI_Premise__r.ESA_Last_Treated_EI__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>fxTenYearsBeforeDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_All_Premises.EI_Premise__r.Last_ESA_Enrollment_Date__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>fxTenYearsBeforeDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_ESA_Flag_True</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Is ESA Enrollment Flag =True?</description>
        <name>Is_ESA_Enrollment_Flag_True</name>
        <label>Is ESA Enrollment Flag =True?</label>
        <locationX>5712</locationX>
        <locationY>3724</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_ESAEnrolled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varIsESAEnrolled</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_CC_Code_Details</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Is FERA Rate Schedule Valid?</description>
        <name>Is_FERA_Rate_Schedule_Valid</name>
        <label>Is FERA Rate Schedule Valid?</label>
        <locationX>7309</locationX>
        <locationY>2070</locationY>
        <defaultConnector>
            <targetReference>Loop_Valid_FERA_RS</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Valid_FERA_RS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Valid_FERA_RS</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Loop_Valid_SA_To_Check_For_Electric_SA.Rate_Schedule_EI__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Valid_RS_Flag_True</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Is Income Doc Attached For All Are Valid?</description>
        <name>Is_Income_Doc_Attached_For_All_Are_Valid</name>
        <label>Is Income Doc Attached For All Are Valid?</label>
        <locationX>5570</locationX>
        <locationY>2960</locationY>
        <defaultConnector>
            <targetReference>Get_Cancellation_Qualification_Status2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_ValidDocAttachedForAll</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Invalid_Income_Docs</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Discount_Type_Based_On_Income</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if customer has a C AE CARE (ESA, LIHEAP, REACH) or a H RAND CERT or a RANDOM CERT or a C RANDOM AFTER the V/VE code (in the last two years).</description>
        <name>Is_Qualified_For_Cancel</name>
        <label>Is Qualified For Cancel?</label>
        <locationX>5077</locationX>
        <locationY>2478</locationY>
        <defaultConnector>
            <targetReference>Update_CC_Code_D_173</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_CAECARE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varIsQualifiedForCancellation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Application_Status_Cancelled</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>if customer has a C AE CARE (ESA, LIHEAP, REACH) or a H RAND CERT or a RANDOM CERT or a C RANDOM AFTER the V/VE code (in the last two years). If so terminate the transaction with Status=Cancelled.</description>
        <name>Is_Qualified_For_Cancel_Application</name>
        <label>Is Qualified For Cancellation?</label>
        <locationX>5486</locationX>
        <locationY>1872</locationY>
        <defaultConnector>
            <targetReference>Get_Invalid_Doc_Custom_Description</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Cancel_Application</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varIsQualifiedForCancellation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Application_Status_Cancelled</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if customer has an H RAND CERT or a C RANDOM AFTER the VH/VHE code (in the last two years). If so terminate the transaction with Status=Cancelled.</description>
        <name>Is_Qualified_For_Cancellation</name>
        <label>Is Qualified For Cancellation?</label>
        <locationX>4638</locationX>
        <locationY>2588</locationY>
        <defaultConnector>
            <targetReference>Update_CC_Code_DN_170</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Qualified_For_Cancel</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varIsQualifiedForCancellation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Application_Status_Cancelled</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Rate_Schedule_Valid2</name>
        <label>Is Rate Schedule Valid?</label>
        <locationX>4257</locationX>
        <locationY>3816</locationY>
        <defaultConnector>
            <targetReference>Loop_Valid_Rate_Schedule2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Valid_RS2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Valid_Rate_Schedule2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>loopVarSAID.Rate_Schedule_EI__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Valid_SA_IDs_To_Variable</targetReference>
            </connector>
            <label>Yes Valid RS</label>
        </rules>
    </decisions>
    <decisions>
        <description>Is Rate Schedule Valid</description>
        <name>Is_RS_Valid</name>
        <label>Is RS Valid?</label>
        <locationX>7388</locationX>
        <locationY>2661</locationY>
        <defaultConnector>
            <targetReference>Loop_Valid_SA_To_Check_For_Electric_SA</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_RS_Valid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varIsCurrentSARateScheduleValid</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Has_Valid_Electric_SA_True</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Is SA Status Active</description>
        <name>Is_SA_Status_Active</name>
        <label>Is SA Status Active?</label>
        <locationX>3763</locationX>
        <locationY>3518</locationY>
        <defaultConnector>
            <targetReference>Loop_All_SA_Ids_of_Customer</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Active</defaultConnectorLabel>
        <rules>
            <name>Yes_Active_SA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>colActiveSAStatus</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>loopVarSAID.Svc_Status_Code_EI__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Current_SA_RS_Valid_Flag_False</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Is this Discount on Care processor Selected Premise?</description>
        <name>Is_This_Discount_On_Selected_Premise</name>
        <label>Is this Discount on Selected Premise?</label>
        <locationX>2552</locationX>
        <locationY>4044</locationY>
        <defaultConnector>
            <targetReference>Set_Discount_On_Other_Premise_Flag</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>On Other Premise</defaultConnectorLabel>
        <rules>
            <name>Yes_Discount_on_Selected_Premise</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>colPremiseIDs_Input</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>loopVarSAID.Site_Premise_ID_EI__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Discounted_On_Selected_Premise_Flag_True</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check any Attachments for PEV Verification</description>
        <name>No_Attachments_PEV</name>
        <label>No Attachments Received?</label>
        <locationX>4643</locationX>
        <locationY>2989</locationY>
        <defaultConnector>
            <targetReference>HU_Form_Received</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>True_No_Attachments</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Care_Application_Details.NO_ATTACHMENTS_RECEIVED__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Cancellation_Qualification_Status</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <description>HU Verification Process Flow</description>
    <formulas>
        <description>Additional Info to Log Exception</description>
        <name>fxErrorAdditionalInfo</name>
        <dataType>String</dataType>
        <expression>&apos;Application Id: &apos;+{!varCareApplicationId}</expression>
    </formulas>
    <formulas>
        <description>Number of house hold</description>
        <name>fxNoOfHousehold</name>
        <dataType>Number</dataType>
        <expression>{!Care_Application_Details.NO_ADULT__c}+{!Care_Application_Details.NO_CHILD__c}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <description>Care End date should be less than Today + 90 days</description>
        <name>fxRecertificationDay</name>
        <dataType>Date</dataType>
        <expression>Today()+90</expression>
    </formulas>
    <formulas>
        <description>10 years before date from now</description>
        <name>fxTenYearsBeforeDate</name>
        <dataType>Date</dataType>
        <expression>Today()-3650</expression>
    </formulas>
    <formulas>
        <description>Formula field to get today&apos;s date in variable</description>
        <name>fxTodaysDate</name>
        <dataType>Date</dataType>
        <expression>Today()</expression>
    </formulas>
    <formulas>
        <description>Store Total Income of Customer in  a variable</description>
        <name>fxTotalIncome</name>
        <dataType>Currency</dataType>
        <expression>{!Care_Application_Details.ANNUAL_HOUSEHOLD_INCOME__c}</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>CARE HU Verification Process Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CARE HU Verification Process Flow</label>
    <loops>
        <description>Loop through All Premises to check ESA Enrollement in last 10 years.</description>
        <name>Loop_All_Premises</name>
        <label>Loop through All Premises</label>
        <locationX>6068</locationX>
        <locationY>3716</locationY>
        <collectionReference>Get_All_Premise_Of_Customer</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Premise_Id_Selected_Premise_ID</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Is_ESA_Enrollment_Flag_True</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Loop through all SA Ids and find Valid SA based on SA Rate and Status</description>
        <name>Loop_All_SA_Ids_of_Customer</name>
        <label>Loop All SA Ids of Customer</label>
        <locationX>3077</locationX>
        <locationY>3509</locationY>
        <assignNextValueToReference>loopVarSAID</assignNextValueToReference>
        <collectionReference>Customer_SA_ID_On_All_Premises</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_SA_Status_Active</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Does_Valid_SA_Exists</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Loop application Id and store in a variable</description>
        <name>Loop_Application_ID</name>
        <label>Loop Application ID</label>
        <locationX>1189</locationX>
        <locationY>2599</locationY>
        <collectionReference>colCareApplicationIDs_Input</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Application_Id</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Person_Id</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Loop through Is Accepted Flag collection; Input to flow is always a list.</description>
        <name>Loop_Is_Accepted_Collection</name>
        <label>Loop Is Accepted Flag Collection Input</label>
        <locationX>1999</locationX>
        <locationY>2707</locationY>
        <collectionReference>colIsApplicationAccepted_Input</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Is_Accepted_Value</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Customer_SA_ID_On_All_Premises</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Loop Person Id and assign it to a variable</description>
        <name>Loop_Person_Id</name>
        <label>Loop Person Id</label>
        <locationX>1578</locationX>
        <locationY>2601</locationY>
        <collectionReference>colPersonIDs_Input</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Person_Id_To_Variable</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Is_Accepted_Collection</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Loop Valid FERA RS and check Electric SA has valid FERA Rate Schedule</description>
        <name>Loop_Valid_FERA_RS</name>
        <label>Loop Valid FERA RS</label>
        <locationX>7328</locationX>
        <locationY>2407</locationY>
        <collectionReference>colValidFERARateSchedule</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_FERA_Rate_Schedule_Valid</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Is_RS_Valid</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>To check rate schedule is valid or not</description>
        <name>Loop_Valid_Rate_Schedule2</name>
        <label>Loop Valid Rate Schedule</label>
        <locationX>3863</locationX>
        <locationY>3922</locationY>
        <collectionReference>colValidRateSchedules</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_Rate_Schedule_Valid2</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Is_Current_SA_RS_Valid</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Loop through Valid Selected SA to Identify FERA Qualified Electric SA</description>
        <name>Loop_Valid_SA_To_Check_For_Electric_SA</name>
        <label>Loop Valid SA To Check For Electric SA</label>
        <locationX>6943</locationX>
        <locationY>2950</locationY>
        <collectionReference>recColValidSAIdsOfSelectedPremise</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Does_Customer_Has_Electric_SA</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Has_Valid_Electric_SA</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Create a transaction with CC code= ESA COMP (Description : ESA COMPLETION EPEV STAGE 2  Participated)  Their will be no SA ids in this transaction</description>
        <name>Create_Transaction_CC_code_ESA_COMP</name>
        <label>Create Transaction CC code= ESA COMP</label>
        <locationX>5577</locationX>
        <locationY>4183</locationY>
        <connector>
            <targetReference>Set_Temp_Assignment</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_Error_Stage_Name_10_0</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>ACCT_ID__c</field>
            <value>
                <elementReference>Care_Application_Details.ACCT_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ANNUAL_HOUSEHOLD_INCOME__c</field>
            <value>
                <elementReference>Care_Application_Details.ANNUAL_HOUSEHOLD_INCOME__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>APPLICANT_NAME__c</field>
            <value>
                <elementReference>Care_Application_Details.APPLICANT_NAME__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>APPLICATION_STATUS__c</field>
            <value>
                <stringValue>Decision Made</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>APPLICATION_TYPE__c</field>
            <value>
                <elementReference>Care_Application_Details.APPLICATION_TYPE__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BUREAU_INDIAN_AFFAIRS__c</field>
            <value>
                <elementReference>Care_Application_Details.BUREAU_INDIAN_AFFAIRS__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CALFRESH_SNAP__c</field>
            <value>
                <elementReference>Care_Application_Details.CALFRESH_SNAP__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CALWORKS_TANF__c</field>
            <value>
                <elementReference>Care_Application_Details.CALWORKS_TANF__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CCB_CONTACT_CODE__c</field>
            <value>
                <elementReference>Get_CC_Code_Details.TYPE_CODE__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CCB_CONTACT_COMMENT__c</field>
            <value>
                <elementReference>Get_CC_Code_Details.TYPE_DESC_LONG__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CCB_CONTACT_DESC__c</field>
            <value>
                <elementReference>Get_CC_Code_Details.TYPE_DESC__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CC_CL_CD__c</field>
            <value>
                <stringValue>CARE</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COC_CODE__c</field>
            <value>
                <elementReference>Care_Application_Details.COC_CODE__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EMAIL_ADDRESS__c</field>
            <value>
                <elementReference>Care_Application_Details.EMAIL_ADDRESS__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ENROLLMENT_TYPE__c</field>
            <value>
                <elementReference>Care_Application_Details.ENROLLMENT_TYPE__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FIXED_INCOME__c</field>
            <value>
                <elementReference>Care_Application_Details.FIXED_INCOME__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FORM_CODE__c</field>
            <value>
                <elementReference>Care_Application_Details.FORM_CODE__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HEALTHY_FAMILIES__c</field>
            <value>
                <elementReference>Care_Application_Details.HEALTHY_FAMILIES__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IS_HIGH_USAGE__c</field>
            <value>
                <elementReference>Care_Application_Details.IS_HIGH_USAGE__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IS_RECERT__c</field>
            <value>
                <elementReference>Care_Application_Details.IS_RECERT__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IS_SIGNED__c</field>
            <value>
                <elementReference>Care_Application_Details.IS_SIGNED__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LIHEAP__c</field>
            <value>
                <elementReference>Care_Application_Details.LIHEAP__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MEDICAID_OVER65__c</field>
            <value>
                <elementReference>Care_Application_Details.MEDICAID_OVER65__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MEDICAID_UNDER65__c</field>
            <value>
                <elementReference>Care_Application_Details.MEDICAID_UNDER65__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NO_ADULT__c</field>
            <value>
                <elementReference>Care_Application_Details.NO_ADULT__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NO_CHILD__c</field>
            <value>
                <elementReference>Care_Application_Details.NO_CHILD__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PER_ID__c</field>
            <value>
                <elementReference>Care_Application_Details.PER_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PEV_FORM__c</field>
            <value>
                <elementReference>Care_Application_Details.PEV_FORM__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PREM_ID__c</field>
            <value>
                <elementReference>Care_Application_Details.PREM_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PROCESSED_DATE__c</field>
            <value>
                <elementReference>Care_Application_Details.PROCESSED_DATE__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RECEIVED_DATE__c</field>
            <value>
                <elementReference>Care_Application_Details.RECEIVED_DATE__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>REQUEST_DROP__c</field>
            <value>
                <elementReference>Care_Application_Details.REQUEST_DROP__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SOURCE_CHANNEL_TYPE__c</field>
            <value>
                <elementReference>Care_Application_Details.SOURCE_CHANNEL_TYPE__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SSI__c</field>
            <value>
                <elementReference>Care_Application_Details.SSI__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WIC__c</field>
            <value>
                <elementReference>Care_Application_Details.WIC__c</elementReference>
            </value>
        </inputAssignments>
        <object>CARE_Application__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordDeletes>
        <description>Delete Care App Enrolled SA ( If any care app enrolled SA created as per the previous verification process)</description>
        <name>Delete_Care_App_Enrolled_SA</name>
        <label>Delete Care App Enrolled SA</label>
        <locationX>4476</locationX>
        <locationY>1587</locationY>
        <connector>
            <targetReference>Set_Output_Variable</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_Error_Stage_Name_6</targetReference>
        </faultConnector>
        <filters>
            <field>APPLICATION__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCareApplicationId</elementReference>
            </value>
        </filters>
        <object>CARE_App_Enrolled_SA__c</object>
    </recordDeletes>
    <recordLookups>
        <description>Get CARE Application Details - To be used in decision boxes</description>
        <name>Care_Application_Details</name>
        <label>Get Care Application Details</label>
        <locationX>4019</locationX>
        <locationY>2980</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Customer_Requested_For_Drop</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_Error_Stage_Name_3</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCareApplicationId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CARE_Application__c</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get customer SA ID from all premises</description>
        <name>Customer_SA_ID_On_All_Premises</name>
        <label>Get All SA  Ids  from all premises</label>
        <locationX>2546</locationX>
        <locationY>2728</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_All_SA_Ids_of_Customer</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_Error_Stage_Name_2</targetReference>
        </faultConnector>
        <filters>
            <field>Person_ID_EI__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varPersonID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>EI_Site__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>SAID_EI__c</queriedFields>
        <queriedFields>Svc_Status_Code_EI__c</queriedFields>
        <queriedFields>Care_Start_Date_EI__c</queriedFields>
        <queriedFields>Care_Stop_Date_EI__c</queriedFields>
        <queriedFields>Site_Premise_ID_EI__c</queriedFields>
        <queriedFields>Account_EI__c</queriedFields>
        <queriedFields>Svc_Type_Code_EI__c</queriedFields>
        <queriedFields>CARE_DISCOUNT_TYPE__c</queriedFields>
        <queriedFields>Rate_Schedule_EI__c</queriedFields>
        <queriedFields>Billing_Account_ID_EI__c</queriedFields>
        <queriedFields>SA_Start_Date_EI__c</queriedFields>
        <queriedFields>Person_ID_EI__c</queriedFields>
        <queriedFields>Svc_Full_Adr_EI__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get Active status of SA</description>
        <name>Get_Active_Status</name>
        <label>Get Active Status</label>
        <locationX>696</locationX>
        <locationY>2570</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Active_Status_Collection</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_Error_Stage_Name</targetReference>
        </faultConnector>
        <filters>
            <field>CATEGORY__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Valid SA status</stringValue>
            </value>
        </filters>
        <filters>
            <field>END_DATE__c</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>fxTodaysDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>START_DATE__c</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>fxTodaysDate</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CARE_Type__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>TYPE_DESC__c</queriedFields>
        <sortField>CATEGORY__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get All premise of Customer</description>
        <name>Get_All_Premise_Of_Customer</name>
        <label>Get All Premise Of Customer</label>
        <locationX>6075</locationX>
        <locationY>3515</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_All_Premises</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_Error_Stage_Name_9</targetReference>
        </faultConnector>
        <filters>
            <field>Person_ID_EI__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varPersonID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>EI_Site__c</object>
        <sortField>EI_Premise__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get Care App Enrolled SA  to delete the same (if any)</description>
        <name>Get_Care_App_Enrolled_SA</name>
        <label>Get Care App Enrolled SA</label>
        <locationX>4638</locationX>
        <locationY>1982</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Care_App_Enrolled_SA_Exists</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_Error_Stage_Name_5</targetReference>
        </faultConnector>
        <filters>
            <field>APPLICATION__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCareApplicationId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CARE_App_Enrolled_SA__c</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get CARE  Valid Rate Schedules (Comma separated Values)</description>
        <name>Get_CARE_Valid_Rate_Schedules</name>
        <label>Get CARE Valid Rate Schedules</label>
        <locationX>932</locationX>
        <locationY>2578</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Rate_Schedule_Collection</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_Error_Stage_Name_1</targetReference>
        </faultConnector>
        <filters>
            <field>CATEGORY__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Valid Rate Schedule</stringValue>
            </value>
        </filters>
        <filters>
            <field>END_DATE__c</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>fxTodaysDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>START_DATE__c</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>fxTodaysDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>TYPE_CODE__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CARE</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CARE_Type__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>TYPE_DESC__c</queriedFields>
        <sortField>CATEGORY__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get CCcode details</description>
        <name>Get_CC_Code_Details</name>
        <label>Get CC Code Details</label>
        <locationX>5716</locationX>
        <locationY>3956</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Transaction_CC_code_ESA_COMP</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_Error_Stage_Name_10</targetReference>
        </faultConnector>
        <filters>
            <field>TYPE_NO__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>5011</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CARE_Type__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>TYPE_CODE__c</queriedFields>
        <queriedFields>TYPE_DESC__c</queriedFields>
        <queriedFields>TYPE_DESC_LONG__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>To check Invalid Income Doc submitted?</description>
        <name>Get_Invalid_Income_Docs</name>
        <label>Get Invalid Income Docs</label>
        <locationX>5325</locationX>
        <locationY>2969</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Income_Doc_Attached_For_All_Are_Valid</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_Error_Stage_Name_7</targetReference>
        </faultConnector>
        <filters>
            <field>CARE_Application__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCareApplicationId</elementReference>
            </value>
        </filters>
        <filters>
            <field>INCOME_SOURCE_STATUS__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Invalid</stringValue>
            </value>
        </filters>
        <filters>
            <field>IS_CATEGORICAL_FIXED__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IS_CATEGORICAL__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CARE_Household_Member_Income__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>GET Valid FERA Rate Schedules</description>
        <name>GET_Valid_FERA_Rate_Schedules</name>
        <label>GET Valid FERA Rate Schedules</label>
        <locationX>6362</locationX>
        <locationY>2951</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Convert_Rate_Schedule_String_To_Collection</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_Error_Stage_Name_8</targetReference>
        </faultConnector>
        <filters>
            <field>CATEGORY__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Valid Rate Schedule</stringValue>
            </value>
        </filters>
        <filters>
            <field>END_DATE__c</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>fxTodaysDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>START_DATE__c</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>fxTodaysDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>TYPE_CODE__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>FERA</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CARE_Type__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>TYPE_DESC__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Update Application Status =Cancelled</description>
        <name>Update_Application_Status_Cancelled</name>
        <label>Update Application Status =Cancelled</label>
        <locationX>4636</locationX>
        <locationY>2206</locationY>
        <connector>
            <targetReference>Get_Care_App_Enrolled_SA</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_Error_Stage_Name_4</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCareApplicationId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>APPLICATION_STATUS__c</field>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CCB_CONTACT_CODE__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>CCB_CONTACT_COMMENT__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>CCB_CONTACT_DESC__c</field>
        </inputAssignments>
        <object>CARE_Application__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>2888</locationY>
        <connector>
            <targetReference>Get_Active_Status</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <description>Convert Rate Schedule String To Collection</description>
        <name>Convert_Rate_Schedule_String_To_Collection</name>
        <label>Convert Rate Schedule String To Collection</label>
        <locationX>6597</locationX>
        <locationY>2948</locationY>
        <connector>
            <targetReference>Loop_Valid_SA_To_Check_For_Electric_SA</targetReference>
        </connector>
        <flowName>CARE_ConvertCommaSeparatedStringToList_Flow</flowName>
        <inputAssignments>
            <name>varInputString_Input</name>
            <value>
                <elementReference>GET_Valid_FERA_Rate_Schedules.TYPE_DESC__c</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>colValidFERARateSchedule</assignToReference>
            <name>colString_Output</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <description>Get Active Status Collection (convert Comma Separated String To List)</description>
        <name>Get_Active_Status_Collection</name>
        <label>Convert Active Status String To Collection</label>
        <locationX>811</locationX>
        <locationY>2130</locationY>
        <connector>
            <targetReference>Get_CARE_Valid_Rate_Schedules</targetReference>
        </connector>
        <flowName>CARE_ConvertCommaSeparatedStringToList_Flow</flowName>
        <inputAssignments>
            <name>varInputString_Input</name>
            <value>
                <elementReference>Get_Active_Status.TYPE_DESC__c</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>colActiveSAStatus</assignToReference>
            <name>colString_Output</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <description>Check if customer has an H RAND CERT or a C RANDOM AFTER the VH/VHE code (in the last two years). If so terminate the transaction with Status=Cancelled.</description>
        <name>Get_Cancellation_Qualification_Status</name>
        <label>Get Cancellation Qualification Status</label>
        <locationX>4647</locationX>
        <locationY>2773</locationY>
        <connector>
            <targetReference>Is_Qualified_For_Cancellation</targetReference>
        </connector>
        <flowName>CARE_CheckCustomer2YearCCCode_Flow</flowName>
        <inputAssignments>
            <name>varPersonId_Input</name>
            <value>
                <elementReference>varPersonID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>IsHUVerification</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varIsQualifiedForCancellation</assignToReference>
            <name>varIsQualifiedForCancellation_Output</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <description>Check last 2 year CC code after V/VE code and decide cancelling the application</description>
        <name>Get_Cancellation_Qualification_Status2</name>
        <label>Get Cancellation Qualification Status</label>
        <locationX>5490</locationX>
        <locationY>2636</locationY>
        <connector>
            <targetReference>Is_Qualified_For_Cancel_Application</targetReference>
        </connector>
        <flowName>CARE_CheckCustomer2YearCCCode_Flow</flowName>
        <inputAssignments>
            <name>varPersonId_Input</name>
            <value>
                <elementReference>varPersonID</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varIsQualifiedForCancellation</assignToReference>
            <name>varIsQualifiedForCancellation_Output</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <description>Get Invalid Doc Custom Description and Type Number To be stamped in Transaction</description>
        <name>Get_Invalid_Doc_Custom_Description</name>
        <label>Get Invalid Doc Custom Description</label>
        <locationX>5628</locationX>
        <locationY>1650</locationY>
        <connector>
            <targetReference>Update_CC_Code_D</targetReference>
        </connector>
        <flowName>CARE_Get_Invalid_Docs_Description_Flow</flowName>
        <inputAssignments>
            <name>varApplicationId_Input</name>
            <value>
                <elementReference>varCareApplicationId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varIsHUVerification_Input</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varCustomLongDescriptionForDCode</assignToReference>
            <name>varInvalidDocsLongDescritpion_Output</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varDCodeTypeNumber</assignToReference>
            <name>varTypeNumberToBeStamped_Output</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <description>Get Rate Schedule Collection (Convert Comma Separated String)</description>
        <name>Get_Rate_Schedule_Collection</name>
        <label>Convert Rate Schedule String To Collection</label>
        <locationX>971</locationX>
        <locationY>2134</locationY>
        <connector>
            <targetReference>Loop_Application_ID</targetReference>
        </connector>
        <flowName>CARE_ConvertCommaSeparatedStringToList_Flow</flowName>
        <inputAssignments>
            <name>varInputString_Input</name>
            <value>
                <elementReference>Get_CARE_Valid_Rate_Schedules.TYPE_DESC__c</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>colValidRateSchedules</assignToReference>
            <name>colString_Output</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <description>if customer has a C AE CARE (ESA, LIHEAP, REACH) or a H RAND CERT or a RANDOM CERT or a C RANDOM AFTER the V/VE code (in the last two years). Then Transaction Status=Cancelled.</description>
        <name>GetCancellationQualificationStatus</name>
        <label>Get Cancellation Qualification Status</label>
        <locationX>5083</locationX>
        <locationY>2692</locationY>
        <connector>
            <targetReference>Is_Qualified_For_Cancel</targetReference>
        </connector>
        <flowName>CARE_CheckCustomer2YearCCCode_Flow</flowName>
        <inputAssignments>
            <name>varPersonId_Input</name>
            <value>
                <elementReference>varPersonID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>IsHUVerification</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varIsQualifiedForCancellation</assignToReference>
            <name>varIsQualifiedForCancellation_Output</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <description>Log Exception</description>
        <name>Log_Exception</name>
        <label>Log Exception</label>
        <locationX>1092</locationX>
        <locationY>214</locationY>
        <flowName>CARE_Exception_Logging_Flow</flowName>
        <inputAssignments>
            <name>varErrorAdditionalInfo_Input</name>
            <value>
                <elementReference>fxErrorAdditionalInfo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varFlowExceptionMessage_Input</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varFlowName_Input</name>
            <value>
                <stringValue>CARE HU Verification Process Flow</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varStageName_Input</name>
            <value>
                <elementReference>varStageName</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>Update CC Code=C RANDOM 2 Years</description>
        <name>Update_CC_Code_C_RANDOM_2_Years</name>
        <label>Update CC Code=C RANDOM 2 Years</label>
        <locationX>6924</locationX>
        <locationY>3449</locationY>
        <flowName>CARE_Update_CC_Code_PEV_HU_Flow</flowName>
        <inputAssignments>
            <name>colValidFERARateSchedule_Input</name>
            <value>
                <elementReference>colValidFERARateSchedule</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recColSAIdsOfOtherPremiseDiscount_Input</name>
            <value>
                <elementReference>recColSAIdsOfOtherPremiseDiscount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recColSAIdsSelectedPremiseDiscount_Input</name>
            <value>
                <elementReference>recColSAIdsOfSelectedPremiseDiscount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recColValidSAIdsOfSelectedPremise_Input</name>
            <value>
                <elementReference>recColValidSAIdsOfSelectedPremise</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varCareApplicationId_Input</name>
            <value>
                <elementReference>varCareApplicationId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varExistingDiscountType_Input</name>
            <value>
                <elementReference>varExistingDiscountType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varHasDiscountOnOtherPremise_Input</name>
            <value>
                <elementReference>varHasDiscountOnOtherPremise</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varHasDiscountOnSelectedPremise_Input</name>
            <value>
                <elementReference>varHasDiscountOnSelectedPremise</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varIsApplicationAccepted_Input</name>
            <value>
                <elementReference>varIsApplicationAccepted</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varIsCareAppEnrolledSARequired_Input</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varIsFERADiscount_Input</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varNoOfYears_Input</name>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varQualifiedBy_Input</name>
            <value>
                <stringValue>Income</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varTypeNumber_Input</name>
            <value>
                <stringValue>122</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varCCCode_Output</assignToReference>
            <name>varCCCode_Output</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varCCCodeDescription_Output</assignToReference>
            <name>varCCCodeDescription_Output</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varCCCodeLongDescription_Output</assignToReference>
            <name>varCCCodeLongDescription_Output</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <description>PEV application with CC=D</description>
        <name>Update_CC_Code_D</name>
        <label>Update CC Code=D</label>
        <locationX>5590</locationX>
        <locationY>1419</locationY>
        <flowName>CARE_Update_CC_Code_PEV_HU_Flow</flowName>
        <inputAssignments>
            <name>varCareApplicationId_Input</name>
            <value>
                <elementReference>varCareApplicationId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varCustomLongDescription_Input</name>
            <value>
                <elementReference>varCustomLongDescriptionForDCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varIsApplicationAccepted_Input</name>
            <value>
                <elementReference>varIsApplicationAccepted</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varTypeNumber_Input</name>
            <value>
                <elementReference>varDCodeTypeNumber</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varCCCode_Output</assignToReference>
            <name>varCCCode_Output</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varCCCodeDescription_Output</assignToReference>
            <name>varCCCodeDescription_Output</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varCCCodeLongDescription_Output</assignToReference>
            <name>varCCCodeLongDescription_Output</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <description>CC=D (Description:HU PEV Form?)</description>
        <name>Update_CC_Code_D_173</name>
        <label>Update CC Code=D (173)</label>
        <locationX>5203</locationX>
        <locationY>2320</locationY>
        <flowName>CARE_Update_CC_Code_PEV_HU_Flow</flowName>
        <inputAssignments>
            <name>varCareApplicationId_Input</name>
            <value>
                <elementReference>varCareApplicationId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varIsApplicationAccepted_Input</name>
            <value>
                <elementReference>varIsApplicationAccepted</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varTypeNumber_Input</name>
            <value>
                <stringValue>173</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varCCCode_Output</assignToReference>
            <name>varCCCode_Output</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varCCCodeDescription_Output</assignToReference>
            <name>varCCCodeDescription_Output</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varCCCodeLongDescription_Output</assignToReference>
            <name>varCCCodeLongDescription_Output</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <description>CC Code=DN ;HU Nothing Attached</description>
        <name>Update_CC_Code_DN_170</name>
        <label>Update CC Code=DN (170)</label>
        <locationX>4823</locationX>
        <locationY>2671</locationY>
        <flowName>CARE_Update_CC_Code_PEV_HU_Flow</flowName>
        <inputAssignments>
            <name>varCareApplicationId_Input</name>
            <value>
                <elementReference>varCareApplicationId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varIsApplicationAccepted_Input</name>
            <value>
                <elementReference>varIsApplicationAccepted</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varTypeNumber_Input</name>
            <value>
                <stringValue>170</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varCCCode_Output</assignToReference>
            <name>varCCCode_Output</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varCCCodeDescription_Output</assignToReference>
            <name>varCCCodeDescription_Output</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varCCCodeLongDescription_Output</assignToReference>
            <name>varCCCodeLongDescription_Output</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <description>Update CC Code =Drop ; Based on Existing Discount Type
Note: For PEV separate type number exists based on discount type.</description>
        <name>Update_CC_Code_Drop</name>
        <label>Update CC Code =Drop</label>
        <locationX>4357</locationX>
        <locationY>2272</locationY>
        <flowName>CARE_Update_CC_Code_PEV_HU_Flow</flowName>
        <inputAssignments>
            <name>recColSAIdsOfOtherPremiseDiscount_Input</name>
            <value>
                <elementReference>recColSAIdsOfOtherPremiseDiscount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recColSAIdsSelectedPremiseDiscount_Input</name>
            <value>
                <elementReference>recColSAIdsOfSelectedPremiseDiscount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recColValidSAIdsOfSelectedPremise_Input</name>
            <value>
                <elementReference>recColValidSAIdsOfSelectedPremise</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varCareApplicationId_Input</name>
            <value>
                <elementReference>varCareApplicationId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varExistingDiscountType_Input</name>
            <value>
                <elementReference>varExistingDiscountType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varHasDiscountOnOtherPremise_Input</name>
            <value>
                <elementReference>varHasDiscountOnOtherPremise</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varHasDiscountOnSelectedPremise_Input</name>
            <value>
                <elementReference>varHasDiscountOnSelectedPremise</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varIsApplicationAccepted_Input</name>
            <value>
                <elementReference>varIsApplicationAccepted</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varTypeNumber_Input</name>
            <value>
                <elementReference>varDropTypeNumber</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varCCCode_Output</assignToReference>
            <name>varCCCode_Output</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varCCCodeDescription_Output</assignToReference>
            <name>varCCCodeDescription_Output</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varCCCodeLongDescription_Output</assignToReference>
            <name>varCCCodeLongDescription_Output</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <description>Update CC Code=H RAND CERT  2Years.
Description= PPEV Approved - EPEV</description>
        <name>Update_CC_Code_H_RAND_CERT_2</name>
        <label>Update CC Code=H RAND CERT  2Years</label>
        <locationX>6087</locationX>
        <locationY>3271</locationY>
        <connector>
            <targetReference>Is_Application_Accepted</targetReference>
        </connector>
        <flowName>CARE_Update_CC_Code_PEV_HU_Flow</flowName>
        <inputAssignments>
            <name>recColSAIdsOfOtherPremiseDiscount_Input</name>
            <value>
                <elementReference>recColSAIdsOfOtherPremiseDiscount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recColSAIdsSelectedPremiseDiscount_Input</name>
            <value>
                <elementReference>recColSAIdsOfSelectedPremiseDiscount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recColValidSAIdsOfSelectedPremise_Input</name>
            <value>
                <elementReference>recColValidSAIdsOfSelectedPremise</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varCareApplicationId_Input</name>
            <value>
                <elementReference>varCareApplicationId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varExistingDiscountType_Input</name>
            <value>
                <elementReference>varExistingDiscountType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varHasDiscountOnOtherPremise_Input</name>
            <value>
                <elementReference>varHasDiscountOnOtherPremise</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varHasDiscountOnSelectedPremise_Input</name>
            <value>
                <elementReference>varHasDiscountOnSelectedPremise</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varIsApplicationAccepted_Input</name>
            <value>
                <elementReference>varIsApplicationAccepted</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varIsCareAppEnrolledSARequired_Input</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varIsCAREDiscount_Input</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varNoOfYears_Input</name>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varQualifiedBy_Input</name>
            <value>
                <stringValue>Income</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varTypeNumber_Input</name>
            <value>
                <stringValue>126</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varCCCode_Output</assignToReference>
            <name>varCCCode_Output</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varCCCodeDescription_Output</assignToReference>
            <name>varCCCodeDescription_Output</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varCCCodeLongDescription_Output</assignToReference>
            <name>varCCCodeLongDescription_Output</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Update_CC_Code_IR</name>
        <label>Update CC Code=IR(6023)</label>
        <locationX>3773</locationX>
        <locationY>2705</locationY>
        <flowName>CARE_Update_CC_Code_PEV_HU_Flow</flowName>
        <inputAssignments>
            <name>recColValidSAIdsOfSelectedPremise_Input</name>
            <value>
                <elementReference>recColValidSAIdsOfSelectedPremise</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varCareApplicationId_Input</name>
            <value>
                <elementReference>varCareApplicationId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varIsApplicationAccepted_Input</name>
            <value>
                <elementReference>varIsApplicationAccepted</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varTypeNumber_Input</name>
            <value>
                <stringValue>6023</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varCCCode_Output</assignToReference>
            <name>varCCCode_Output</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varCCCodeDescription_Output</assignToReference>
            <name>varCCCodeDescription_Output</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varCCCodeLongDescription_Output</assignToReference>
            <name>varCCCodeLongDescription_Output</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <description>CC=J.  (Type Description: HU PEV Denied)</description>
        <name>Update_CC_Code_J_172</name>
        <label>Update CC Code=J(102)</label>
        <locationX>7268</locationX>
        <locationY>3406</locationY>
        <flowName>CARE_Update_CC_Code_PEV_HU_Flow</flowName>
        <inputAssignments>
            <name>recColSAIdsOfOtherPremiseDiscount_Input</name>
            <value>
                <elementReference>recColSAIdsOfOtherPremiseDiscount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recColSAIdsSelectedPremiseDiscount_Input</name>
            <value>
                <elementReference>recColSAIdsOfSelectedPremiseDiscount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recColValidSAIdsOfSelectedPremise_Input</name>
            <value>
                <elementReference>recColValidSAIdsOfSelectedPremise</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varCareApplicationId_Input</name>
            <value>
                <elementReference>varCareApplicationId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varExistingDiscountType_Input</name>
            <value>
                <elementReference>varExistingDiscountType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varHasDiscountOnOtherPremise_Input</name>
            <value>
                <elementReference>varHasDiscountOnOtherPremise</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varHasDiscountOnSelectedPremise_Input</name>
            <value>
                <elementReference>varHasDiscountOnSelectedPremise</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varIsApplicationAccepted_Input</name>
            <value>
                <elementReference>varIsApplicationAccepted</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varTypeNumber_Input</name>
            <value>
                <stringValue>172</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varCCCode_Output</assignToReference>
            <name>varCCCode_Output</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varCCCodeDescription_Output</assignToReference>
            <name>varCCCodeDescription_Output</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varCCCodeLongDescription_Output</assignToReference>
            <name>varCCCodeLongDescription_Output</name>
        </outputAssignments>
    </subflows>
    <variables>
        <description>Store Active Status codes</description>
        <name>colActiveSAStatus</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Only list of Application id can be passed to Flow from Apex.Expected only one record in this collection.</description>
        <name>colCareApplicationIDs_Input</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Application Accepted or Not: Yes /No</description>
        <name>colIsApplicationAccepted_Input</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Person id input.Only one value is expected.</description>
        <name>colPersonIDs_Input</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Premise IDs Passed from UI as an Input to this flow</description>
        <name>colPremiseIDs_Input</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Valid FERA Rate Schedule</description>
        <name>colValidFERARateSchedule</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Valid Rate Schedules (CARE)</description>
        <name>colValidRateSchedules</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Loop variable to store each record</description>
        <name>LoopVarCustomerDiscount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CARE_CI_SA__c</objectType>
    </variables>
    <variables>
        <description>Loop variable to hold SA ID</description>
        <name>loopVarSAID</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>EI_Site__c</objectType>
    </variables>
    <variables>
        <name>recColCategoricalDocs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CARE_Household_Member_Income__c</objectType>
    </variables>
    <variables>
        <description>House Hold Details of PEV Application (Number of Person Added)</description>
        <name>recColHouseHoldDetails</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CARE_Household_Detail__c</objectType>
    </variables>
    <variables>
        <description>Record Collection to store each member income</description>
        <name>recColMemberIncome</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CARE_Household_Member_Income__c</objectType>
    </variables>
    <variables>
        <description>SA details of Other Discounted Premise (If customer has discount on other premise, Need to drop before giving discount</description>
        <name>recColSAIdsOfOtherPremiseDiscount</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>EI_Site__c</objectType>
    </variables>
    <variables>
        <description>Discounted SA Ids of Selected Premise</description>
        <name>recColSAIdsOfSelectedPremiseDiscount</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>EI_Site__c</objectType>
    </variables>
    <variables>
        <description>Record collection variable to store all valid SA of customer on all premises.</description>
        <name>recColValidSAIdsOfAllPremises</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>EI_Site__c</objectType>
    </variables>
    <variables>
        <description>Record Collection to Store All Valid SA ID Details of Selected Premise</description>
        <name>recColValidSAIdsOfSelectedPremise</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>EI_Site__c</objectType>
    </variables>
    <variables>
        <name>varCAECAREInLast2Years</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Main Application Id Passed From UI</description>
        <name>varCareApplicationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>CC Code</description>
        <name>varCCCode_Output</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Variable to store CC Code Description output of the Full Qualification Logic.</description>
        <name>varCCCodeDescription_Output</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>C</stringValue>
        </value>
    </variables>
    <variables>
        <description>Long Description of CC Code</description>
        <name>varCCCodeLongDescription_Output</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Custom Long Description created for invalid D codes (Invalid Income Documents)</description>
        <name>varCustomLongDescriptionForDCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Type Number used for stamping CC Code for multiple Invalid Income Documents Scenarios</description>
        <name>varDCodeTypeNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Variable to store Income qualification output - CARE/FERA/Not Eligible</description>
        <name>varDiscountType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Not Eligible</stringValue>
        </value>
    </variables>
    <variables>
        <description>Variable to hold Type Number</description>
        <name>varDropTypeNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Existing Discount Type</description>
        <name>varExistingDiscountType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Variable to flag if customer has discount on any other premise than selected premise</description>
        <name>varHasDiscountOnOtherPremise</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Flag: Discount on selected premise</description>
        <name>varHasDiscountOnSelectedPremise</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Flag for setting  Electric SA availability</description>
        <name>varHasElectricSA</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Accept button click flag</description>
        <name>varIsApplicationAccepted</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Variable to store whether customer is care customer or not</description>
        <name>varIsCAREFERACustomer</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Is Current SA in loop is having valid Rate Schedule</description>
        <name>varIsCurrentSARateScheduleValid</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Is Customer enrolled in ESA in last 10 year</description>
        <name>varIsESAEnrolled</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Flag</description>
        <name>varIsIncomeDocAvailableForAll</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Is Joint Filing?</description>
        <name>varIsJointFiling</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Variable to store the cancellation flag</description>
        <name>varIsQualifiedForCancellation</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Flag</description>
        <name>varIsValidCategoryDocAvailable</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Flag ,if any of the fixed doc submitted is valid</description>
        <name>varIsValidFixedIncomeDocAvailable</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Get Member Count</description>
        <name>varMemberCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>Number of Income Docs Attached</description>
        <name>varNumberOfIncomeDocs</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>Person ID Passed from UI</description>
        <name>varPersonID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stage Name or Error Element (For Exception Logging)</description>
        <name>varStageName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Type Number to be stamped</description>
        <name>varTypeNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
