force-app/main/default/flows/CARE_RecertificationProcess_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Check Income Qualification</description>
        <name>Check_Income_Qualification</name>
        <label>Check Income Qualification</label>
        <locationX>2101</locationX>
        <locationY>1281</locationY>
        <actionName>CARE_IncomeQualificationController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Is_Care_Qualified</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_Error_Stage_Element</targetReference>
        </faultConnector>
        <inputParameters>
            <name>dTotalIncome</name>
            <value>
                <elementReference>fxTotalIncome</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>iNoOfHouseholds</name>
            <value>
                <elementReference>fxNoOfHousehold</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>varDiscountType</assignToReference>
            <name>sDiscountType</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <description>Check income Qualificaion</description>
        <name>Check_Income_Qualification_2</name>
        <label>Check Income Qualifiication</label>
        <locationX>2183</locationX>
        <locationY>1901</locationY>
        <actionName>CARE_IncomeQualificationController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Is_CARE_Income_Qualified</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_Error_Stage_Element_3</targetReference>
        </faultConnector>
        <inputParameters>
            <name>dTotalIncome</name>
            <value>
                <elementReference>fxTotalIncome</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>iNoOfHouseholds</name>
            <value>
                <elementReference>fxNoOfHousehold</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>varDiscountType</assignToReference>
            <name>sDiscountType</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <description>Check Income Qualified</description>
        <name>Check_Income_Qualified</name>
        <label>Get Income Qualification</label>
        <locationX>993</locationX>
        <locationY>2003</locationY>
        <actionName>CARE_IncomeQualificationController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Has_Income_Qualified</targetReference>
        </connector>
        <inputParameters>
            <name>dTotalIncome</name>
            <value>
                <elementReference>fxTotalIncome</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>iNoOfHouseholds</name>
            <value>
                <elementReference>fxNoOfHousehold</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>varDiscountType</assignToReference>
            <name>sDiscountType</name>
        </outputParameters>
    </actionCalls>
    <assignments>
        <description>Set Error Stage(Element)</description>
        <name>Set_Error_Stage_Element</name>
        <label>Set Error Stage(Element)</label>
        <locationX>778</locationX>
        <locationY>1266</locationY>
        <assignmentItems>
            <assignToReference>varStageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Check_Income_Qualification</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Log_Exception</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set Error Stage(Element)</description>
        <name>Set_Error_Stage_Element_1</name>
        <label>Set Error Stage(Element)</label>
        <locationX>596</locationX>
        <locationY>1281</locationY>
        <assignmentItems>
            <assignToReference>varStageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CARE_Application_Details</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Log_Exception</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set Error Stage(Element)</description>
        <name>Set_Error_Stage_Element_2</name>
        <label>Set Error Stage(Element)</label>
        <locationX>1860</locationX>
        <locationY>93</locationY>
        <assignmentItems>
            <assignToReference>varStageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Get_Valid_FERA_Rate_Schedules</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Log_Exception</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set Error Stage(Element)</description>
        <name>Set_Error_Stage_Element_3</name>
        <label>Set Error Stage(Element)</label>
        <locationX>1987</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>varStageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Check_Income_Qualification_2</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Log_Exception</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set FERA Valid Flag =True</description>
        <name>Set_FERA_RS_Valid_Flag_True</name>
        <label>Set FERA RS Valid Flag =True</label>
        <locationX>2508</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>varIsFERARateScheduleValid</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Valid_SA_To_Check_Electric_SA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set Has Electric SA Flag True</description>
        <name>Set_Has_Electric_SA_Flag_True</name>
        <label>Set Has Electric SA Flag True</label>
        <locationX>3138</locationX>
        <locationY>1193</locationY>
        <assignmentItems>
            <assignToReference>varHasElectricSA</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Valid_RS_Flag_False</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set Qualified By =Categorical</description>
        <name>Set_Qualified_By_Categorical</name>
        <label>Set Qualified By =Categorical</label>
        <locationX>1839</locationX>
        <locationY>1344</locationY>
        <assignmentItems>
            <assignToReference>varQualifiedBy</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Categorical</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Customer_on_FERA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set Qualified By Categorical</description>
        <name>Set_Qualified_By_Categorical_2</name>
        <label>Set Qualified By Categorical</label>
        <locationX>1765</locationX>
        <locationY>1830</locationY>
        <assignmentItems>
            <assignToReference>varQualifiedBy</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Categorical</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Customer_On_FERADiscount</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set Qualified By =Income</description>
        <name>Set_Qualified_By_Income</name>
        <label>Set Qualified By =Income</label>
        <locationX>2072</locationX>
        <locationY>1601</locationY>
        <assignmentItems>
            <assignToReference>varQualifiedBy</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Income</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Fixed_Income_Checked</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set Valid RS Flag False</description>
        <name>Set_Valid_RS_Flag_False</name>
        <label>Set Valid RS Flag False</label>
        <locationX>3142</locationX>
        <locationY>1017</locationY>
        <assignmentItems>
            <assignToReference>varIsCurrentSARateScheduleValid</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Valid_FERA_Rate_Schedule</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set Valid RS Flag True</description>
        <name>Set_Valid_RS_Flag_True</name>
        <label>Set Valid RS Flag True</label>
        <locationX>3152</locationX>
        <locationY>527</locationY>
        <assignmentItems>
            <assignToReference>varIsCurrentSARateScheduleValid</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Valid_FERA_Rate_Schedule</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Categorical SSI  or and Medical Age 65 and Over?</description>
        <name>Categorical_SSI</name>
        <label>Categorical SSI /Medical Age 65?</label>
        <locationX>1734</locationX>
        <locationY>1603</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_CategoricalSSI</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>CARE_Application_Details.MEDICAID_OVER65__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CARE_Application_Details.SSI__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Qualified_By_Categorical</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No_CategorySSI</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>CARE_Application_Details.MEDICAID_OVER65__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CARE_Application_Details.SSI__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Other_PublicAssistance_Category_Checked</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <description>Does Customer Has Electric SA ?</description>
        <name>Does_Customer_Has_Electric_SA</name>
        <label>Does Customer Has Electric SA ?</label>
        <locationX>2857</locationX>
        <locationY>1169</locationY>
        <defaultConnector>
            <targetReference>Loop_Valid_SA_To_Check_Electric_SA</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Has_ElectricSA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loopVarSAID.Svc_Type_Code_EI__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>E</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Has_Electric_SA_Flag_True</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Is customer FERA Qualified</description>
        <name>FERA_Income_Qualified</name>
        <label>FERA Income Qualified?</label>
        <locationX>2893</locationX>
        <locationY>2653</locationY>
        <defaultConnector>
            <targetReference>Update_CC_Code_J_6025</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_FERA_Qualified</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varDiscountType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FERA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Valid_Rate_Schedule_SA_Exists_For_FERA</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Fixed Income Checked on Section  2B</description>
        <name>Fixed_Income_Checked</name>
        <label>Fixed Income Checked?</label>
        <locationX>2199</locationX>
        <locationY>1662</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_FixedIncomeChecked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CARE_Application_Details.FIXED_INCOME__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Income_Qualification</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No_FixedIncomeChecked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CARE_Application_Details.FIXED_INCOME__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Income_Qualification_2</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <description>Has Customer Got VH in last 2 years</description>
        <name>Has_Customer_Got_VH</name>
        <label>Has Customer Got VH?</label>
        <locationX>1360</locationX>
        <locationY>876</locationY>
        <defaultConnector>
            <targetReference>Update_CC_Code_6027_VE</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_VH</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCustomerHas_VH_InLast2Years</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_CC_Code_6028_VHE</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Is Customer Eligible for Discount?</description>
        <name>Has_Income_Qualified</name>
        <label>Has Income Qualified?</label>
        <locationX>1018</locationX>
        <locationY>2464</locationY>
        <defaultConnector>
            <targetReference>Update_CC_Code_J_6025</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Eligible</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varDiscountType</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Not Eligible</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_CC_Code_6021_MIM</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Household &gt;3 and has Electric SA? Need to update logic</description>
        <name>Household_Has_Electric_SA</name>
        <label>Household &gt;3 and has Electric SA?</label>
        <locationX>3072</locationX>
        <locationY>2045</locationY>
        <defaultConnector>
            <targetReference>Update_CC_Code_J_6025</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Has_Electric_SA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fxNoOfHousehold</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varHasElectricSA</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FERA_Income_Qualified</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Is Annual Income Provided?</description>
        <name>Is_Annual_Income_Provided</name>
        <label>Is Annual Income Provided?</label>
        <locationX>777</locationX>
        <locationY>1887</locationY>
        <defaultConnector>
            <targetReference>Update_CC_Code_6021_MIM</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_AnnualIncome_Available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CARE_Application_Details.ANNUAL_HOUSEHOLD_INCOME__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Income_Qualified</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check Application is signed?</description>
        <name>Is_Application_Signed</name>
        <label>Is Signed?</label>
        <locationX>979</locationX>
        <locationY>1665</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Signed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CARE_Application_Details.IS_SIGNED__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Name_Change_Requested</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>Not_Signed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CARE_Application_Details.IS_SIGNED__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Annual_Income_Provided</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <description>Is_CARE_Income_Qualified</description>
        <name>Is_CARE_Income_Qualified</name>
        <label>Is CARE Qualified?</label>
        <locationX>2353</locationX>
        <locationY>2083</locationY>
        <defaultConnector>
            <targetReference>Get_Valid_FERA_Rate_Schedules</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_CARE_Income_Qualified</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varDiscountType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CARE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Customer_On_FERADiscount</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Is Care Qualified</description>
        <name>Is_Care_Qualified</name>
        <label>Is Care Qualified?</label>
        <locationX>2181</locationX>
        <locationY>928</locationY>
        <defaultConnector>
            <targetReference>Get_Valid_FERA_Rate_Schedules</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Care_Qualified</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varDiscountType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CARE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Customer_on_FERA</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Is Customer on FERA?</description>
        <name>Is_Customer_on_FERA</name>
        <label>Is Customer on FERA?</label>
        <locationX>1772</locationX>
        <locationY>1092</locationY>
        <defaultConnector>
            <targetReference>Four_Year_CARE_Recert_6019</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_FERA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varExistingDiscountType_Input</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FERA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Customer_CC_Code_For_Last_2Years</targetReference>
            </connector>
            <label>Yes FERA</label>
        </rules>
    </decisions>
    <decisions>
        <description>Is Customer On FERA Discount</description>
        <name>Is_Customer_On_FERADiscount</name>
        <label>Is Customer On FERA?</label>
        <locationX>1588</locationX>
        <locationY>1948</locationY>
        <defaultConnector>
            <targetReference>Two_Year_CARE_Recertified_R_6016</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varExistingDiscountType_Input</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FERA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Customer_CC_Code_For_Last_2Years</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Is FERA Rate Schedule Valid?</description>
        <name>Is_FERA_Rate_Schedule_Valid</name>
        <label>Is FERA Rate Schedule Valid?</label>
        <locationX>3402</locationX>
        <locationY>640</locationY>
        <defaultConnector>
            <targetReference>Loop_Valid_FERA_Rate_Schedule</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Valid_FERA_Rate_Schedule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Valid_FERA_Rate_Schedule</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>loopVarSAID.Rate_Schedule_EI__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Valid_RS_Flag_True</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Is_Name_Change_Requested</description>
        <name>Is_Name_Change_Requested</name>
        <label>Is Name Change Requested?</label>
        <locationX>1284</locationX>
        <locationY>1668</locationY>
        <defaultConnector>
            <targetReference>Categorical_SSI</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Name_Change_Requested</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CARE_Application_Details.NEED_NAME_CHANGE__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_CC_Code_6022_Name</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Is Rate Schedule Valid?</description>
        <name>Is_RS_Valid</name>
        <label>Is RS Valid?</label>
        <locationX>2862</locationX>
        <locationY>663</locationY>
        <defaultConnector>
            <targetReference>Loop_Valid_SA_To_Check_Electric_SA</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_RS_Valid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varIsCurrentSARateScheduleValid</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_FERA_RS_Valid_Flag_True</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Is Valid Rate Schedule SA Exists For FERA?</description>
        <name>Is_Valid_Rate_Schedule_SA_Exists_For_FERA</name>
        <label>Is Valid Rate Schedule SA Exists For FERA?</label>
        <locationX>3298</locationX>
        <locationY>2614</locationY>
        <defaultConnector>
            <targetReference>Update_CC_Code_IR_6023</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Valid_RS_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varIsFERARateScheduleValid</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Two_Year_FERA_Recertified_R_6018</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Other Categories Checked?</description>
        <name>Other_PublicAssistance_Category_Checked</name>
        <label>Other Public Assistance Category Checked?</label>
        <locationX>1960</locationX>
        <locationY>1750</locationY>
        <defaultConnector>
            <targetReference>Set_Qualified_By_Income</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Other_PublicAssistance</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>CARE_Application_Details.LIHEAP__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CARE_Application_Details.WIC__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CARE_Application_Details.CALFRESH_SNAP__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CARE_Application_Details.CALWORKS_TANF__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CARE_Application_Details.HEAD_START_INCOME__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CARE_Application_Details.HEALTHY_FAMILIES__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CARE_Application_Details.NSLP__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CARE_Application_Details.BUREAU_INDIAN_AFFAIRS__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CARE_Application_Details.MEDICAID_UNDER65__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Qualified_By_Categorical_2</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Re certification Process. If customer qualifies for re certification ,then this flow will get fired.</description>
    <formulas>
        <description>Two years before date from toda</description>
        <name>fxDateTwoYearsBefore</name>
        <dataType>Date</dataType>
        <expression>Today()-365</expression>
    </formulas>
    <formulas>
        <description>Error Additional Details</description>
        <name>fxErrorAdditionalInfo</name>
        <dataType>String</dataType>
        <expression>&apos;Application Id: &apos;+{!varCareApplicationId_Input}</expression>
    </formulas>
    <formulas>
        <description>No of house hold = No:of Adults+No:of Children</description>
        <name>fxNoOfHousehold</name>
        <dataType>Number</dataType>
        <expression>{!CARE_Application_Details.NO_ADULT__c}+{!CARE_Application_Details.NO_CHILD__c}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <description>Todays date</description>
        <name>fxToday</name>
        <dataType>Date</dataType>
        <expression>Today()</expression>
    </formulas>
    <formulas>
        <description>Store Total Income of Customer in  a variable</description>
        <name>fxTotalIncome</name>
        <dataType>Currency</dataType>
        <expression>{!CARE_Application_Details.ANNUAL_HOUSEHOLD_INCOME__c}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>CARE Recertification Process Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CARE Recertification Process Flow</label>
    <loops>
        <description>Loop Valid FERA Rate Schedule</description>
        <name>Loop_Valid_FERA_Rate_Schedule</name>
        <label>Loop Valid FERA Rate Schedule</label>
        <locationX>3147</locationX>
        <locationY>858</locationY>
        <collectionReference>colValidFERARateSchedule</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_FERA_Rate_Schedule_Valid</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Is_RS_Valid</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Loop Valid SA To Check Electric SA</description>
        <name>Loop_Valid_SA_To_Check_Electric_SA</name>
        <label>Loop Through Valid SA To Check Electric SA</label>
        <locationX>2471</locationX>
        <locationY>986</locationY>
        <assignNextValueToReference>loopVarSAID</assignNextValueToReference>
        <collectionReference>recColValidSAIdsOfSelectedPremise_Input</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Does_Customer_Has_Electric_SA</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Household_Has_Electric_SA</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get application details to Process Fresh Enrollment.</description>
        <name>CARE_Application_Details</name>
        <label>Get Application Details</label>
        <locationX>584</locationX>
        <locationY>1664</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Application_Signed</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_Error_Stage_Element_1</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCareApplicationId_Input</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CARE_Application__c</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get Valid FERA Rate Schedules</description>
        <name>Get_Valid_FERA_Rate_Schedules</name>
        <label>Get Valid FERA Rate Schedules</label>
        <locationX>2219</locationX>
        <locationY>707</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Convert_Rate_Schedule_String_To_Collection</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_Error_Stage_Element_2</targetReference>
        </faultConnector>
        <filters>
            <field>CATEGORY__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Valid Rate Schedule</stringValue>
            </value>
        </filters>
        <filters>
            <field>END_DATE__c</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>fxToday</elementReference>
            </value>
        </filters>
        <filters>
            <field>START_DATE__c</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>fxToday</elementReference>
            </value>
        </filters>
        <filters>
            <field>TYPE_CODE__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>FERA</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CARE_Type__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>TYPE_DESC__c</queriedFields>
        <sortField>CATEGORY__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>1647</locationY>
        <connector>
            <targetReference>CARE_Application_Details</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <description>Convert Rate Schedule String To Collection</description>
        <name>Convert_Rate_Schedule_String_To_Collection</name>
        <label>Convert Rate Schedule String To Collection</label>
        <locationX>2336</locationX>
        <locationY>599</locationY>
        <connector>
            <targetReference>Loop_Valid_SA_To_Check_Electric_SA</targetReference>
        </connector>
        <flowName>CARE_ConvertCommaSeparatedStringToList_Flow</flowName>
        <inputAssignments>
            <name>varInputString_Input</name>
            <value>
                <elementReference>Get_Valid_FERA_Rate_Schedules.TYPE_DESC__c</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>colValidFERARateSchedule</assignToReference>
            <name>colString_Output</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <description>Four Year CARE Recertified(6019)</description>
        <name>Four_Year_CARE_Recert_6019</name>
        <label>Four Year CARE Recertified(6019)</label>
        <locationX>1845</locationX>
        <locationY>732</locationY>
        <flowName>CARE_UpdateCCCode_Flow</flowName>
        <inputAssignments>
            <name>recColSAIdsOfOtherPremiseDiscount_Input</name>
            <value>
                <elementReference>recColSAIdsOfOtherPremiseDiscount_Input</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recColValidSAIdsOfSelectedPremise_Input</name>
            <value>
                <elementReference>recColValidSAIdsOfSelectedPremise_Input</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varCareApplicationId_Input</name>
            <value>
                <elementReference>varCareApplicationId_Input</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varExistingDiscountType_Input</name>
            <value>
                <elementReference>varExistingDiscountType_Input</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varHasDiscountOnOtherPremise_Input</name>
            <value>
                <elementReference>varHasDiscountOnOtherPremise_Input</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varIsApplicationAccepted_Input</name>
            <value>
                <elementReference>varIsApplicationAccepted_Input</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varIsCareAppEnrolledSARequired_Input</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varIsCAREDiscount_Input</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varNoOfYears_Input</name>
            <value>
                <numberValue>4.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varQualifiedBy_Input</name>
            <value>
                <elementReference>varQualifiedBy</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varTypeNumber_Input</name>
            <value>
                <stringValue>6019</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recColSAIdsSelectedPremiseDiscount_Input</name>
            <value>
                <elementReference>recColSAIdsSelectedPremiseDiscount_Input</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varHasDiscountOnSelectedPremise_Input</name>
            <value>
                <elementReference>varHasDiscountOnSelectedPremise_Input</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varIsInvokedFromScheduler_Input</name>
            <value>
                <elementReference>varIsInvokedFromScheduler_Input</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varCCCodeDescription_Output</assignToReference>
            <name>varCCCodeDescription_Output</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varCCCodeLongDescription_Output</assignToReference>
            <name>varCCCodeLongDescription_Output</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <description>Get Customer CC Code For Last 2 Years</description>
        <name>Get_Customer_CC_Code_For_Last_2Years</name>
        <label>Get Customer CC Code For Last 2Years</label>
        <locationX>1507</locationX>
        <locationY>1131</locationY>
        <connector>
            <targetReference>Has_Customer_Got_VH</targetReference>
        </connector>
        <flowName>CARE_CheckCustomer2YearCCCode_Flow</flowName>
        <inputAssignments>
            <name>varPersonId_Input</name>
            <value>
                <elementReference>varPersonId_Input</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varCustomerHas_M_InLast2Years</assignToReference>
            <name>varCustomerHas_M_InLast2Years_Output</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varCustomerHas_VH_InLast2Years</assignToReference>
            <name>varCustomerHas_VH_InLast2Years_Output</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <description>Log Exception</description>
        <name>Log_Exception</name>
        <label>Log Exception</label>
        <locationX>685</locationX>
        <locationY>206</locationY>
        <flowName>CARE_Exception_Logging_Flow</flowName>
        <inputAssignments>
            <name>varErrorAdditionalInfo_Input</name>
            <value>
                <elementReference>fxErrorAdditionalInfo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varFlowExceptionMessage_Input</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varFlowName_Input</name>
            <value>
                <stringValue>CARE Recertification Process Flow</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varStageName_Input</name>
            <value>
                <elementReference>varStageName</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>Two Year CARE Recertified -R 6016</description>
        <name>Two_Year_CARE_Recertified_R_6016</name>
        <label>Two Year CARE Recertified -R 6016</label>
        <locationX>1617</locationX>
        <locationY>2254</locationY>
        <flowName>CARE_UpdateCCCode_Flow</flowName>
        <inputAssignments>
            <name>recColSAIdsOfOtherPremiseDiscount_Input</name>
            <value>
                <elementReference>recColSAIdsOfOtherPremiseDiscount_Input</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recColValidSAIdsOfSelectedPremise_Input</name>
            <value>
                <elementReference>recColValidSAIdsOfSelectedPremise_Input</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varCareApplicationId_Input</name>
            <value>
                <elementReference>varCareApplicationId_Input</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varExistingDiscountType_Input</name>
            <value>
                <elementReference>varExistingDiscountType_Input</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varHasDiscountOnOtherPremise_Input</name>
            <value>
                <elementReference>varHasDiscountOnOtherPremise_Input</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varIsApplicationAccepted_Input</name>
            <value>
                <elementReference>varIsApplicationAccepted_Input</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varIsCareAppEnrolledSARequired_Input</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varIsCAREDiscount_Input</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varNoOfYears_Input</name>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varQualifiedBy_Input</name>
            <value>
                <elementReference>varQualifiedBy</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varTypeNumber_Input</name>
            <value>
                <stringValue>6016</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recColSAIdsSelectedPremiseDiscount_Input</name>
            <value>
                <elementReference>recColSAIdsSelectedPremiseDiscount_Input</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varHasDiscountOnSelectedPremise_Input</name>
            <value>
                <elementReference>varHasDiscountOnSelectedPremise_Input</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varIsInvokedFromScheduler_Input</name>
            <value>
                <elementReference>varIsInvokedFromScheduler_Input</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varCCCodeDescription_Output</assignToReference>
            <name>varCCCodeDescription_Output</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varCCCodeLongDescription_Output</assignToReference>
            <name>varCCCodeLongDescription_Output</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <description>Two Year FERA Recertified -R (6018)</description>
        <name>Two_Year_FERA_Recertified_R_6018</name>
        <label>Two Year FERA Recertified -R (6018)</label>
        <locationX>3510</locationX>
        <locationY>2347</locationY>
        <flowName>CARE_UpdateCCCode_Flow</flowName>
        <inputAssignments>
            <name>colValidFERARateSchedule_Input</name>
            <value>
                <elementReference>colValidFERARateSchedule</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recColSAIdsOfOtherPremiseDiscount_Input</name>
            <value>
                <elementReference>recColSAIdsOfOtherPremiseDiscount_Input</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recColValidSAIdsOfSelectedPremise_Input</name>
            <value>
                <elementReference>recColValidSAIdsOfSelectedPremise_Input</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varCareApplicationId_Input</name>
            <value>
                <elementReference>varCareApplicationId_Input</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varExistingDiscountType_Input</name>
            <value>
                <elementReference>varExistingDiscountType_Input</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varHasDiscountOnOtherPremise_Input</name>
            <value>
                <elementReference>varHasDiscountOnOtherPremise_Input</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varIsApplicationAccepted_Input</name>
            <value>
                <elementReference>varIsApplicationAccepted_Input</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varIsCareAppEnrolledSARequired_Input</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varIsFERADiscount_Input</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varNoOfYears_Input</name>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varQualifiedBy_Input</name>
            <value>
                <elementReference>varQualifiedBy</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varTypeNumber_Input</name>
            <value>
                <stringValue>6018</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recColSAIdsSelectedPremiseDiscount_Input</name>
            <value>
                <elementReference>recColSAIdsSelectedPremiseDiscount_Input</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varHasDiscountOnSelectedPremise_Input</name>
            <value>
                <elementReference>varHasDiscountOnSelectedPremise_Input</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varIsInvokedFromScheduler_Input</name>
            <value>
                <elementReference>varIsInvokedFromScheduler_Input</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varCCCodeDescription_Output</assignToReference>
            <name>varCCCodeDescription_Output</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varCCCodeLongDescription_Output</assignToReference>
            <name>varCCCodeLongDescription_Output</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <description>Update CC Code=MIM 6021</description>
        <name>Update_CC_Code_6021_MIM</name>
        <label>Update CC Code=MIM(6021)</label>
        <locationX>472</locationX>
        <locationY>2341</locationY>
        <flowName>CARE_UpdateCCCode_Flow</flowName>
        <inputAssignments>
            <name>recColValidSAIdsOfSelectedPremise_Input</name>
            <value>
                <elementReference>recColValidSAIdsOfSelectedPremise_Input</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varCareApplicationId_Input</name>
            <value>
                <elementReference>varCareApplicationId_Input</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varExistingDiscountType_Input</name>
            <value>
                <elementReference>varExistingDiscountType_Input</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varIsApplicationAccepted_Input</name>
            <value>
                <elementReference>varIsApplicationAccepted_Input</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varTypeNumber_Input</name>
            <value>
                <stringValue>6021</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varIsInvokedFromScheduler_Input</name>
            <value>
                <elementReference>varIsInvokedFromScheduler_Input</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varCCCodeDescription_Output</assignToReference>
            <name>varCCCodeDescription_Output</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varCCCodeLongDescription_Output</assignToReference>
            <name>varCCCodeLongDescription_Output</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <description>Update CC Code (Name) -6022</description>
        <name>Update_CC_Code_6022_Name</name>
        <label>Update CC Code (Name) -6022</label>
        <locationX>1258</locationX>
        <locationY>1365</locationY>
        <flowName>CARE_UpdateCCCode_Flow</flowName>
        <inputAssignments>
            <name>recColValidSAIdsOfSelectedPremise_Input</name>
            <value>
                <elementReference>recColValidSAIdsOfSelectedPremise_Input</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varCareApplicationId_Input</name>
            <value>
                <elementReference>varCareApplicationId_Input</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varExistingDiscountType_Input</name>
            <value>
                <elementReference>varExistingDiscountType_Input</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varIsApplicationAccepted_Input</name>
            <value>
                <elementReference>varIsApplicationAccepted_Input</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varTypeNumber_Input</name>
            <value>
                <stringValue>6022</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varIsInvokedFromScheduler_Input</name>
            <value>
                <elementReference>varIsInvokedFromScheduler_Input</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varCCCodeDescription_Output</assignToReference>
            <name>varCCCodeDescription_Output</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varCCCodeLongDescription_Output</assignToReference>
            <name>varCCCodeLongDescription_Output</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <description>Update CC Code VE (6027)</description>
        <name>Update_CC_Code_6027_VE</name>
        <label>Update CC Code VE (6027)</label>
        <locationX>1565</locationX>
        <locationY>618</locationY>
        <flowName>CARE_UpdateCCCode_Flow</flowName>
        <inputAssignments>
            <name>recColValidSAIdsOfSelectedPremise_Input</name>
            <value>
                <elementReference>recColValidSAIdsOfSelectedPremise_Input</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varCareApplicationId_Input</name>
            <value>
                <elementReference>varCareApplicationId_Input</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varExistingDiscountType_Input</name>
            <value>
                <elementReference>varExistingDiscountType_Input</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varIsApplicationAccepted_Input</name>
            <value>
                <elementReference>varIsApplicationAccepted_Input</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varTypeNumber_Input</name>
            <value>
                <stringValue>6027</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varIsInvokedFromScheduler_Input</name>
            <value>
                <elementReference>varIsInvokedFromScheduler_Input</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varCCCodeDescription_Output</assignToReference>
            <name>varCCCodeDescription_Output</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varCCCodeLongDescription_Output</assignToReference>
            <name>varCCCodeLongDescription_Output</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <description>Update CC Code VHE</description>
        <name>Update_CC_Code_6028_VHE</name>
        <label>Update CC Code VHE(6028)</label>
        <locationX>1192</locationX>
        <locationY>612</locationY>
        <flowName>CARE_UpdateCCCode_Flow</flowName>
        <inputAssignments>
            <name>recColValidSAIdsOfSelectedPremise_Input</name>
            <value>
                <elementReference>recColValidSAIdsOfSelectedPremise_Input</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varCareApplicationId_Input</name>
            <value>
                <elementReference>varCareApplicationId_Input</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varExistingDiscountType_Input</name>
            <value>
                <elementReference>varExistingDiscountType_Input</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varIsApplicationAccepted_Input</name>
            <value>
                <elementReference>varIsApplicationAccepted_Input</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varTypeNumber_Input</name>
            <value>
                <stringValue>6028</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varIsInvokedFromScheduler_Input</name>
            <value>
                <elementReference>varIsInvokedFromScheduler_Input</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varCCCodeDescription_Output</assignToReference>
            <name>varCCCodeDescription_Output</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varCCCodeLongDescription_Output</assignToReference>
            <name>varCCCodeLongDescription_Output</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <description>Update CC Code IR (6023)</description>
        <name>Update_CC_Code_IR_6023</name>
        <label>Update CC Code IR (6023)</label>
        <locationX>3232</locationX>
        <locationY>2342</locationY>
        <flowName>CARE_UpdateCCCode_Flow</flowName>
        <inputAssignments>
            <name>recColValidSAIdsOfSelectedPremise_Input</name>
            <value>
                <elementReference>recColValidSAIdsOfSelectedPremise_Input</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varCareApplicationId_Input</name>
            <value>
                <elementReference>varCareApplicationId_Input</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varExistingDiscountType_Input</name>
            <value>
                <elementReference>varExistingDiscountType_Input</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varIsApplicationAccepted_Input</name>
            <value>
                <elementReference>varIsApplicationAccepted_Input</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varTypeNumber_Input</name>
            <value>
                <stringValue>6023</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varIsInvokedFromScheduler_Input</name>
            <value>
                <elementReference>varIsInvokedFromScheduler_Input</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varCCCodeDescription_Output</assignToReference>
            <name>varCCCodeDescription_Output</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varCCCodeLongDescription_Output</assignToReference>
            <name>varCCCodeLongDescription_Output</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <description>Update CC Code J - 6025</description>
        <name>Update_CC_Code_J_6025</name>
        <label>Update CC Code J - 6025</label>
        <locationX>1797</locationX>
        <locationY>2623</locationY>
        <flowName>CARE_UpdateCCCode_Flow</flowName>
        <inputAssignments>
            <name>recColSAIdsOfOtherPremiseDiscount_Input</name>
            <value>
                <elementReference>recColSAIdsOfOtherPremiseDiscount_Input</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recColValidSAIdsOfSelectedPremise_Input</name>
            <value>
                <elementReference>recColValidSAIdsOfSelectedPremise_Input</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varCareApplicationId_Input</name>
            <value>
                <elementReference>varCareApplicationId_Input</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varExistingDiscountType_Input</name>
            <value>
                <elementReference>varExistingDiscountType_Input</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varHasDiscountOnOtherPremise_Input</name>
            <value>
                <elementReference>varHasDiscountOnOtherPremise_Input</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varIsApplicationAccepted_Input</name>
            <value>
                <elementReference>varIsApplicationAccepted_Input</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varTypeNumber_Input</name>
            <value>
                <stringValue>6025</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recColSAIdsSelectedPremiseDiscount_Input</name>
            <value>
                <elementReference>recColSAIdsSelectedPremiseDiscount_Input</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varHasDiscountOnSelectedPremise_Input</name>
            <value>
                <elementReference>varHasDiscountOnSelectedPremise_Input</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varIsInvokedFromScheduler_Input</name>
            <value>
                <elementReference>varIsInvokedFromScheduler_Input</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varCCCodeDescription_Output</assignToReference>
            <name>varCCCodeDescription_Output</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varCCCodeLongDescription_Output</assignToReference>
            <name>varCCCodeLongDescription_Output</name>
        </outputAssignments>
    </subflows>
    <variables>
        <description>Valid Rate Schedules For FERA</description>
        <name>colValidFERARateSchedule</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Loop Variable to hold SA ID</description>
        <name>loopVarSAID</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>EI_Site__c</objectType>
    </variables>
    <variables>
        <description>SA IDs of Discounted Premise (Passed From Main flow)</description>
        <name>recColSAIdsOfOtherPremiseDiscount_Input</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>EI_Site__c</objectType>
    </variables>
    <variables>
        <description>Discounted SA of Selected Premise</description>
        <name>recColSAIdsSelectedPremiseDiscount_Input</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>EI_Site__c</objectType>
    </variables>
    <variables>
        <description>All Valid SA ID Details of Selected Premise from main flow.</description>
        <name>recColValidSAIdsOfSelectedPremise_Input</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>EI_Site__c</objectType>
    </variables>
    <variables>
        <description>Care Application Id passed from main flow</description>
        <name>varCareApplicationId_Input</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Type Description</description>
        <name>varCCCodeDescription_Output</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>CC Code Long Description</description>
        <name>varCCCodeLongDescription_Output</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Customer Has M In Last 2 Years</description>
        <name>varCustomerHas_M_InLast2Years</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Variable to hold the output from sub flow</description>
        <name>varCustomerHas_VH_InLast2Years</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Variable to store Income qualification output - CARE/FERA/Not Eligible</description>
        <name>varDiscountType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Not Eligible</stringValue>
        </value>
    </variables>
    <variables>
        <name>varExistingDiscountType_Input</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Flag:Discount on other Premise</description>
        <name>varHasDiscountOnOtherPremise_Input</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Boolean Flag : if Discount on selected premise exists</description>
        <name>varHasDiscountOnSelectedPremise_Input</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Variable to hold whether customer has electric SA</description>
        <name>varHasElectricSA</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Temp variable</description>
        <name>varIncomeQualified_Temp</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Application Accepted - Flag</description>
        <name>varIsApplicationAccepted_Input</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Current SA Rate Schedule Valid after iterating through loop.</description>
        <name>varIsCurrentSARateScheduleValid</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>FERA Rate Schedule Valid or not</description>
        <name>varIsFERARateScheduleValid</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Is Called from Automated Verification batch job??</description>
        <name>varIsInvokedFromScheduler_Input</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Person Id input</description>
        <name>varPersonId_Input</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Categorical/Income/Not Qualified/None</description>
        <name>varQualifiedBy</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Error Stage (Element)</description>
        <name>varStageName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
