force-app/main/default/flows/CARE_FreshEnrollmentProcess_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Check Customer has Employee Discount</description>
        <name>Check_Customer_Employee_Discount</name>
        <label>Check Customer Employee Discount</label>
        <locationX>2533</locationX>
        <locationY>2251</locationY>
        <actionName>CARE_EmployeeDiscountController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Receiving_Employee_Discount_No_FixedIncome</targetReference>
        </connector>
        <inputParameters>
            <name>sPersId</name>
            <value>
                <elementReference>varPersonId_Input</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>varHasEmployeeDiscount</assignToReference>
            <name>bHasEmployeeDiscount</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <description>Check Customer Has Employee Discount</description>
        <name>Check_Customer_Has_EmployeeDiscount</name>
        <label>Check Customer Has Employee Discount</label>
        <locationX>2247</locationX>
        <locationY>870</locationY>
        <actionName>CARE_EmployeeDiscountController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Receiving_Employee_Discount</targetReference>
        </connector>
        <inputParameters>
            <name>sPersId</name>
            <value>
                <elementReference>varPersonId_Input</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>varHasEmployeeDiscount</assignToReference>
            <name>bHasEmployeeDiscount</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <description>Check Income Qualified Discount Type</description>
        <name>Check_Income_Qualified_Discount</name>
        <label>Check Income Qualified Discount</label>
        <locationX>2302</locationX>
        <locationY>1945</locationY>
        <actionName>CARE_IncomeQualificationController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Is_CARE_Income_Qualified</targetReference>
        </connector>
        <inputParameters>
            <name>dTotalIncome</name>
            <value>
                <elementReference>fxTotalIncome</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>iNoOfHouseholds</name>
            <value>
                <elementReference>fxNoOfHousehold</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>varDiscountType</assignToReference>
            <name>sDiscountType</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <description>Check Income Qualified Discount Type</description>
        <name>Check_Income_Qualified_Discount_Type</name>
        <label>Check Income Qualified Discount Type</label>
        <locationX>1176</locationX>
        <locationY>1987</locationY>
        <actionName>CARE_IncomeQualificationController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Has_Income_Qualified</targetReference>
        </connector>
        <inputParameters>
            <name>dTotalIncome</name>
            <value>
                <elementReference>fxTotalIncome</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>iNoOfHouseholds</name>
            <value>
                <elementReference>fxNoOfHousehold</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>varDiscountType</assignToReference>
            <name>sDiscountType</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <description>Get Income Qualified Discount Type (CARE/FERA/NOT Eligible)</description>
        <name>Get_Income_Qualified_Discount_Type</name>
        <label>Get Income Qualified Discount Type</label>
        <locationX>2303</locationX>
        <locationY>1430</locationY>
        <actionName>CARE_IncomeQualificationController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Is_Care_Qualified</targetReference>
        </connector>
        <inputParameters>
            <name>dTotalIncome</name>
            <value>
                <elementReference>fxTotalIncome</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>iNoOfHouseholds</name>
            <value>
                <elementReference>fxNoOfHousehold</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>varDiscountType</assignToReference>
            <name>sDiscountType</name>
        </outputParameters>
    </actionCalls>
    <assignments>
        <description>Set FERA Rate Schedule Valid Flag =True</description>
        <name>Set_FERA_Rate_Schedule_Valid_Flag</name>
        <label>Set FERA Rate Schedule Valid Flag</label>
        <locationX>2745</locationX>
        <locationY>442</locationY>
        <assignmentItems>
            <assignToReference>varIsFERARateScheduleValid</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Valid_SA_To_Check_Electric_SA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set Has Electric SA Flag True</description>
        <name>Set_Has_Electric_SA_Flag_True</name>
        <label>Set Has Electric SA Flag True</label>
        <locationX>3002</locationX>
        <locationY>1317</locationY>
        <assignmentItems>
            <assignToReference>varHasElectricSA</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Valid_RS_Flag_False</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set Qualified By Categorical</description>
        <name>Set_Qualified_By_Categorical</name>
        <label>Set Qualified By Categorical</label>
        <locationX>1860</locationX>
        <locationY>1378</locationY>
        <assignmentItems>
            <assignToReference>varQualifiedBy</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Categorical</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Customer_On_FERA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set Qualified By =Categorical</description>
        <name>Set_Qualified_By_Categorical_2</name>
        <label>Set Qualified By Categorical</label>
        <locationX>1853</locationX>
        <locationY>1942</locationY>
        <assignmentItems>
            <assignToReference>varQualifiedBy</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Categorical</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Customer_on_FERA_Discount</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set Qualified By =Income; If not qualifying by 2 categories then all the qualification is through income. Hence setting it before proceeding further. This value is passed as parameter only for Discount Scenarios (2/4 CARE/FERA)</description>
        <name>Set_Qualified_By_Income</name>
        <label>Set Qualified By =Income</label>
        <locationX>2138</locationX>
        <locationY>1535</locationY>
        <assignmentItems>
            <assignToReference>varQualifiedBy</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Income</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Fixed_Income_Checked</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set Valid RS Flag =False</description>
        <name>Set_Valid_RS_Flag_False</name>
        <label>Set Valid RS Flag False</label>
        <locationX>3087</locationX>
        <locationY>1093</locationY>
        <assignmentItems>
            <assignToReference>varIsCurrentSARateScheduleValid</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Valid_FERA_RateSchedule</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set Valid RS Flag True</description>
        <name>Set_Valid_RS_Flag_True</name>
        <label>Set Valid RS Flag True</label>
        <locationX>2963</locationX>
        <locationY>665</locationY>
        <assignmentItems>
            <assignToReference>varIsCurrentSARateScheduleValid</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Valid_FERA_RateSchedule</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Categorical SSI  or and Medical Age 65 and Over?</description>
        <name>Categorical_SSI</name>
        <label>Categorical SSI /Medical Age 65?</label>
        <locationX>1833</locationX>
        <locationY>1698</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_CategoricalSSI</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>CARE_Application_Details.MEDICAID_OVER65__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CARE_Application_Details.SSI__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Qualified_By_Categorical</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No_CategorySSI</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>CARE_Application_Details.MEDICAID_OVER65__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CARE_Application_Details.SSI__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Other_PublicAssistance_Category_Checked</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check Rate Schedule Validity For FERA</description>
        <name>Check_Rate_Schedule_Validity_FERA</name>
        <label>Is FERA Rate Schedule Valid?</label>
        <locationX>3125</locationX>
        <locationY>666</locationY>
        <defaultConnector>
            <targetReference>Loop_Valid_FERA_RateSchedule</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Valid_FERA_RS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Valid_FERA_RateSchedule</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>loopRecVarSAID.Rate_Schedule_EI__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Valid_RS_Flag_True</targetReference>
            </connector>
            <label>Yes Valid</label>
        </rules>
    </decisions>
    <decisions>
        <description>Does Customer Has Electric SA ?</description>
        <name>Does_Customer_Has_Electric_SA</name>
        <label>Does Customer Has Electric SA ?</label>
        <locationX>2872</locationX>
        <locationY>1125</locationY>
        <defaultConnector>
            <targetReference>Loop_Valid_SA_To_Check_Electric_SA</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Has_ElectricSA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loopRecVarSAID.Svc_Type_Code_EI__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>E</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Has_Electric_SA_Flag_True</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Is customer FERA Qualified</description>
        <name>FERA_Income_Qualified</name>
        <label>FERA Income Qualified?</label>
        <locationX>2995</locationX>
        <locationY>2149</locationY>
        <defaultConnector>
            <targetReference>Update_CC_Code_J</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_FERA_Qualified</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varDiscountType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FERA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Any_Valid_Rate_Schedule_SA_Exists</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Fixed Income Checked on Section  2B</description>
        <name>Fixed_Income_Checked</name>
        <label>Fixed Income Checked?</label>
        <locationX>2344</locationX>
        <locationY>1702</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_FixedIncomeChecked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CARE_Application_Details.FIXED_INCOME__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Income_Qualified_Discount_Type</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No_FixedIncomeChecked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CARE_Application_Details.FIXED_INCOME__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Income_Qualified_Discount</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <description>Has customer got VH in last 2 years</description>
        <name>Has_Customer_Got_VH</name>
        <label>Has Customer Got VH ?</label>
        <locationX>1417</locationX>
        <locationY>701</locationY>
        <defaultConnector>
            <targetReference>Update_CC_Code_6027_VE</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_VH</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCustomerHas_VH_InLast2Years</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_CC_Code_6028_VH</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Is Customer Eligible for Discount?</description>
        <name>Has_Income_Qualified</name>
        <label>Has Income Qualified?</label>
        <locationX>1086</locationX>
        <locationY>2596</locationY>
        <defaultConnector>
            <targetReference>Update_CC_Code_J</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Eligible</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varDiscountType</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Not Eligible</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_CC_Code_6021</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Household &gt;=3 and has Electric SA? Need to update logic</description>
        <name>Household_Has_Electric_SA</name>
        <label>Household &gt;=3 and has Electric SA?</label>
        <locationX>3117</locationX>
        <locationY>1562</locationY>
        <defaultConnector>
            <targetReference>Update_CC_Code_J</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Has_Electric_SA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fxNoOfHousehold</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varHasElectricSA</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FERA_Income_Qualified</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Is Annual Income Available provided</description>
        <name>Is_Annual_Income_Available</name>
        <label>Is Annual Income Available?</label>
        <locationX>893</locationX>
        <locationY>1843</locationY>
        <defaultConnector>
            <targetReference>Update_CC_Code_6021</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CARE_Application_Details.ANNUAL_HOUSEHOLD_INCOME__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Income_Qualified_Discount_Type</targetReference>
            </connector>
            <label>Yes Available</label>
        </rules>
    </decisions>
    <decisions>
        <description>Is Any Valid Rate Schedule SA Exists For FERA</description>
        <name>Is_Any_Valid_Rate_Schedule_SA_Exists</name>
        <label>Is Any Valid Rate Schedule SA Exists?</label>
        <locationX>2818</locationX>
        <locationY>2130</locationY>
        <defaultConnector>
            <targetReference>Update_CC_Code_IR_6023</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Valid_RS_SA_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varIsFERARateScheduleValid</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Two_Year_FERA_Certified_6013</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check Application is signed?</description>
        <name>Is_Application_Signed</name>
        <label>Is Signed?</label>
        <locationX>1027</locationX>
        <locationY>1606</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Signed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CARE_Application_Details.IS_SIGNED__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Categorical_SSI</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>Not_Signed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CARE_Application_Details.IS_SIGNED__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Annual_Income_Available</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <description>Is_CARE_Income_Qualified</description>
        <name>Is_CARE_Income_Qualified</name>
        <label>Is CARE Qualified?</label>
        <locationX>2466</locationX>
        <locationY>1970</locationY>
        <defaultConnector>
            <targetReference>Get_Valid_FERA_Rate_Schedules</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_CARE_Income_Qualified</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varDiscountType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CARE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Customer_Employee_Discount</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Is Care Qualified</description>
        <name>Is_Care_Qualified</name>
        <label>Is Care Qualified?</label>
        <locationX>2224</locationX>
        <locationY>1147</locationY>
        <defaultConnector>
            <targetReference>Get_Valid_FERA_Rate_Schedules</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Care_Qualified</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varDiscountType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CARE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Customer_Has_EmployeeDiscount</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Is Customer On FERA ?</description>
        <name>Is_Customer_On_FERA</name>
        <label>Is Customer On FERA?</label>
        <locationX>1904</locationX>
        <locationY>1155</locationY>
        <defaultConnector>
            <targetReference>Four_Year_CARE_6014</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YES_FERA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varExistingDiscountType_Input</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>F</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Customer_CC_Code_For_Last_2Years</targetReference>
            </connector>
            <label>Yes FERA</label>
        </rules>
    </decisions>
    <decisions>
        <description>Is Customer on FERA Discount?</description>
        <name>Is_Customer_on_FERA_Discount</name>
        <label>Is Customer on FERA Discount?</label>
        <locationX>1682</locationX>
        <locationY>2143</locationY>
        <defaultConnector>
            <targetReference>Two_Year_CARE_6011</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_On_FERA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varExistingDiscountType_Input</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>F</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Customer_CC_Code_For_Last_2Years</targetReference>
            </connector>
            <label>Yes FERA</label>
        </rules>
    </decisions>
    <decisions>
        <description>Is Rate Schedule Valid After Iterating Loop</description>
        <name>Is_RS_Valid</name>
        <label>Is RS Valid?</label>
        <locationX>2793</locationX>
        <locationY>807</locationY>
        <defaultConnector>
            <targetReference>Loop_Valid_SA_To_Check_Electric_SA</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_RS_Valid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varIsCurrentSARateScheduleValid</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_FERA_Rate_Schedule_Valid_Flag</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Other Categories Checked?</description>
        <name>Other_PublicAssistance_Category_Checked</name>
        <label>Other Public Assistance Category Checked?</label>
        <locationX>2137</locationX>
        <locationY>1728</locationY>
        <defaultConnector>
            <targetReference>Set_Qualified_By_Income</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Other_PublicAssistance</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>CARE_Application_Details.LIHEAP__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CARE_Application_Details.WIC__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CARE_Application_Details.CALFRESH_SNAP__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CARE_Application_Details.CALWORKS_TANF__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CARE_Application_Details.HEAD_START_INCOME__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CARE_Application_Details.HEALTHY_FAMILIES__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CARE_Application_Details.NSLP__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CARE_Application_Details.BUREAU_INDIAN_AFFAIRS__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CARE_Application_Details.MEDICAID_UNDER65__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Qualified_By_Categorical_2</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Customer Receiving employee discount - Need to update logic</description>
        <name>Receiving_Employee_Discount</name>
        <label>Receiving Employee Discount?</label>
        <locationX>2268</locationX>
        <locationY>50</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Employee_Discount</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varHasEmployeeDiscount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_CC_Code_6024_IR</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No_Employee_Discount</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varHasEmployeeDiscount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Customer_On_FERA</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <description>Receiving Employee Discount &amp; No Fixed Income</description>
        <name>Receiving_Employee_Discount_No_FixedIncome</name>
        <label>Receiving Employee Discount ?</label>
        <locationX>2693</locationX>
        <locationY>2490</locationY>
        <defaultConnector>
            <targetReference>Is_Customer_on_FERA_Discount</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Employee_Discount_No_Fixed_Income</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varHasEmployeeDiscount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_CC_Code_6024_IR</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Process to create Fresh  Enrollment (CARE/FERA)</description>
    <formulas>
        <description>No of house hold = No:of Adults+No:of Children</description>
        <name>fxNoOfHousehold</name>
        <dataType>Number</dataType>
        <expression>{!CARE_Application_Details.NO_ADULT__c}+{!CARE_Application_Details.NO_CHILD__c}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <description>Todays Date</description>
        <name>fxToday</name>
        <dataType>Date</dataType>
        <expression>Today()</expression>
    </formulas>
    <formulas>
        <description>Store Total Income of Customer in  a variable</description>
        <name>fxTotalIncome</name>
        <dataType>Currency</dataType>
        <expression>{!CARE_Application_Details.ANNUAL_HOUSEHOLD_INCOME__c}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>CARE Fresh Enrollment Process Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CARE Fresh Enrollment Process Flow</label>
    <loops>
        <description>Loop Valid FERA RS</description>
        <name>Loop_Valid_FERA_RateSchedule</name>
        <label>Loop Valid FERA RS</label>
        <locationX>3087</locationX>
        <locationY>901</locationY>
        <collectionReference>colValidFERARateSchedule</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Rate_Schedule_Validity_FERA</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Is_RS_Valid</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Loop Valid SA To Check Electric SA</description>
        <name>Loop_Valid_SA_To_Check_Electric_SA</name>
        <label>Loop Through Valid SA To Check Electric SA</label>
        <locationX>2641</locationX>
        <locationY>938</locationY>
        <assignNextValueToReference>loopRecVarSAID</assignNextValueToReference>
        <collectionReference>recColValidSAIdsOfSelectedPremise_Input</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Does_Customer_Has_Electric_SA</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Household_Has_Electric_SA</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get application details to Process Fresh Enrollment.</description>
        <name>CARE_Application_Details</name>
        <label>Get Application Details</label>
        <locationX>552</locationX>
        <locationY>1570</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Application_Signed</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCareApplicationId_Input</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CARE_Application__c</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get Valid FERA Rate Schedules</description>
        <name>Get_Valid_FERA_Rate_Schedules</name>
        <label>Get Valid FERA Rate Schedules</label>
        <locationX>2411</locationX>
        <locationY>928</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Convert_Rate_Schedule_String_To_Collection</targetReference>
        </connector>
        <filters>
            <field>CATEGORY__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Valid Rate Schedule</stringValue>
            </value>
        </filters>
        <filters>
            <field>END_DATE__c</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>fxToday</elementReference>
            </value>
        </filters>
        <filters>
            <field>START_DATE__c</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>fxToday</elementReference>
            </value>
        </filters>
        <filters>
            <field>TYPE_CODE__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>FERA</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CARE_Type__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>TYPE_DESC__c</queriedFields>
        <sortField>CATEGORY__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>1551</locationY>
        <connector>
            <targetReference>CARE_Application_Details</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <description>Convert Rate Schedule String To Collection</description>
        <name>Convert_Rate_Schedule_String_To_Collection</name>
        <label>Convert Rate Schedule String To Collection</label>
        <locationX>2431</locationX>
        <locationY>707</locationY>
        <connector>
            <targetReference>Loop_Valid_SA_To_Check_Electric_SA</targetReference>
        </connector>
        <flowName>CARE_ConvertCommaSeparatedStringToList_Flow</flowName>
        <inputAssignments>
            <name>varInputString_Input</name>
            <value>
                <elementReference>Get_Valid_FERA_Rate_Schedules.TYPE_DESC__c</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>colValidFERARateSchedule</assignToReference>
            <name>colString_Output</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <description>Four Year CARE Certified 6014</description>
        <name>Four_Year_CARE_6014</name>
        <label>Four Year CARE 6014</label>
        <locationX>1817</locationX>
        <locationY>581</locationY>
        <flowName>CARE_UpdateCCCode_Flow</flowName>
        <inputAssignments>
            <name>recColValidSAIdsOfSelectedPremise_Input</name>
            <value>
                <elementReference>recColValidSAIdsOfSelectedPremise_Input</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varCareApplicationId_Input</name>
            <value>
                <elementReference>varCareApplicationId_Input</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varExistingDiscountType_Input</name>
            <value>
                <elementReference>varExistingDiscountType_Input</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varIsApplicationAccepted_Input</name>
            <value>
                <elementReference>varIsApplicationAccepted_Input</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varIsCareAppEnrolledSARequired_Input</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varIsCAREDiscount_Input</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varNoOfYears_Input</name>
            <value>
                <numberValue>4.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varTypeNumber_Input</name>
            <value>
                <stringValue>6014</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recColSAIdsOfOtherPremiseDiscount_Input</name>
            <value>
                <elementReference>recColSAIdsOfOtherPremiseDiscount_Input</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varHasDiscountOnOtherPremise_Input</name>
            <value>
                <elementReference>varHasDiscountOnOtherPremise_Input</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varQualifiedBy_Input</name>
            <value>
                <elementReference>varQualifiedBy</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varCCCodeDescription_Output</assignToReference>
            <name>varCCCodeDescription_Output</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varCCCodeLongDescription_Output</assignToReference>
            <name>varCCCodeLongDescription_Output</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <description>Get Customer CC Code For Last 2 Years</description>
        <name>Get_Customer_CC_Code_For_Last_2Years</name>
        <label>Get Customer CC Code For Last 2Years</label>
        <locationX>1431</locationX>
        <locationY>1011</locationY>
        <connector>
            <targetReference>Has_Customer_Got_VH</targetReference>
        </connector>
        <flowName>CARE_CheckCustomer2YearCCCode_Flow</flowName>
        <inputAssignments>
            <name>varPersonId_Input</name>
            <value>
                <elementReference>varPersonId_Input</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varCustomerHas_M_InLast2Years</assignToReference>
            <name>varCustomerHas_M_InLast2Years_Output</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varCustomerHas_VH_InLast2Years</assignToReference>
            <name>varCustomerHas_VH_InLast2Years_Output</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <description>Two Year CARE Certified (6011)</description>
        <name>Two_Year_CARE_6011</name>
        <label>Two Year CARE Certified (6011)</label>
        <locationX>1412</locationX>
        <locationY>2145</locationY>
        <flowName>CARE_UpdateCCCode_Flow</flowName>
        <inputAssignments>
            <name>recColValidSAIdsOfSelectedPremise_Input</name>
            <value>
                <elementReference>recColValidSAIdsOfSelectedPremise_Input</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varCareApplicationId_Input</name>
            <value>
                <elementReference>varCareApplicationId_Input</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varExistingDiscountType_Input</name>
            <value>
                <elementReference>varExistingDiscountType_Input</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varIsApplicationAccepted_Input</name>
            <value>
                <elementReference>varIsApplicationAccepted_Input</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varIsCareAppEnrolledSARequired_Input</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varIsCAREDiscount_Input</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varNoOfYears_Input</name>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varTypeNumber_Input</name>
            <value>
                <stringValue>6011</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recColSAIdsOfOtherPremiseDiscount_Input</name>
            <value>
                <elementReference>recColSAIdsOfOtherPremiseDiscount_Input</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varHasDiscountOnOtherPremise_Input</name>
            <value>
                <elementReference>varHasDiscountOnOtherPremise_Input</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varQualifiedBy_Input</name>
            <value>
                <elementReference>varQualifiedBy</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varCCCodeDescription_Output</assignToReference>
            <name>varCCCodeDescription_Output</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varCCCodeLongDescription_Output</assignToReference>
            <name>varCCCodeLongDescription_Output</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <description>Two Year FERA 6013</description>
        <name>Two_Year_FERA_Certified_6013</name>
        <label>Two Year FERA 6013</label>
        <locationX>2653</locationX>
        <locationY>2046</locationY>
        <flowName>CARE_UpdateCCCode_Flow</flowName>
        <inputAssignments>
            <name>colValidFERARateSchedule_Input</name>
            <value>
                <elementReference>colValidFERARateSchedule</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recColValidSAIdsOfSelectedPremise_Input</name>
            <value>
                <elementReference>recColValidSAIdsOfSelectedPremise_Input</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varCareApplicationId_Input</name>
            <value>
                <elementReference>varCareApplicationId_Input</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varExistingDiscountType_Input</name>
            <value>
                <elementReference>varExistingDiscountType_Input</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varIsApplicationAccepted_Input</name>
            <value>
                <elementReference>varIsApplicationAccepted_Input</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varIsCareAppEnrolledSARequired_Input</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varIsFERADiscount_Input</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varNoOfYears_Input</name>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varTypeNumber_Input</name>
            <value>
                <stringValue>6013</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recColSAIdsOfOtherPremiseDiscount_Input</name>
            <value>
                <elementReference>recColSAIdsOfOtherPremiseDiscount_Input</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varHasDiscountOnOtherPremise_Input</name>
            <value>
                <elementReference>varHasDiscountOnOtherPremise_Input</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varQualifiedBy_Input</name>
            <value>
                <elementReference>varQualifiedBy</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varCCCodeDescription_Output</assignToReference>
            <name>varCCCodeDescription_Output</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varCCCodeLongDescription_Output</assignToReference>
            <name>varCCCodeLongDescription_Output</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <description>Update CC Code = MIM (6021)</description>
        <name>Update_CC_Code_6021</name>
        <label>Update CC Code = MIM (6021)</label>
        <locationX>617</locationX>
        <locationY>2533</locationY>
        <flowName>CARE_UpdateCCCode_Flow</flowName>
        <inputAssignments>
            <name>recColValidSAIdsOfSelectedPremise_Input</name>
            <value>
                <elementReference>recColValidSAIdsOfSelectedPremise_Input</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varCareApplicationId_Input</name>
            <value>
                <elementReference>varCareApplicationId_Input</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varTypeNumber_Input</name>
            <value>
                <stringValue>6021</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varExistingDiscountType_Input</name>
            <value>
                <elementReference>varExistingDiscountType_Input</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varIsApplicationAccepted_Input</name>
            <value>
                <elementReference>varIsApplicationAccepted_Input</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varCCCodeDescription_Output</assignToReference>
            <name>varCCCodeDescription_Output</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varCCCodeLongDescription_Output</assignToReference>
            <name>varCCCodeLongDescription_Output</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <description>Update_CC_Code_IR_6024</description>
        <name>Update_CC_Code_6024_IR</name>
        <label>Update CC Code :Employee Discount (6024)</label>
        <locationX>4093</locationX>
        <locationY>1073</locationY>
        <flowName>CARE_UpdateCCCode_Flow</flowName>
        <inputAssignments>
            <name>recColValidSAIdsOfSelectedPremise_Input</name>
            <value>
                <elementReference>recColValidSAIdsOfSelectedPremise_Input</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varCareApplicationId_Input</name>
            <value>
                <elementReference>varCareApplicationId_Input</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varTypeNumber_Input</name>
            <value>
                <stringValue>6024</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varExistingDiscountType_Input</name>
            <value>
                <elementReference>varExistingDiscountType_Input</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varIsApplicationAccepted_Input</name>
            <value>
                <elementReference>varIsApplicationAccepted_Input</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varCCCodeDescription_Output</assignToReference>
            <name>varCCCodeDescription_Output</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varCCCodeLongDescription_Output</assignToReference>
            <name>varCCCodeLongDescription_Output</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <description>Update CC Code VE 6027</description>
        <name>Update_CC_Code_6027_VE</name>
        <label>Update CC Code VE 6027</label>
        <locationX>1558</locationX>
        <locationY>536</locationY>
        <flowName>CARE_UpdateCCCode_Flow</flowName>
        <inputAssignments>
            <name>recColValidSAIdsOfSelectedPremise_Input</name>
            <value>
                <elementReference>recColValidSAIdsOfSelectedPremise_Input</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varCareApplicationId_Input</name>
            <value>
                <elementReference>varCareApplicationId_Input</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varTypeNumber_Input</name>
            <value>
                <stringValue>6027</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varExistingDiscountType_Input</name>
            <value>
                <elementReference>varExistingDiscountType_Input</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varIsApplicationAccepted_Input</name>
            <value>
                <elementReference>varIsApplicationAccepted_Input</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varCCCodeDescription_Output</assignToReference>
            <name>varCCCodeDescription_Output</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varCCCodeLongDescription_Output</assignToReference>
            <name>varCCCodeLongDescription_Output</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <description>Update CC Code VH (6028)</description>
        <name>Update_CC_Code_6028_VH</name>
        <label>Update CC Code (6028)</label>
        <locationX>1217</locationX>
        <locationY>555</locationY>
        <flowName>CARE_UpdateCCCode_Flow</flowName>
        <inputAssignments>
            <name>recColValidSAIdsOfSelectedPremise_Input</name>
            <value>
                <elementReference>recColValidSAIdsOfSelectedPremise_Input</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varCareApplicationId_Input</name>
            <value>
                <elementReference>varCareApplicationId_Input</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varTypeNumber_Input</name>
            <value>
                <stringValue>6028</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varExistingDiscountType_Input</name>
            <value>
                <elementReference>varExistingDiscountType_Input</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varIsApplicationAccepted_Input</name>
            <value>
                <elementReference>varIsApplicationAccepted_Input</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varCCCodeDescription_Output</assignToReference>
            <name>varCCCodeDescription_Output</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varCCCodeLongDescription_Output</assignToReference>
            <name>varCCCodeLongDescription_Output</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <description>In Eligible Rate</description>
        <name>Update_CC_Code_IR_6023</name>
        <label>Update CC Code IR (6023)</label>
        <locationX>2825</locationX>
        <locationY>1821</locationY>
        <flowName>CARE_UpdateCCCode_Flow</flowName>
        <inputAssignments>
            <name>recColValidSAIdsOfSelectedPremise_Input</name>
            <value>
                <elementReference>recColValidSAIdsOfSelectedPremise_Input</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varCareApplicationId_Input</name>
            <value>
                <elementReference>varCareApplicationId_Input</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varExistingDiscountType_Input</name>
            <value>
                <elementReference>varExistingDiscountType_Input</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varIsApplicationAccepted_Input</name>
            <value>
                <elementReference>varIsApplicationAccepted_Input</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varTypeNumber_Input</name>
            <value>
                <stringValue>6023</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varCCCodeDescription_Output</assignToReference>
            <name>varCCCodeDescription_Output</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varCCCodeLongDescription_Output</assignToReference>
            <name>varCCCodeLongDescription_Output</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <description>Update CC Code(6025) : In case of over Income ,Drop existing discount. Hence passing discount details of other premise as well.</description>
        <name>Update_CC_Code_J</name>
        <label>Update CC Code- Over Income(6025)</label>
        <locationX>3126</locationX>
        <locationY>2739</locationY>
        <flowName>CARE_UpdateCCCode_Flow</flowName>
        <inputAssignments>
            <name>recColValidSAIdsOfSelectedPremise_Input</name>
            <value>
                <elementReference>recColValidSAIdsOfSelectedPremise_Input</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varCareApplicationId_Input</name>
            <value>
                <elementReference>varCareApplicationId_Input</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varExistingDiscountType_Input</name>
            <value>
                <elementReference>varExistingDiscountType_Input</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varIsApplicationAccepted_Input</name>
            <value>
                <elementReference>varIsApplicationAccepted_Input</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varTypeNumber_Input</name>
            <value>
                <stringValue>6025</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recColSAIdsOfOtherPremiseDiscount_Input</name>
            <value>
                <elementReference>recColSAIdsOfOtherPremiseDiscount_Input</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varHasDiscountOnOtherPremise_Input</name>
            <value>
                <elementReference>varHasDiscountOnOtherPremise_Input</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varCCCodeDescription_Output</assignToReference>
            <name>varCCCodeDescription_Output</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varCCCodeLongDescription_Output</assignToReference>
            <name>varCCCodeLongDescription_Output</name>
        </outputAssignments>
    </subflows>
    <variables>
        <description>Collection Valid Rate Schedules -Receive from Main Flow</description>
        <name>colValidFERARateSchedule</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Loop Variable to hold SA ID</description>
        <name>loopRecVarSAID</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>EI_Site__c</objectType>
    </variables>
    <variables>
        <description>Other premise Discounted SAs (Passed from Main Flow)</description>
        <name>recColSAIdsOfOtherPremiseDiscount_Input</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>EI_Site__c</objectType>
    </variables>
    <variables>
        <description>All Valid SA ID Details of Selected Premise from main flow.</description>
        <name>recColValidSAIdsOfSelectedPremise_Input</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>EI_Site__c</objectType>
    </variables>
    <variables>
        <description>Care Application Id passed from main flow</description>
        <name>varCareApplicationId_Input</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Store the Description in out put variable</description>
        <name>varCCCodeDescription_Output</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>CC Code Long Description</description>
        <name>varCCCodeLongDescription_Output</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Customer Has M In Last2Years</description>
        <name>varCustomerHas_M_InLast2Years</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Customer Has VH In Last 2Years?</description>
        <name>varCustomerHas_VH_InLast2Years</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Variable to store Income qualification output - CARE/FERA/Not Eligible</description>
        <name>varDiscountType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Not Eligible</stringValue>
        </value>
    </variables>
    <variables>
        <description>Existing DiscountType (C/F)</description>
        <name>varExistingDiscountType_Input</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Flag - Discount on other Premise (Passed from main flow)</description>
        <name>varHasDiscountOnOtherPremise_Input</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Variable to hold whether customer has electric SA</description>
        <name>varHasElectricSA</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Has Employee Discount - Stores boolean output from apex</description>
        <name>varHasEmployeeDiscount</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Temp variable</description>
        <name>varIncomeQualified_Temp</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Is Application Accepted - Flag</description>
        <name>varIsApplicationAccepted_Input</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>This flag is being used to identify whether Rate schedule validity check successful in loop.
- Flag</description>
        <name>varIsCurrentSARateScheduleValid</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Is FERA Rate Schedule Valid</description>
        <name>varIsFERARateScheduleValid</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Person ID - Input</description>
        <name>varPersonId_Input</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Categorical/Income/Not Qualified/None</description>
        <name>varQualifiedBy</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
