force-app/main/default/flows/CARE_FullQualificationProcess_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <description>Set Flag to a boolean variable to process further. From UI , String &apos;Yes&apos;/&apos;No&apos; is receiving.</description>
        <name>Assign_Accepted_Flag_to_a_Variable</name>
        <label>Set Is Accepted Flag to True</label>
        <locationX>2395</locationX>
        <locationY>442</locationY>
        <assignmentItems>
            <assignToReference>varIsApplicationAccepted</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Accepted_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign application id to a variable</description>
        <name>Assign_Application_Id</name>
        <label>Assign Application Id in a Variable</label>
        <locationX>1441</locationX>
        <locationY>232</locationY>
        <assignmentItems>
            <assignToReference>varCareApplicationId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Application_ID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Application_ID</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign Person Id To Variable</description>
        <name>Assign_Person_Id_To_Variable</name>
        <label>Assign Person Id To Variable</label>
        <locationX>1892</locationX>
        <locationY>429</locationY>
        <assignmentItems>
            <assignToReference>varPersonID_Input</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Person_Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Person_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign Valid SA of Selected Premise to Collection Variable for future reference</description>
        <name>Assign_SA_Ids_To_Collection_Variable</name>
        <label>Assign SA Ids To Valid SA Id Collection</label>
        <locationX>2227</locationX>
        <locationY>1613</locationY>
        <assignmentItems>
            <assignToReference>recColValidSAIdsOfSelectedPremise</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopVarSAID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Valid_Rate_Schedule</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign Valid SA Ids To Variable</description>
        <name>Assign_Valid_SA_IDs_To_Variable</name>
        <label>Assign Valid SA Ids To Collection Variable</label>
        <locationX>4517</locationX>
        <locationY>2147</locationY>
        <assignmentItems>
            <assignToReference>recColValidSAIdsOfAllPremises</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopVarSAID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Current_Item_is_Valid</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set Care customer flag - True  if Care End date is future date.</description>
        <name>Set_CARE_FERA_Customer_Flag</name>
        <label>Set Current CARE/FERA Customer Flag=True</label>
        <locationX>3197</locationX>
        <locationY>1959</locationY>
        <assignmentItems>
            <assignToReference>varIsCAREFERACustomer</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varExistingDiscountType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopVarSAID.Account_EI__r.CARE_DISCOUNT_TYPE__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_This_Discount_On_Selected_Premise</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set Current  SA RS Valid Flag True</description>
        <name>Set_Current_Item_is_Valid</name>
        <label>Set Current  SA RS Valid Flag True</label>
        <locationX>4353</locationX>
        <locationY>2055</locationY>
        <assignmentItems>
            <assignToReference>varIsCurrentSARateScheduleValid</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Valid_Rate_Schedule2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set Current SA RS Valid Flag To False</description>
        <name>Set_Current_SA_RS_Valid_Flag_False</name>
        <label>Set Current  SA RS Valid Flag False</label>
        <locationX>4478</locationX>
        <locationY>1630</locationY>
        <assignmentItems>
            <assignToReference>varIsCurrentSARateScheduleValid</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Valid_Rate_Schedule2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set Flag for customer has discount on other premise other than selected</description>
        <name>Set_Discount_On_Other_Premise_Flag</name>
        <label>Set Discounted On Other Premise Flag =True</label>
        <locationX>3216</locationX>
        <locationY>1299</locationY>
        <assignmentItems>
            <assignToReference>varHasDiscountOnOtherPremise</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recColSAIdsOfOtherDiscountedPremise</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopVarSAID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_All_SA_Ids_of_Customer</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set Is Accepted Flag =False</description>
        <name>Set_IsAccepted_Flag_False</name>
        <label>Set Is Accepted Flag False</label>
        <locationX>2078</locationX>
        <locationY>212</locationY>
        <assignmentItems>
            <assignToReference>varIsApplicationAccepted</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Accepted_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set Recertification Flag =True</description>
        <name>Set_Recertification_Qualified_Flag</name>
        <label>Set Recertification Qualified Flag =True</label>
        <locationX>3642</locationX>
        <locationY>1655</locationY>
        <assignmentItems>
            <assignToReference>varIsQualifiedForRecertification</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_All_SA_Ids_of_Customer</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Check Is accepted Flag received from UI. Since all the inputs receiving from UI are List of String , Yes/No will be the input.Based on that Boolean flag will set in Flow.</description>
        <name>Check_Is_Accepted_Value</name>
        <label>Check Is Accepted Value=Yes</label>
        <locationX>2158</locationX>
        <locationY>419</locationY>
        <defaultConnector>
            <targetReference>Set_IsAccepted_Flag_False</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>IsAccepted_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Accepted_Collection</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Accepted_Flag_to_a_Variable</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check SA Status - Active or Not and Rate Schedule is Valid</description>
        <name>Check_SA_Status</name>
        <label>Is SA Status Active?</label>
        <locationX>2823</locationX>
        <locationY>1473</locationY>
        <defaultConnector>
            <targetReference>Loop_All_SA_IDs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Active</defaultConnectorLabel>
        <rules>
            <name>SA_Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>colActiveSAStatus</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>loopVarSAID.Svc_Status_Code_EI__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Valid_Rate_Schedule</targetReference>
            </connector>
            <label>Active</label>
        </rules>
    </decisions>
    <decisions>
        <description>Does Customer has CC Code VH in last 2 years</description>
        <name>Does_Customer_has_CC_Code_VH</name>
        <label>Does Customer has CC Code VH/M?</label>
        <locationX>3662</locationX>
        <locationY>365</locationY>
        <defaultConnector>
            <targetReference>Update_CC_Code_6027</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_VH_Customer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCustomerHas_VH_InLast2Years</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_CC_Code_6028</targetReference>
            </connector>
            <label>Yes VH</label>
        </rules>
        <rules>
            <name>Yes_M</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCustomerHas_M_InLast2Years</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_CC_Code_M</targetReference>
            </connector>
            <label>Yes M</label>
        </rules>
    </decisions>
    <decisions>
        <description>Does Customer Requested For Drop</description>
        <name>Does_Customer_Requested_For_Drop</name>
        <label>Does Customer Requested For Drop?</label>
        <locationX>4994</locationX>
        <locationY>1120</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Drop_Requested</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Care_Application_Details.REQUEST_DROP__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_CC_Code_6026</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No_Drop_Request</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Care_Application_Details.REQUEST_DROP__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Does_Meet_Recertification_Criteria</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <description>Does Meet Re certification Criteria - Criteria has to be created after confirmation</description>
        <name>Does_Meet_Recertification_Criteria</name>
        <label>Does Meet Re certification Criteria?</label>
        <locationX>5272</locationX>
        <locationY>1114</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_For_Recertification</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varIsQualifiedForRecertification</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Recertification_Process</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>Not_Qualified_ForRecertification</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varIsQualifiedForRecertification</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Enrollment_Process</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check any Valid SA exists to proceed.</description>
        <name>Does_Valid_SA_Exists</name>
        <label>Does Valid SA Exists?</label>
        <locationX>3070</locationX>
        <locationY>867</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Valid_SA_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recColValidSAIdsOfSelectedPremise</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Customer_Probation_Status</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No_Valid_SA_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recColValidSAIdsOfSelectedPremise</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_CC_Code_6023</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check whether care end date is future date?</description>
        <name>Is_Care_End_Date_is_future_date</name>
        <label>Is Care End Date is future date?</label>
        <locationX>3737</locationX>
        <locationY>2188</locationY>
        <defaultConnector>
            <targetReference>Loop_All_SA_Ids_of_Customer</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Future_EndDate</name>
            <conditionLogic>1 AND 2 AND (3 OR 4) AND 5</conditionLogic>
            <conditions>
                <leftValueReference>loopVarSAID.Care_Stop_Date_EI__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>fxTodaysDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loopVarSAID.Care_Start_Date_EI__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>fxTodaysDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loopVarSAID.CARE_DISCOUNT_TYPE__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CARE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loopVarSAID.CARE_DISCOUNT_TYPE__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FERA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loopVarSAID.Account_EI__r.CARE_DISCOUNT_TYPE__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_CARE_FERA_Customer_Flag</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check Customer is care customer based on the varIsCareCustomer Flag</description>
        <name>Is_Current_CARE_FERA_Customer</name>
        <label>Is current CARE FERA Customer?</label>
        <locationX>4319</locationX>
        <locationY>1179</locationY>
        <defaultConnector>
            <targetReference>New_Enrollment_Process</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Current_CARE_FERA_Customer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varIsCAREFERACustomer</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Care_Application_Details</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>Not_CARE_Customer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varIsCAREFERACustomer</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Enrollment_Process</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check Is current SA Valid</description>
        <name>Is_Current_SA_Valid</name>
        <label>Is Current SA Valid?</label>
        <locationX>4003</locationX>
        <locationY>2185</locationY>
        <defaultConnector>
            <targetReference>Loop_All_SA_Ids_of_Customer</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Valid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varIsCurrentSARateScheduleValid</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Care_End_Date_is_future_date</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check Whether Customer is on Promotion based on the output from sub flow - Output variable Name : varProbationStatus</description>
        <name>Is_Customer_On_Probation</name>
        <label>Is Customer On Probation?</label>
        <locationX>3658</locationX>
        <locationY>850</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_On_Probation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Customer_Probation_Status</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Customer_CCCode_For_Last_2_Years</targetReference>
            </connector>
            <label>Yes On Probation</label>
        </rules>
        <rules>
            <name>Not_On_Probation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Customer_Probation_Status</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Customer_SA_ID_On_All_Premises</targetReference>
            </connector>
            <label>Not On Probation</label>
        </rules>
    </decisions>
    <decisions>
        <description>Is Qualified for Re-certification?</description>
        <name>Is_Qualified_For_Recertification</name>
        <label>Is Qualified For Recertification?</label>
        <locationX>3449</locationX>
        <locationY>1644</locationY>
        <defaultConnector>
            <targetReference>Loop_All_SA_Ids_of_Customer</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Qualified_For_Recertification</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loopVarSAID.Care_Stop_Date_EI__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>fxRecertificationDay</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loopVarSAID.Care_Start_Date_EI__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>fxTodaysDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Recertification_Qualified_Flag</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Is Rate Schedule Valid?</description>
        <name>Is_Rate_Schedule_Valid</name>
        <label>Is Rate Schedule Valid?</label>
        <locationX>2220</locationX>
        <locationY>1872</locationY>
        <defaultConnector>
            <targetReference>Loop_Valid_Rate_Schedule</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Valid_RS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Valid_Rate_Schedule</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>loopVarSAID.Rate_Schedule_EI__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_SA_Ids_To_Collection_Variable</targetReference>
            </connector>
            <label>Yes Valid RS</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Rate_Schedule_Valid2</name>
        <label>Is Rate Schedule Valid?</label>
        <locationX>4818</locationX>
        <locationY>2052</locationY>
        <defaultConnector>
            <targetReference>Loop_Valid_Rate_Schedule2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Valid_RS2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Valid_Rate_Schedule2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>loopVarSAID.Rate_Schedule_EI__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Valid_SA_IDs_To_Variable</targetReference>
            </connector>
            <label>Yes Valid RS</label>
        </rules>
    </decisions>
    <decisions>
        <description>Is SA Status Active</description>
        <name>Is_SA_Status_Active</name>
        <label>Is SA Status Active?</label>
        <locationX>4245</locationX>
        <locationY>1583</locationY>
        <defaultConnector>
            <targetReference>Loop_All_SA_Ids_of_Customer</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Active</defaultConnectorLabel>
        <rules>
            <name>Yes_Active_SA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>colActiveSAStatus</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>loopVarSAID.Svc_Status_Code_EI__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Current_SA_RS_Valid_Flag_False</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Is this Discount on Care processor Selected Premise?</description>
        <name>Is_This_Discount_On_Selected_Premise</name>
        <label>Is this Discount on Selected Premise?</label>
        <locationX>3192</locationX>
        <locationY>1642</locationY>
        <defaultConnector>
            <targetReference>Set_Discount_On_Other_Premise_Flag</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>On Other Premise</defaultConnectorLabel>
        <rules>
            <name>Yes_Discount_on_Selected_Premise</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>colPremiseIDs_Input</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>loopVarSAID.Site_Premise_ID_EI__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Qualified_For_Recertification</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Auto launched flow  get triggered on Enrollment Verification.This flow Check Qualification of enrollment and update CC Code based on enrollment input.</description>
    <formulas>
        <description>Care End date should be less than Today + 90 days</description>
        <name>fxRecertificationDay</name>
        <dataType>Date</dataType>
        <expression>Today()+90</expression>
    </formulas>
    <formulas>
        <description>Formula field to get today&apos;s date in variable</description>
        <name>fxTodaysDate</name>
        <dataType>Date</dataType>
        <expression>Today()</expression>
    </formulas>
    <interviewLabel>CARE Full Qualification Process Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CARE Full Qualification Process Flow</label>
    <loops>
        <description>Loop through Is Accepted Flag collection; Input to flow is always a list.</description>
        <name>Loop_Accepted_Collection</name>
        <label>Loop Is Accepted Flag Collection Input</label>
        <locationX>2082</locationX>
        <locationY>698</locationY>
        <collectionReference>colIsApplicationAccepted_Input</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Is_Accepted_Value</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Premise_ID</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Loop all SA IDs</description>
        <name>Loop_All_SA_IDs</name>
        <label>Loop All SA IDs Of Premise</label>
        <locationX>2478</locationX>
        <locationY>1309</locationY>
        <assignNextValueToReference>loopVarSAID</assignNextValueToReference>
        <collectionReference>All_SA_IDs_Of_A_Premise</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_SA_Status</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Premise_ID</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Loop through all SA Ids and find Valid SA based on SA Rate and Status</description>
        <name>Loop_All_SA_Ids_of_Customer</name>
        <label>Loop All SA Ids of Customer</label>
        <locationX>3876</locationX>
        <locationY>1434</locationY>
        <assignNextValueToReference>loopVarSAID</assignNextValueToReference>
        <collectionReference>Customer_SA_ID_On_All_Premises</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_SA_Status_Active</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Is_Current_CARE_FERA_Customer</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Loop application Id and store in a variable</description>
        <name>Loop_Application_ID</name>
        <label>Loop Application ID</label>
        <locationX>1117</locationX>
        <locationY>413</locationY>
        <collectionReference>colCareApplicationIDs_Input</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Application_Id</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Person_Id</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Loop Person Id and assign it to a variable</description>
        <name>Loop_Person_Id</name>
        <label>Loop Person Id</label>
        <locationX>1542</locationX>
        <locationY>712</locationY>
        <collectionReference>colPersonIDs_Input</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Person_Id_To_Variable</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Accepted_Collection</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Loop through Premise IDs and get all SA IDs for the person and Premise</description>
        <name>Loop_Premise_ID</name>
        <label>Loop Selected Premise IDs</label>
        <locationX>2371</locationX>
        <locationY>874</locationY>
        <assignNextValueToReference>varPremiseID</assignNextValueToReference>
        <collectionReference>colPremiseIDs_Input</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>All_SA_IDs_Of_A_Premise</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Does_Valid_SA_Exists</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Loop Valid Rate Schedule</description>
        <name>Loop_Valid_Rate_Schedule</name>
        <label>Loop Valid Rate Schedule</label>
        <locationX>2620</locationX>
        <locationY>1830</locationY>
        <collectionReference>colValidRateSchedules</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_Rate_Schedule_Valid</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_All_SA_IDs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>To check rate schedule is valid or not</description>
        <name>Loop_Valid_Rate_Schedule2</name>
        <label>Loop Valid Rate Schedule</label>
        <locationX>4437</locationX>
        <locationY>1870</locationY>
        <collectionReference>colValidRateSchedules</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_Rate_Schedule_Valid2</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Is_Current_SA_Valid</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get All SA Ids of a Person and  a Premise</description>
        <name>All_SA_IDs_Of_A_Premise</name>
        <label>Get All Valid SA IDs of Premise</label>
        <locationX>2721</locationX>
        <locationY>1074</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_All_SA_IDs</targetReference>
        </connector>
        <filters>
            <field>Person_ID_EI__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varPersonID_Input</elementReference>
            </value>
        </filters>
        <filters>
            <field>Site_Premise_ID_EI__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varPremiseID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>EI_Site__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>SAID_EI__c</queriedFields>
        <queriedFields>Svc_Status_Code_EI__c</queriedFields>
        <queriedFields>Svc_Type_Code_EI__c</queriedFields>
        <queriedFields>Site_Premise_ID_EI__c</queriedFields>
        <queriedFields>Person_ID_EI__c</queriedFields>
        <queriedFields>SA_Start_Date_EI__c</queriedFields>
        <queriedFields>Billing_Account_ID_EI__c</queriedFields>
        <queriedFields>Account_EI__c</queriedFields>
        <queriedFields>CARE_DISCOUNT_TYPE__c</queriedFields>
        <queriedFields>Care_Start_Date_EI__c</queriedFields>
        <queriedFields>Care_Stop_Date_EI__c</queriedFields>
        <queriedFields>Rate_Schedule_EI__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get CARE Application Details - To be used in decision boxes</description>
        <name>Care_Application_Details</name>
        <label>Get Care Application Details</label>
        <locationX>4750</locationX>
        <locationY>1118</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Customer_Requested_For_Drop</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCareApplicationId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CARE_Application__c</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get Customer Probation Status</description>
        <name>Customer_Probation_Status</name>
        <label>Get Probation Status</label>
        <locationX>3453</locationX>
        <locationY>850</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Customer_On_Probation</targetReference>
        </connector>
        <filters>
            <field>Billing_Person_ID_EI__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varPersonID_Input</elementReference>
            </value>
        </filters>
        <filters>
            <field>CARE_ON_PROBATION__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>CARE_PROBATION_END_DATE__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>fxTodaysDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>CARE_PROBATION_START_DATE__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>fxTodaysDate</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get customer SA ID from all premises</description>
        <name>Customer_SA_ID_On_All_Premises</name>
        <label>Get All SA  Ids  from all premises</label>
        <locationX>3981</locationX>
        <locationY>866</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_All_SA_Ids_of_Customer</targetReference>
        </connector>
        <filters>
            <field>Person_ID_EI__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varPersonID_Input</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>EI_Site__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>SAID_EI__c</queriedFields>
        <queriedFields>Svc_Status_Code_EI__c</queriedFields>
        <queriedFields>Care_Start_Date_EI__c</queriedFields>
        <queriedFields>Care_Stop_Date_EI__c</queriedFields>
        <queriedFields>Site_Premise_ID_EI__c</queriedFields>
        <queriedFields>Account_EI__c</queriedFields>
        <queriedFields>Svc_Type_Code_EI__c</queriedFields>
        <queriedFields>CARE_DISCOUNT_TYPE__c</queriedFields>
        <queriedFields>Rate_Schedule_EI__c</queriedFields>
        <queriedFields>Billing_Account_ID_EI__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get Active status of SA</description>
        <name>Get_Active_Status</name>
        <label>Get Active Status</label>
        <locationX>511</locationX>
        <locationY>686</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Active_Status_Collection</targetReference>
        </connector>
        <filters>
            <field>CATEGORY__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Valid SA status</stringValue>
            </value>
        </filters>
        <filters>
            <field>END_DATE__c</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>fxTodaysDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>START_DATE__c</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>fxTodaysDate</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CARE_Type__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>TYPE_DESC__c</queriedFields>
        <sortField>CATEGORY__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get Valid Rate Schedules (Comma separated Values)</description>
        <name>Get_Valid_Rate_Schedules</name>
        <label>Get Valid Rate Schedules</label>
        <locationX>721</locationX>
        <locationY>692</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Rate_Schedule_Collection</targetReference>
        </connector>
        <filters>
            <field>CATEGORY__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Valid Rate Schedule</stringValue>
            </value>
        </filters>
        <filters>
            <field>END_DATE__c</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>fxTodaysDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>START_DATE__c</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>fxTodaysDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>TYPE_CODE__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CARE</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CARE_Type__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>TYPE_DESC__c</queriedFields>
        <sortField>CATEGORY__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>699</locationY>
        <connector>
            <targetReference>Get_Active_Status</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <subflows>
        <description>Get Active Status Collection (convert Comma Separated String To List)</description>
        <name>Get_Active_Status_Collection</name>
        <label>Convert Active Status String To Collection</label>
        <locationX>558</locationX>
        <locationY>409</locationY>
        <connector>
            <targetReference>Get_Valid_Rate_Schedules</targetReference>
        </connector>
        <flowName>CARE_ConvertCommaSeparatedStringToList_Flow</flowName>
        <inputAssignments>
            <name>varInputString_Input</name>
            <value>
                <elementReference>Get_Active_Status.TYPE_DESC__c</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>colActiveSAStatus</assignToReference>
            <name>colString_Output</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <description>Get Customer CC Code For Last 2 Years</description>
        <name>Get_Customer_CCCode_For_Last_2_Years</name>
        <label>Get Customer CCCode For Last 2 Years</label>
        <locationX>3667</locationX>
        <locationY>618</locationY>
        <connector>
            <targetReference>Does_Customer_has_CC_Code_VH</targetReference>
        </connector>
        <flowName>CARE_CheckCustomer2YearCCCode_Flow</flowName>
        <inputAssignments>
            <name>varPersonId_Input</name>
            <value>
                <elementReference>varPersonID_Input</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varCustomerHas_M_InLast2Years</assignToReference>
            <name>varCustomerHas_M_InLast2Years_Output</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varCustomerHas_VH_InLast2Years</assignToReference>
            <name>varCustomerHas_VH_InLast2Years_Output</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <description>Get Rate Schedule Collection (Convert Comma Separated String)</description>
        <name>Get_Rate_Schedule_Collection</name>
        <label>Convert Rate Schedule String To Collection</label>
        <locationX>768</locationX>
        <locationY>425</locationY>
        <connector>
            <targetReference>Loop_Application_ID</targetReference>
        </connector>
        <flowName>CARE_ConvertCommaSeparatedStringToList_Flow</flowName>
        <inputAssignments>
            <name>varInputString_Input</name>
            <value>
                <elementReference>Get_Valid_Rate_Schedules.TYPE_DESC__c</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>colValidRateSchedules</assignToReference>
            <name>colString_Output</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <description>Call Fresh Enrollment Process</description>
        <name>New_Enrollment_Process</name>
        <label>New Enrollment Process</label>
        <locationX>4904</locationX>
        <locationY>251</locationY>
        <flowName>CARE_FreshEnrollmentProcess_Flow</flowName>
        <inputAssignments>
            <name>recColValidSAIdsOfSelectedPremise_Input</name>
            <value>
                <elementReference>recColValidSAIdsOfSelectedPremise</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varCareApplicationId_Input</name>
            <value>
                <elementReference>varCareApplicationId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varExistingDiscountType_Input</name>
            <value>
                <elementReference>varExistingDiscountType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varPersonId_Input</name>
            <value>
                <elementReference>varPersonID_Input</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varIsApplicationAccepted_Input</name>
            <value>
                <elementReference>varIsApplicationAccepted</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varCCCodeDescription_Output</assignToReference>
            <name>varCCCodeDescription_Output</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varCCCodeLongDescription_Output</assignToReference>
            <name>varCCCodeLongDescription_Output</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <description>Call CARE/FERA Recertification Process</description>
        <name>Recertification_Process</name>
        <label>Recertification Process</label>
        <locationX>5627</locationX>
        <locationY>696</locationY>
        <flowName>CARE_RecertificationProcess_Flow</flowName>
        <inputAssignments>
            <name>recColValidSAIdsOfSelectedPremise_Input</name>
            <value>
                <elementReference>recColValidSAIdsOfSelectedPremise</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varCareApplicationId_Input</name>
            <value>
                <elementReference>varCareApplicationId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varExistingDiscountType_Input</name>
            <value>
                <elementReference>varExistingDiscountType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varPersonId_Input</name>
            <value>
                <elementReference>varPersonID_Input</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varIsApplicationAccepted_Input</name>
            <value>
                <elementReference>varIsApplicationAccepted</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varCCCodeDescription_Output</assignToReference>
            <name>varCCCodeDescription_Output</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varCCCodeLongDescription_Output</assignToReference>
            <name>varCCCodeLongDescription_Output</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <description>CC Code = IR ; Number 6023</description>
        <name>Update_CC_Code_6023</name>
        <label>Update CC Code 6023 (IR)</label>
        <locationX>3046</locationX>
        <locationY>541</locationY>
        <flowName>CARE_UpdateCCCode_Flow</flowName>
        <inputAssignments>
            <name>recColValidSAIdsOfSelectedPremise_Input</name>
            <value>
                <elementReference>recColValidSAIdsOfSelectedPremise</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varCareApplicationId_Input</name>
            <value>
                <elementReference>varCareApplicationId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varTypeNumber_Input</name>
            <value>
                <stringValue>6023</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varIsApplicationAccepted_Input</name>
            <value>
                <elementReference>varIsApplicationAccepted</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varCCCodeDescription_Output</assignToReference>
            <name>varCCCodeDescription_Output</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varCCCodeLongDescription_Output</assignToReference>
            <name>varCCCodeLongDescription_Output</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <description>CC code =3 ;No :6026 ; Requested for Drop</description>
        <name>Update_CC_Code_6026</name>
        <label>Update CC Code- Drop (6026)</label>
        <locationX>5001</locationX>
        <locationY>838</locationY>
        <flowName>CARE_UpdateCCCode_Flow</flowName>
        <inputAssignments>
            <name>recColValidSAIdsOfSelectedPremise_Input</name>
            <value>
                <elementReference>recColValidSAIdsOfSelectedPremise</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varCareApplicationId_Input</name>
            <value>
                <elementReference>varCareApplicationId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varTypeNumber_Input</name>
            <value>
                <stringValue>6026</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varExistingDiscountType_Input</name>
            <value>
                <elementReference>varExistingDiscountType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varIsApplicationAccepted_Input</name>
            <value>
                <elementReference>varIsApplicationAccepted</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varCCCodeDescription_Output</assignToReference>
            <name>varCCCodeDescription_Output</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varCCCodeLongDescription_Output</assignToReference>
            <name>varCCCodeLongDescription_Output</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <description>CC Code - VE ; No :6027</description>
        <name>Update_CC_Code_6027</name>
        <label>Update CC Code = VE (6027)</label>
        <locationX>3889</locationX>
        <locationY>138</locationY>
        <flowName>CARE_UpdateCCCode_Flow</flowName>
        <inputAssignments>
            <name>recColValidSAIdsOfSelectedPremise_Input</name>
            <value>
                <elementReference>recColValidSAIdsOfSelectedPremise</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varCareApplicationId_Input</name>
            <value>
                <elementReference>varCareApplicationId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varTypeNumber_Input</name>
            <value>
                <stringValue>6027</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varIsApplicationAccepted_Input</name>
            <value>
                <elementReference>varIsApplicationAccepted</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varCCCodeDescription_Output</assignToReference>
            <name>varCCCodeDescription_Output</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varCCCodeLongDescription_Output</assignToReference>
            <name>varCCCodeLongDescription_Output</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <description>Update CC Code =VHE  No:6028</description>
        <name>Update_CC_Code_6028</name>
        <label>Update CC Code =VHE (6028)</label>
        <locationX>3507</locationX>
        <locationY>125</locationY>
        <flowName>CARE_UpdateCCCode_Flow</flowName>
        <inputAssignments>
            <name>recColValidSAIdsOfSelectedPremise_Input</name>
            <value>
                <elementReference>recColValidSAIdsOfSelectedPremise</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varCareApplicationId_Input</name>
            <value>
                <elementReference>varCareApplicationId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varTypeNumber_Input</name>
            <value>
                <stringValue>6028</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varIsApplicationAccepted_Input</name>
            <value>
                <elementReference>varIsApplicationAccepted</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varCCCodeDescription_Output</assignToReference>
            <name>varCCCodeDescription_Output</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varCCCodeLongDescription_Output</assignToReference>
            <name>varCCCodeLongDescription_Output</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <description>Update CC Code M</description>
        <name>Update_CC_Code_M</name>
        <label>Update CC Code M(6050)</label>
        <locationX>3682</locationX>
        <locationY>128</locationY>
        <flowName>CARE_UpdateCCCode_Flow</flowName>
        <inputAssignments>
            <name>recColValidSAIdsOfSelectedPremise_Input</name>
            <value>
                <elementReference>recColValidSAIdsOfSelectedPremise</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varCareApplicationId_Input</name>
            <value>
                <elementReference>varCareApplicationId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varTypeNumber_Input</name>
            <value>
                <stringValue>6050</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varIsApplicationAccepted_Input</name>
            <value>
                <elementReference>varIsApplicationAccepted</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varCCCodeDescription_Output</assignToReference>
            <name>varCCCodeDescription_Output</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varCCCodeLongDescription_Output</assignToReference>
            <name>varCCCodeLongDescription_Output</name>
        </outputAssignments>
    </subflows>
    <variables>
        <description>Store Active Status codes</description>
        <name>colActiveSAStatus</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Only list of Application id can be passed to Flow from Apex.Expected only one record in this collection.</description>
        <name>colCareApplicationIDs_Input</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Application Accepted or Not: Yes /No</description>
        <name>colIsApplicationAccepted_Input</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Person id input.Only one value is expected.</description>
        <name>colPersonIDs_Input</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Premise IDs Passed from UI as an Input to this flow</description>
        <name>colPremiseIDs_Input</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Valid Rate Schedules (CARE)</description>
        <name>colValidRateSchedules</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Loop variable to store each record</description>
        <name>LoopVarCustomerDiscount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CARE_CI_SA__c</objectType>
    </variables>
    <variables>
        <description>Loop variable to hold SA ID</description>
        <name>loopVarSAID</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>EI_Site__c</objectType>
    </variables>
    <variables>
        <description>SA details of Other Discounted Premise (If customer has discount on other premise, Need to drop before giving discount</description>
        <name>recColSAIdsOfOtherDiscountedPremise</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>EI_Site__c</objectType>
    </variables>
    <variables>
        <description>Record collection variable to store all valid SA of customer on all premises.</description>
        <name>recColValidSAIdsOfAllPremises</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>EI_Site__c</objectType>
    </variables>
    <variables>
        <description>Record Collection to Store All Valid SA ID Details of Selected Premise</description>
        <name>recColValidSAIdsOfSelectedPremise</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>EI_Site__c</objectType>
    </variables>
    <variables>
        <description>Main Application Id Passed From UI</description>
        <name>varCareApplicationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Variable to store CC Code Description output of the Full Qualification Logic.</description>
        <name>varCCCodeDescription_Output</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>C</stringValue>
        </value>
    </variables>
    <variables>
        <description>Long Description of CC Code</description>
        <name>varCCCodeLongDescription_Output</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Customer got CC Code M In Last 2 years</description>
        <name>varCustomerHas_M_InLast2Years</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Boolean variable to hold whether customer has VH in last 2 years</description>
        <name>varCustomerHas_VH_InLast2Years</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Existing Discount Type</description>
        <name>varExistingDiscountType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Variable to flag if customer has discount on any other premise than selected premise</description>
        <name>varHasDiscountOnOtherPremise</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Accept button click flag</description>
        <name>varIsApplicationAccepted</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Variable to store whether customer is care customer or not</description>
        <name>varIsCAREFERACustomer</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Is Current SA in loop is having valid Rate Schedule</description>
        <name>varIsCurrentSARateScheduleValid</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Temp Variable to to store Re certification Qualification - To be deleted and update Re certification logic</description>
        <name>varIsQualifiedForRecertification</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Person ID Passed from UI</description>
        <name>varPersonID_Input</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Hold the premise id in Loop</description>
        <name>varPremiseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
