force-app/main/default/flows/CARE_UpdateCCCode_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Get start date and end date of Discount</description>
        <name>Get_Discount_Start_End_Date</name>
        <label>Get Discount Start&amp;End Date for SA</label>
        <locationX>6883</locationX>
        <locationY>926</locationY>
        <actionName>CARE_DiscountDateController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_Current_Date_is_Greater</targetReference>
        </connector>
        <inputParameters>
            <name>dLastBillingEndDate</name>
            <value>
                <elementReference>varLastBillingEndDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>dLastBillingStartDate</name>
            <value>
                <elementReference>varLastBillingStartDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>dSAStartDate</name>
            <value>
                <elementReference>Loop_Valid_SA.SA_Start_Date_EI__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>iNoOfYears</name>
            <value>
                <elementReference>varNoOfYears_Input</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sSAID</name>
            <value>
                <elementReference>Loop_Valid_SA.SAID_EI__c</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>varDiscountEndDate</assignToReference>
            <name>dDiscountEndDate</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>varDiscountStartDate</assignToReference>
            <name>dDiscountStartDate</name>
        </outputParameters>
    </actionCalls>
    <assignments>
        <description>Add Records to Collection Variable (Care app enrolling SA Collection)</description>
        <name>Add_Record_To_Collection</name>
        <label>Add Record To Collection</label>
        <locationX>5156</locationX>
        <locationY>4034</locationY>
        <assignmentItems>
            <assignToReference>recColNewCareAppEnrollingSAList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recVarCareAppEnrollingSA</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Discounted_SA_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Add SA Details To Collection</description>
        <name>Add_SA_Details_To_Collection</name>
        <label>Add SA Details To Collection</label>
        <locationX>5518</locationX>
        <locationY>1669</locationY>
        <assignmentItems>
            <assignToReference>recColNewCareAppEnrollingSAList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recVarCareAppEnrollingSA</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Valid_SA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Add to Collection Variable</description>
        <name>Add_To_Collection_Variable</name>
        <label>Add To Collection Variable</label>
        <locationX>1867</locationX>
        <locationY>3151</locationY>
        <assignmentItems>
            <assignToReference>recColNewCareAppEnrollingSAList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recVarCareAppEnrollingSA</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Existing_Enrolled_SAs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign greater date to a variable</description>
        <name>Assign_Greater_Date</name>
        <label>Assign Greater Date</label>
        <locationX>6471</locationX>
        <locationY>1932</locationY>
        <assignmentItems>
            <assignToReference>varGreatestDiscountEndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varDiscountEndDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_SA_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set Long description in a variable to update it with Lan Id and  received date</description>
        <name>Assign_Long_Description</name>
        <label>Assign Long Description</label>
        <locationX>3846</locationX>
        <locationY>2837</locationY>
        <assignmentItems>
            <assignToReference>varLongDescriptionToBeUpdated</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_CC_Code_Details_For_Transfer.TYPE_DESC_LONG__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Transaction_To_End_Existing_CARE_Discount</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign Long Description To a Variable; Same will be evaluated by formula field and replace &lt;LAN ID&gt; and &lt;Received DATE&gt;</description>
        <name>Assign_Long_Description_To_a_Variable</name>
        <label>Assign Long Description To a Variable</label>
        <locationX>2313</locationX>
        <locationY>838</locationY>
        <assignmentItems>
            <assignToReference>varLongDescriptionToBeUpdated</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_CC_Code_and_Description.TYPE_DESC_LONG__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_ApplicationAccepted</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign Long Description</description>
        <name>Assign_LongDescription</name>
        <label>Assign Long Description</label>
        <locationX>2779</locationX>
        <locationY>3317</locationY>
        <assignmentItems>
            <assignToReference>varLongDescriptionToBeUpdated</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_CC_Code_Details_For_Adjustment.TYPE_DESC_LONG__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Main_Application_CC_Code</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign SA Details To a Record Variable</description>
        <name>Assign_SA_Details</name>
        <label>Assign SA Details</label>
        <locationX>1869</locationX>
        <locationY>3371</locationY>
        <assignmentItems>
            <assignToReference>recVarCareAppEnrollingSA.ACCT_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Existing_Enrolled_SAs.ACCT_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recVarCareAppEnrollingSA.START_DATE__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Existing_Enrolled_SAs.START_DATE__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recVarCareAppEnrollingSA.APPLICATION__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varNewApplicationID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recVarCareAppEnrollingSA.CC_CL_CD__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Existing_Enrolled_SAs.CC_CL_CD__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recVarCareAppEnrollingSA.CCB_CONTACT_TYPE__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Existing_Enrolled_SAs.CCB_CONTACT_TYPE__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recVarCareAppEnrollingSA.RETRO_START_DATE__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recVarCareAppEnrollingSA.RETRO_END_DATE__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recVarCareAppEnrollingSA.END_DATE__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Existing_Enrolled_SAs.END_DATE__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recVarCareAppEnrollingSA.SA_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Existing_Enrolled_SAs.SA_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recVarCareAppEnrollingSA.CCB_CONTACT_TYPE__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Existing_Enrolled_SAs.CCB_CONTACT_TYPE__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recVarCareAppEnrollingSA.RS_CD__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Existing_Enrolled_SAs.RS_CD__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recVarCareAppEnrollingSA.PER_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Existing_Enrolled_SAs.PER_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recVarCareAppEnrollingSA.PREM_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Existing_Enrolled_SAs.PREM_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recVarCareAppEnrollingSA.Service_Agreement__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Existing_Enrolled_SAs.Service_Agreement__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recVarCareAppEnrollingSA.SA_START_DATE__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Existing_Enrolled_SAs.SA_START_DATE__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_To_Collection_Variable</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign SA Details To record collection List</description>
        <name>Assign_SA_Details_To_List</name>
        <label>Assign SA Details To List</label>
        <locationX>3360</locationX>
        <locationY>3236</locationY>
        <assignmentItems>
            <assignToReference>recColNewCareAppEnrollingSAList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recVarCareAppEnrollingSA</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Valid_SA_3</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign SA Details To CARE App Enrolled Record Variable</description>
        <name>Assign_SA_Details_To_Record_Variable</name>
        <label>Assign SA Details To Record Variable</label>
        <locationX>3360</locationX>
        <locationY>3419</locationY>
        <assignmentItems>
            <assignToReference>recVarCareAppEnrollingSA.APPLICATION__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varNewApplicationID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recVarCareAppEnrollingSA.Service_Agreement__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Valid_SA_3.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recVarCareAppEnrollingSA.START_DATE__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Valid_SA_3.Care_Start_Date_EI__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recVarCareAppEnrollingSA.END_DATE__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fxTodaysDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recVarCareAppEnrollingSA.ACCT_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Valid_SA_3.Billing_Account_ID_EI__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recVarCareAppEnrollingSA.PREM_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Valid_SA_3.Site_Premise_ID_EI__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recVarCareAppEnrollingSA.PER_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Valid_SA_3.Person_ID_EI__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recVarCareAppEnrollingSA.SA_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Valid_SA_3.SAID_EI__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recVarCareAppEnrollingSA.CCB_CONTACT_TYPE__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>6042</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recVarCareAppEnrollingSA.RS_CD__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Valid_SA_3.Rate_Schedule_EI__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recVarCareAppEnrollingSA.CC_CL_CD__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CARE</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recVarCareAppEnrollingSA.SA_START_DATE__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Valid_SA_3.SA_Start_Date_EI__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_SA_Details_To_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign SA Details To Record Variable</description>
        <name>Assign_SA_Details_To_RecordVariable</name>
        <label>Assign SA Details To Record Variable</label>
        <locationX>6411</locationX>
        <locationY>2966</locationY>
        <assignmentItems>
            <assignToReference>recVarCareAppEnrollingSA.APPLICATION__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varNewApplicationID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recVarCareAppEnrollingSA.Service_Agreement__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Discounted_SA.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recVarCareAppEnrollingSA.START_DATE__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Discounted_SA.Care_Start_Date_EI__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recVarCareAppEnrollingSA.END_DATE__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fxTodaysDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recVarCareAppEnrollingSA.ACCT_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Discounted_SA.Billing_Account_ID_EI__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recVarCareAppEnrollingSA.PREM_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Discounted_SA.Site_Premise_ID_EI__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recVarCareAppEnrollingSA.PER_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Discounted_SA.Person_ID_EI__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recVarCareAppEnrollingSA.SA_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Discounted_SA.SAID_EI__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recVarCareAppEnrollingSA.CCB_CONTACT_TYPE__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>6042</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recVarCareAppEnrollingSA.RS_CD__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Discounted_SA.Rate_Schedule_EI__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recVarCareAppEnrollingSA.CC_CL_CD__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varExistingDiscountType_Input</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recVarCareAppEnrollingSA.SA_START_DATE__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Discounted_SA.SA_Start_Date_EI__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_SA_Record_To_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign SA Details To Variable</description>
        <name>Assign_SA_Details_To_Variable</name>
        <label>Assign SA Details</label>
        <locationX>5151</locationX>
        <locationY>3851</locationY>
        <assignmentItems>
            <assignToReference>recVarCareAppEnrollingSA.ACCT_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Discounted_SA_2.Billing_Account_ID_EI__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recVarCareAppEnrollingSA.START_DATE__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Discounted_SA_2.Care_Start_Date_EI__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recVarCareAppEnrollingSA.END_DATE__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fxTodaysDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recVarCareAppEnrollingSA.APPLICATION__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCareApplicationId_Input</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recVarCareAppEnrollingSA.Service_Agreement__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Discounted_SA_2.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recVarCareAppEnrollingSA.CC_CL_CD__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varExistingDiscountType_Input</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recVarCareAppEnrollingSA.CCB_CONTACT_TYPE__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varTypeNumber_Input</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recVarCareAppEnrollingSA.PER_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Discounted_SA_2.Person_ID_EI__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recVarCareAppEnrollingSA.PREM_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Discounted_SA_2.Site_Premise_ID_EI__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recVarCareAppEnrollingSA.SA_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Discounted_SA_2.SAID_EI__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recVarCareAppEnrollingSA.RS_CD__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Discounted_SA_2.Rate_Schedule_EI__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Record_To_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign SA Record To Collection</description>
        <name>Assign_SA_Record_To_Collection</name>
        <label>Assign SA Record To Collection</label>
        <locationX>6424</locationX>
        <locationY>3265</locationY>
        <assignmentItems>
            <assignToReference>recColNewCareAppEnrollingSAList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recVarCareAppEnrollingSA</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Discounted_SA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign SA To Enrolling SA Collection</description>
        <name>Assign_SA_To_Collection</name>
        <label>Assign SA To Collection</label>
        <locationX>5168</locationX>
        <locationY>3651</locationY>
        <assignmentItems>
            <assignToReference>recColNewCareAppEnrollingSAList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recVarCareAppEnrollingSA</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Valid_SA_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Clear Record Collection - Used for creating care app enrolled SAs</description>
        <name>Clear_Record_Collection</name>
        <label>Clear Record Collection</label>
        <locationX>6038</locationX>
        <locationY>2765</locationY>
        <assignmentItems>
            <assignToReference>recColNewCareAppEnrollingSAList</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>recColNewCareAppEnrollingSAList</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Discounted_SA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Add records to collection Variable to delete from CARE App Enrolled SA</description>
        <name>Collection_Records_To_Be_Deleted</name>
        <label>Collection Records To Be Deleted</label>
        <locationX>1942</locationX>
        <locationY>3600</locationY>
        <assignmentItems>
            <assignToReference>recColCareAppEnrolledSATobeDeleted</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Existing_Enrolled_SAs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_SA_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set Result as error message</description>
        <name>Fault_Message</name>
        <label>Fault Message</label>
        <locationX>3628</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>varCCCodeDescription_Output</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>Fault Message</description>
        <name>Fault_Message2</name>
        <label>Fault Message</label>
        <locationX>3306</locationX>
        <locationY>5361</locationY>
        <assignmentItems>
            <assignToReference>varCCCodeDescription_Output</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>Remove All Item from List - Care App Enrolling SA List</description>
        <name>Remove_All_Item_from_List</name>
        <label>Remove All Item from List</label>
        <locationX>3746</locationX>
        <locationY>3216</locationY>
        <assignmentItems>
            <assignToReference>recColNewCareAppEnrollingSAList</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>recColNewCareAppEnrollingSAList</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Valid_SA_3</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set Application Status Decision Made</description>
        <name>Set_Application_Status_DecisionMade</name>
        <label>Set Application Status Decision Made</label>
        <locationX>2155</locationX>
        <locationY>1181</locationY>
        <assignmentItems>
            <assignToReference>varApplicationStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Decision Made</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Previous_Type_Number_Same</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set Application Status In-Progress and Long Description = Updated Long Description with &lt;LAN ID&gt; ,&lt;DATE &gt; etc replaced.</description>
        <name>Set_Application_Status_In_Progress</name>
        <label>Set Application Status In-Progress</label>
        <locationX>2542</locationX>
        <locationY>1075</locationY>
        <assignmentItems>
            <assignToReference>varApplicationStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In-Progress</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFinalLongDescriptionToBeUpdated</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fxUpdatedCCCodeLongDescription</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_CC_Code_And_Description</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set Discount type CARE</description>
        <name>Set_Discount_Type_CARE</name>
        <label>Set Discount Type (CARE)</label>
        <locationX>1409</locationX>
        <locationY>707</locationY>
        <assignmentItems>
            <assignToReference>varCCCLCD</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CARE</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_CC_Code_and_Description</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set Discount Type =FERA</description>
        <name>Set_Discount_Type_FERA</name>
        <label>Set Discount Type (FERA)</label>
        <locationX>1268</locationX>
        <locationY>663</locationY>
        <assignmentItems>
            <assignToReference>varCCCLCD</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>FERA</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_CC_Code_and_Description</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set Enrolling SA Details To end discount</description>
        <name>Set_Enrolling_SA_Details</name>
        <label>Set Enrolling SA Details</label>
        <locationX>5192</locationX>
        <locationY>3442</locationY>
        <assignmentItems>
            <assignToReference>recVarCareAppEnrollingSA.START_DATE__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Valid_SA_2.Care_Start_Date_EI__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recVarCareAppEnrollingSA.END_DATE__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fxTodaysDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recVarCareAppEnrollingSA.APPLICATION__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCareApplicationId_Input</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recVarCareAppEnrollingSA.ACCT_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Valid_SA_2.Billing_Account_ID_EI__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recVarCareAppEnrollingSA.Service_Agreement__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Valid_SA_2.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recVarCareAppEnrollingSA.CC_CL_CD__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varExistingDiscountType_Input</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recVarCareAppEnrollingSA.CCB_CONTACT_TYPE__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varTypeNumber_Input</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recVarCareAppEnrollingSA.PER_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Valid_SA_2.Person_ID_EI__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recVarCareAppEnrollingSA.PREM_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Valid_SA_2.Site_Premise_ID_EI__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recVarCareAppEnrollingSA.SA_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Valid_SA_2.SAID_EI__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recVarCareAppEnrollingSA.RS_CD__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Valid_SA_2.Rate_Schedule_EI__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recVarCareAppEnrollingSA.SA_START_DATE__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Valid_SA_2.SA_Start_Date_EI__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_SA_To_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set Long Description To Be Updated - Use Existing  modified Comment in DB</description>
        <name>Set_Existing_Long_Description</name>
        <label>Set Existing Long Description</label>
        <locationX>1509</locationX>
        <locationY>1626</locationY>
        <assignmentItems>
            <assignToReference>varFinalLongDescriptionToBeUpdated</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Main_Application_Details.CCB_CONTACT_COMMENT__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Discount_Applicable_For_Transaction</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set Long Description For Discount Drop</description>
        <name>Set_Long_Description_For_Discount_Drop</name>
        <label>Set Long Description For Discount Drop</label>
        <locationX>5675</locationX>
        <locationY>2588</locationY>
        <assignmentItems>
            <assignToReference>varLongDescriptionToBeUpdated</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_CC_Code_Details_For_Discount_Drop.TYPE_DESC_LONG__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Transaction_To_Drop_Discount</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set New Long Description .
Note: ACCEPT verification process, received different CC Code.</description>
        <name>Set_New_Long_Description</name>
        <label>Set New Long Description</label>
        <locationX>1783</locationX>
        <locationY>1503</locationY>
        <assignmentItems>
            <assignToReference>varFinalLongDescriptionToBeUpdated</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fxUpdatedCCCodeLongDescription</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Discount_Applicable_For_Transaction</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set Out Put Values</description>
        <name>Set_Output_Values</name>
        <label>Set Output Values</label>
        <locationX>4804</locationX>
        <locationY>2196</locationY>
        <assignmentItems>
            <assignToReference>varCCCodeDescription_Output</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_CC_Code_and_Description.TYPE_DESC__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCCCodeLongDescription_Output</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varFinalLongDescriptionToBeUpdated</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>Set Result: Result is always full qualification out put.</description>
        <name>Set_Output_Variable</name>
        <label>Set Output Variable</label>
        <locationX>4232</locationX>
        <locationY>4393</locationY>
        <assignmentItems>
            <assignToReference>varCCCodeDescription_Output</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_CC_Code_and_Description.TYPE_DESC__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCCCodeLongDescription_Output</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varFinalLongDescriptionToBeUpdated</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>Set out put variable to send back the results</description>
        <name>Set_Output_Variables</name>
        <label>Set Output Variables</label>
        <locationX>4506</locationX>
        <locationY>1172</locationY>
        <assignmentItems>
            <assignToReference>varCCCodeDescription_Output</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_CC_Code_and_Description.TYPE_DESC__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCCCodeLongDescription_Output</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varFinalLongDescriptionToBeUpdated</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Application_Accepted</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set SA Details in record type variable</description>
        <name>Set_SA_Details</name>
        <label>Set SA Details</label>
        <locationX>6121</locationX>
        <locationY>1977</locationY>
        <assignmentItems>
            <assignToReference>recVarCareAppEnrollingSA.Service_Agreement__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Valid_SA.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recVarCareAppEnrollingSA.START_DATE__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varDiscountStartDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recVarCareAppEnrollingSA.END_DATE__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varDiscountEndDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recVarCareAppEnrollingSA.APPLICATION__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCareApplicationId_Input</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recVarCareAppEnrollingSA.ACCT_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Valid_SA.Billing_Account_ID_EI__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recVarCareAppEnrollingSA.CC_CL_CD__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCCCLCD</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recVarCareAppEnrollingSA.PER_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Valid_SA.Person_ID_EI__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recVarCareAppEnrollingSA.PREM_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Valid_SA.Site_Premise_ID_EI__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recVarCareAppEnrollingSA.SA_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Valid_SA.SAID_EI__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recVarCareAppEnrollingSA.CCB_CONTACT_TYPE__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varTypeNumber_Input</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recVarCareAppEnrollingSA.RS_CD__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Valid_SA.Rate_Schedule_EI__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recVarCareAppEnrollingSA.SA_START_DATE__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Valid_SA.SA_Start_Date_EI__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_SA_IDs_In_A_Variable</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set New SA IDs In A Variable. For replacing the place holder in long description.</description>
        <name>Set_SA_IDs_In_A_Variable</name>
        <label>Set New SA IDs In A Variable</label>
        <locationX>5740</locationX>
        <locationY>1826</locationY>
        <assignmentItems>
            <assignToReference>varNewSAIDs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Valid_SA.SAID_EI__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewSAIDs</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_SA_Details_To_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set Valid RS Flag False</description>
        <name>Set_Valid_RS_Flag_False</name>
        <label>Set Valid RS Flag False</label>
        <locationX>5778</locationX>
        <locationY>949</locationY>
        <assignmentItems>
            <assignToReference>varIsCurrentSARateScheduleValid</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Valid_FERA_RateSchedule</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set Valid RS Flag True</description>
        <name>Set_Valid_RS_Flag_True</name>
        <label>Set Valid RS Flag True</label>
        <locationX>5569</locationX>
        <locationY>1331</locationY>
        <assignmentItems>
            <assignToReference>varIsCurrentSARateScheduleValid</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Valid_FERA_RateSchedule</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Current_Date_is_Greater</name>
        <label>Check Current Date is Greater or Not</label>
        <locationX>6298</locationX>
        <locationY>1765</locationY>
        <defaultConnector>
            <targetReference>Set_SA_Details</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Greater</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varDiscountEndDate</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>varGreatestDiscountEndDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Greater_Date</targetReference>
            </connector>
            <label>Yes Greater</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check Record Exist To Delete</description>
        <name>Check_Record_Exist_To_Delete</name>
        <label>Check Record Exist To Delete</label>
        <locationX>2408</locationX>
        <locationY>3563</locationY>
        <defaultConnector>
            <targetReference>Update_Type_number_of_Enrolled_SAs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_RecordExists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recColCareAppEnrolledSATobeDeleted</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_SA_From_Adjustment_Transaction</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check Retro Start/End Date Available in the SA.If Date is not available ,those SA need to delete from Adjustment Transaction.</description>
        <name>Check_Retro_Start_End_Date_Available</name>
        <label>Check Retro Start/End Date Available</label>
        <locationX>2263</locationX>
        <locationY>3420</locationY>
        <defaultConnector>
            <targetReference>Assign_SA_Details</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Retro_Date_Available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Existing_Enrolled_SAs.RETRO_END_DATE__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <elementReference>Yes_Accepted_True</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Existing_Enrolled_SAs.RETRO_START_DATE__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Collection_Records_To_Be_Deleted</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>SA  Type =E/G</description>
        <name>Check_SA_Type</name>
        <label>Check SA Type</label>
        <locationX>5468</locationX>
        <locationY>951</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Electric</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Valid_SA.Svc_Type_Code_EI__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>E</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Valid_RS_Flag_False</targetReference>
            </connector>
            <label>Electric</label>
        </rules>
        <rules>
            <name>Gas</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Valid_SA.Svc_Type_Code_EI__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>G</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Valid_SA</targetReference>
            </connector>
            <label>Gas</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check customer has existing  CARE Discount</description>
        <name>Does_Customer_Has_CARE_Discount</name>
        <label>Does Customer Has CARE Discount?</label>
        <locationX>4214</locationX>
        <locationY>2742</locationY>
        <defaultConnector>
            <targetReference>Set_Output_Variable</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_CARE_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varExistingDiscountType_Input</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varExistingDiscountType_Input</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CARE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_CC_Code_Details_For_Transfer</targetReference>
            </connector>
            <label>Yes On CARE</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check customer has existing discount (IF any premise has discount  &apos;varExistingDiscountType_Input&apos; will have a value (CARE/FERA)</description>
        <name>Does_Customer_Has_Discount</name>
        <label>Does Customer Has Discount ?</label>
        <locationX>4816</locationX>
        <locationY>2737</locationY>
        <defaultConnector>
            <targetReference>Set_Output_Values</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_On_Discount</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varExistingDiscountType_Input</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Valid_SA_2</targetReference>
            </connector>
            <label>Yes On Discount</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check Enrolled SA Exists ; Perform delete only if it not &apos;ACCEPT&apos; button Click;</description>
        <name>Does_Enrolled_SA_Exists</name>
        <label>Does Enrolled SA Exists?</label>
        <locationX>3082</locationX>
        <locationY>1532</locationY>
        <defaultConnector>
            <targetReference>Is_CARE_App_SA_Required</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>Yes_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Care_App_Enrolled_SA</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Adjustment_Involved</targetReference>
            </connector>
            <label>Yes Record Exists</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check Enrolling Discount Type</description>
        <name>Enrolling_Discount_Type</name>
        <label>Enrolling Discount Type?</label>
        <locationX>5428</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>Get_Discount_Start_End_Date</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>CARE</defaultConnectorLabel>
        <rules>
            <name>FERA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varIsFERADiscount_Input</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_SA_Type</targetReference>
            </connector>
            <label>FERA</label>
        </rules>
    </decisions>
    <decisions>
        <description>Has Discount on Other Premise?</description>
        <name>Has_Discount_on_Other_Premise</name>
        <label>Has Discount on Other Premise?</label>
        <locationX>5361</locationX>
        <locationY>2426</locationY>
        <defaultConnector>
            <targetReference>Type_Of_CC_Code</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_DiscountOnOtherPrmise</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varHasDiscountOnOtherPremise_Input</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes_Accepted_True</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_CC_Code_Details_For_Discount_Drop</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Has Discount on Other Premise? If Yes Add those SA details also to Dropping List</description>
        <name>Has_Discount_On_OtherPremise</name>
        <label>Has Discount on Other Premise?</label>
        <locationX>4764</locationX>
        <locationY>4026</locationY>
        <defaultConnector>
            <targetReference>Create_Care_App_Enrolled_SA</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_DiscountOnOtherPremise</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varHasDiscountOnOtherPremise_Input</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Discounted_SA_2</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check Is Adjustment Involved and Clicked Accept Button. Adjustment will be accounted only on accept button click.</description>
        <name>Is_Adjustment_Involved</name>
        <label>Is Adjustment Involved?</label>
        <locationX>3078</locationX>
        <locationY>1900</locationY>
        <defaultConnector>
            <targetReference>Delete_Existing_Enrolled_SA</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Adjustment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Main_Application_Details.IS_ADJUSTMENT__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varIsApplicationAccepted_Input</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_New_Transaction</targetReference>
            </connector>
            <label>Yes Adjustment</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check the application accepted flag</description>
        <name>Is_Application_Accepted</name>
        <label>Is Application Accepted?</label>
        <locationX>4535</locationX>
        <locationY>2132</locationY>
        <defaultConnector>
            <targetReference>Set_Output_Values</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Accepted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varIsApplicationAccepted_Input</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Giving_Discount</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check application is Accepted? Based on that set the status</description>
        <name>Is_ApplicationAccepted</name>
        <label>Is Application Accepted?</label>
        <locationX>2302</locationX>
        <locationY>1067</locationY>
        <defaultConnector>
            <targetReference>Set_Application_Status_In_Progress</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Accepted_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varIsApplicationAccepted_Input</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Application_Status_DecisionMade</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check whether Care App enrolled SA is required or not</description>
        <name>Is_CARE_App_SA_Required</name>
        <label>Is CARE App SA Required?</label>
        <locationX>4764</locationX>
        <locationY>1752</locationY>
        <defaultConnector>
            <targetReference>Is_Application_Accepted</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Create_Enrolled_SA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varIsCareAppEnrolledSARequired_Input</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Valid_SA</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check is care discounted SA or not</description>
        <name>Is_CARE_Discounted</name>
        <label>Is CARE Discounted?</label>
        <locationX>3512</locationX>
        <locationY>3582</locationY>
        <defaultConnector>
            <targetReference>Loop_Valid_SA_3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_CARE_Discounted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Valid_SA_3.CARE_DISCOUNT_TYPE__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CARE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Valid_SA_3.Care_Stop_Date_EI__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>fxTodaysDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_SA_Details_To_Record_Variable</targetReference>
            </connector>
            <label>Yes CARE</label>
        </rules>
    </decisions>
    <decisions>
        <description>Is Current SA Rate Schedule Valid or not</description>
        <name>Is_Current_SA_RS_Valid</name>
        <label>Is RS Valid?</label>
        <locationX>6153</locationX>
        <locationY>1553</locationY>
        <defaultConnector>
            <targetReference>Loop_Valid_SA</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_RS_Valid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varIsCurrentSARateScheduleValid</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Discount_Start_End_Date</targetReference>
            </connector>
            <label>Yes RS Valid</label>
        </rules>
    </decisions>
    <decisions>
        <description>Is Discount Applicable?</description>
        <name>Is_Discount_Applicable</name>
        <label>Is Discount Applicable?</label>
        <locationX>1431</locationX>
        <locationY>1146</locationY>
        <defaultConnector>
            <targetReference>Get_CC_Code_and_Description</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_C</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varIsCAREDiscount_Input</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Discount_Type_CARE</targetReference>
            </connector>
            <label>Yes CARE</label>
        </rules>
        <rules>
            <name>Yes_F</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varIsFERADiscount_Input</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Discount_Type_FERA</targetReference>
            </connector>
            <label>Yes FERA</label>
        </rules>
    </decisions>
    <decisions>
        <description>Is Discount Applicable For Transaction - CARE/FERA</description>
        <name>Is_Discount_Applicable_For_Transaction</name>
        <label>Is Discount Applicable For Transaction?</label>
        <locationX>1977</locationX>
        <locationY>1633</locationY>
        <defaultConnector>
            <targetReference>Update_CC_Code_And_Description</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Applicable</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varIsCAREDiscount_Input</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes_Accepted_True</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varIsFERADiscount_Input</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Transaction_Qualified_By</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if discount on SA is valid</description>
        <name>Is_Discount_On_SA_Valid</name>
        <label>Is Discount On SA Valid?</label>
        <locationX>5084</locationX>
        <locationY>3342</locationY>
        <defaultConnector>
            <targetReference>Loop_Valid_SA_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Discount</defaultConnectorLabel>
        <rules>
            <name>Yes_Valid_Discount</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Valid_SA_2.Care_Stop_Date_EI__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>fxTodaysDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Enrolling_SA_Details</targetReference>
            </connector>
            <label>Yes Valid Discount</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if Giving Discount: Then need to drop other premise discount if any</description>
        <name>Is_Giving_Discount</name>
        <label>Is Giving Discount?</label>
        <locationX>4463</locationX>
        <locationY>2362</locationY>
        <defaultConnector>
            <targetReference>Type_Of_CC_Code</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_DiscountInvolved</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varIsFERADiscount_Input</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varIsCAREDiscount_Input</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Has_Discount_on_Other_Premise</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>check previous Verification CC code and CC code Received during Accept click are same or not?</description>
        <name>Is_Previous_Type_Number_Same</name>
        <label>Is Previous Type Number Same?</label>
        <locationX>1668</locationX>
        <locationY>1367</locationY>
        <defaultConnector>
            <targetReference>Set_New_Long_Description</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Same_CC_Code</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Main_Application_Details.CCB_Contact_Type_No__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>varTypeNumber_Input</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Existing_Long_Description</targetReference>
            </connector>
            <label>Yes Same</label>
        </rules>
    </decisions>
    <decisions>
        <description>Is RS Valid</description>
        <name>Is_RS_Valid</name>
        <label>Is RS Valid?</label>
        <locationX>5772</locationX>
        <locationY>1391</locationY>
        <defaultConnector>
            <targetReference>Loop_Valid_FERA_RateSchedule</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Valid_RS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Valid_FERA_RateSchedule</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Loop_Valid_SA.Rate_Schedule_EI__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Valid_RS_Flag_True</targetReference>
            </connector>
            <label>Yes Valid RS</label>
        </rules>
    </decisions>
    <decisions>
        <description>If Over Income or Drop, End the existing Customer Discount. New Transaction is not required for this scenario.</description>
        <name>Type_Of_CC_Code</name>
        <label>Type Of CC Code?</label>
        <locationX>4540</locationX>
        <locationY>2606</locationY>
        <defaultConnector>
            <targetReference>Set_Output_Values</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>OverIncome_Drop</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varTypeNumber_Input</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>6025</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varTypeNumber_Input</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>6026</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Does_Customer_Has_Discount</targetReference>
            </connector>
            <label>Over Income/Drop</label>
        </rules>
        <rules>
            <name>FERA_Enrollment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varIsFERADiscount_Input</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Does_Customer_Has_CARE_Discount</targetReference>
            </connector>
            <label>FERA Enrollment</label>
        </rules>
    </decisions>
    <description>Sub flow called to Update CC Code and Create CARE Enrolled SAs.</description>
    <formulas>
        <description>Annual Income to be replaced in long description</description>
        <name>fxAnnualIncome</name>
        <dataType>String</dataType>
        <expression>TEXT({!Get_Main_Application_Details.ANNUAL_HOUSEHOLD_INCOME__c})</expression>
    </formulas>
    <formulas>
        <description>Applicant Name to be replaced in Care application</description>
        <name>fxApplicantName</name>
        <dataType>String</dataType>
        <expression>{!Get_Main_Application_Details.APPLICANT_NAME__c}</expression>
    </formulas>
    <formulas>
        <description>End Date</description>
        <name>fxEnrollmentEndDate</name>
        <dataType>Date</dataType>
        <expression>IF({!varNoOfYears_Input}=4, Today()+1530, Today()+810)</expression>
    </formulas>
    <formulas>
        <description>Start Date</description>
        <name>fxEnrollmentStartDate</name>
        <dataType>Date</dataType>
        <expression>Today()</expression>
    </formulas>
    <formulas>
        <description>Final trimmed SA IDs to be replaced in Place holder- Removing the final ;</description>
        <name>fxFinalSAIDsToBeReplaced</name>
        <dataType>String</dataType>
        <expression>LEFT({!varNewSAIDs},LEN({!varNewSAIDs})-1)</expression>
    </formulas>
    <formulas>
        <description>User Lan Id</description>
        <name>fxLANID</name>
        <dataType>String</dataType>
        <expression>{!$User.LAN_ID_EI__c}</expression>
    </formulas>
    <formulas>
        <description>No Of House hold to be replaced in Long description</description>
        <name>fxNoOfHousehold</name>
        <dataType>String</dataType>
        <expression>TEXT({!Get_Main_Application_Details.NO_ADULT__c}+{!Get_Main_Application_Details.NO_CHILD__c})</expression>
    </formulas>
    <formulas>
        <description>Received Date to be replace in CC Code long description</description>
        <name>fxReceivedDate</name>
        <dataType>Date</dataType>
        <expression>IF(NOT(ISBLANK({!Get_Main_Application_Details.RECEIVED_DATE__c})),{!Get_Main_Application_Details.RECEIVED_DATE__c},
IF(NOT(ISBLANK({!Get_Main_Application_Details.DOC_RECEIVED_DATE__c})),{!Get_Main_Application_Details.DOC_RECEIVED_DATE__c},{!Get_Main_Application_Details.ENTRY_DATE_CARE1__c}))</expression>
    </formulas>
    <formulas>
        <description>Today Date</description>
        <name>fxTodaysDate</name>
        <dataType>Date</dataType>
        <expression>Today()</expression>
    </formulas>
    <formulas>
        <description>Updated Long description (with substitute for LANID,Recieved Date)</description>
        <name>fxUpdatedCCCodeLongDescription</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE({!varLongDescriptionToBeUpdated},&quot;&lt;LAN ID&gt;&quot;, {!fxLANID}),&quot;&lt;Date Received&gt;&quot;,LPAD(TEXT(MONTH({!fxReceivedDate} )),2,&quot;0&quot;)&amp;&quot;/&quot;&amp;LPAD(TEXT(DAY({!fxReceivedDate} )),2,&quot;0&quot;)&amp;&quot;/&quot;&amp;TEXT(YEAR({!fxReceivedDate} ))),&quot;&lt;# OF HH&gt;&quot;,{!fxNoOfHousehold}),&quot;&lt;$ INCM_AMNT&gt;&quot;,&quot;$ &quot;&amp;{!fxAnnualIncome}),&quot;&lt;Applicant Name&gt;&quot;,{!fxApplicantName}),&quot;&lt;SA ID&gt;&quot;,{!fxFinalSAIDsToBeReplaced})</expression>
    </formulas>
    <interviewLabel>CARE Update CC Code Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CARE Update CC Code Flow</label>
    <loops>
        <description>Loop through discounted SA and add it to record collection variable to create care app enrolled records.</description>
        <name>Loop_Discounted_SA</name>
        <label>Loop Discounted SA</label>
        <locationX>6041</locationX>
        <locationY>3267</locationY>
        <collectionReference>recColSAIdsOfOtherPremiseDiscount_Input</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_SA_Details_To_RecordVariable</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Care_App_Enrolled_SA_For_Discount_Drop</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Loop through Other Discounted premise SA (Received from main flow).No need to explicitly check whether this SA has discount.Its already verified in main flow.</description>
        <name>Loop_Discounted_SA_2</name>
        <label>Loop Discounted SA Of Other Premise</label>
        <locationX>4979</locationX>
        <locationY>4018</locationY>
        <collectionReference>recColSAIdsOfOtherPremiseDiscount_Input</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_SA_Details_To_Variable</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Care_App_Enrolled_SA</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Loop Through existing enrolled SAs and add it to Newly Enrollling SA Variable.
For Adjustment Scenario, Main application will remain as Adjustment Transaction.A new transaction and enrolled SA(without Retro Dates) will be created for Main Transaction.</description>
        <name>Loop_Existing_Enrolled_SAs</name>
        <label>Loop Existing Enrolled SAs</label>
        <locationX>2279</locationX>
        <locationY>3210</locationY>
        <collectionReference>recColExistingEnrolledSAs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Retro_Start_End_Date_Available</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_CC_Code_Details_For_Adjustment</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Loop Valid FERA RS</description>
        <name>Loop_Valid_FERA_RateSchedule</name>
        <label>Loop Valid FERA RS</label>
        <locationX>5689</locationX>
        <locationY>1160</locationY>
        <collectionReference>colValidFERARateSchedule_Input</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_RS_Valid</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Is_Current_SA_RS_Valid</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Loop through all valid SA and assign it to a new record collection with start and end date.</description>
        <name>Loop_Valid_SA</name>
        <label>Loop Valid SA</label>
        <locationX>4818</locationX>
        <locationY>1201</locationY>
        <collectionReference>recColValidSAIdsOfSelectedPremise_Input</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Enrolling_Discount_Type</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Enrolled_SA</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Loop through All Valid SA To end Discount (Of Selected Premise)</description>
        <name>Loop_Valid_SA_2</name>
        <label>Loop Valid SAs Of Selected Premise</label>
        <locationX>4791</locationX>
        <locationY>3546</locationY>
        <collectionReference>recColValidSAIdsOfSelectedPremise_Input</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_Discount_On_SA_Valid</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Has_Discount_On_OtherPremise</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Loop through all valid SA to fetch Care discounted SAs</description>
        <name>Loop_Valid_SA_3</name>
        <label>Loop Valid SAs To Fetch CARE</label>
        <locationX>3743</locationX>
        <locationY>3467</locationY>
        <collectionReference>recColValidSAIdsOfSelectedPremise_Input</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_CARE_Discounted</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Care_App_Enrolled_SA_For_Transfer</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Create Care App Enrolled SA</description>
        <name>Create_Care_App_Enrolled_SA</name>
        <label>Create Care App Enrolled SA To Stop Discount</label>
        <locationX>4786</locationX>
        <locationY>4575</locationY>
        <connector>
            <targetReference>Set_Output_Variable</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Message2</targetReference>
        </faultConnector>
        <inputReference>recColNewCareAppEnrollingSAList</inputReference>
    </recordCreates>
    <recordCreates>
        <description>Create Care App Enrolled SA For Discount Drop (other Premise)</description>
        <name>Create_Care_App_Enrolled_SA_For_Discount_Drop</name>
        <label>Create Care App Enrolled SA For Discount Drop</label>
        <locationX>5641</locationX>
        <locationY>2947</locationY>
        <connector>
            <targetReference>Type_Of_CC_Code</targetReference>
        </connector>
        <inputReference>recColNewCareAppEnrollingSAList</inputReference>
    </recordCreates>
    <recordCreates>
        <description>Create Care App Enrolled SA For Transfer</description>
        <name>Create_Care_App_Enrolled_SA_For_Transfer</name>
        <label>Create Care App Enrolled SA For Transfer</label>
        <locationX>3972</locationX>
        <locationY>3700</locationY>
        <connector>
            <targetReference>Set_Output_Variable</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Message2</targetReference>
        </faultConnector>
        <inputReference>recColNewCareAppEnrollingSAList</inputReference>
    </recordCreates>
    <recordCreates>
        <description>Create Enrolled SA</description>
        <name>Create_Enrolled_SA</name>
        <label>Create Enrolled SA</label>
        <locationX>4809</locationX>
        <locationY>601</locationY>
        <connector>
            <targetReference>Update_Greater_Discount_Date</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Message</targetReference>
        </faultConnector>
        <inputReference>recColNewCareAppEnrollingSAList</inputReference>
    </recordCreates>
    <recordCreates>
        <description>Create Enrolled SA For Main Transaction(If adjustment Involved, Original transaction is used as adjustment transaction).
Note: A new transaction and enrolled SA will be created to mark as original Discount Transaction.</description>
        <name>Create_Enrolled_SA_For_Adjustment</name>
        <label>Create Enrolled SA For Adjustment Main Transaction</label>
        <locationX>5356</locationX>
        <locationY>5025</locationY>
        <connector>
            <targetReference>Has_Discount_on_Other_Premise</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Message2</targetReference>
        </faultConnector>
        <inputReference>recColNewCareAppEnrollingSAList</inputReference>
    </recordCreates>
    <recordCreates>
        <description>If Adjustment is involved on transaction on a discounted enrollment, that transaction&apos;s CARE App Enrolled SA retro start date and end date getting updated from UI. So Main Transaction will be used as Adjustment transaction to send the retro start date and end date.

Note: A new transaction (With Retro dates blank in care App enrolled SA) will be created for actual discount transaction.</description>
        <name>Create_New_Transaction</name>
        <label>Create New Transaction</label>
        <locationX>2657</locationX>
        <locationY>2791</locationY>
        <assignRecordIdToReference>varNewApplicationID</assignRecordIdToReference>
        <connector>
            <targetReference>Get_Enrolled_SA_of_Application</targetReference>
        </connector>
        <inputAssignments>
            <field>ACCT_ID__c</field>
            <value>
                <elementReference>Get_Main_Application_Details.ACCT_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ANNUAL_HOUSEHOLD_INCOME__c</field>
            <value>
                <elementReference>Get_Main_Application_Details.ANNUAL_HOUSEHOLD_INCOME__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>APPLICANT_NAME__c</field>
            <value>
                <elementReference>Get_Main_Application_Details.APPLICANT_NAME__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>APPLICATION_STATUS__c</field>
            <value>
                <stringValue>Decision Made</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>APPLICATION_TYPE__c</field>
            <value>
                <elementReference>Get_Main_Application_Details.APPLICATION_TYPE__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BUREAU_INDIAN_AFFAIRS__c</field>
            <value>
                <elementReference>Get_Main_Application_Details.BUREAU_INDIAN_AFFAIRS__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CALFRESH_SNAP__c</field>
            <value>
                <elementReference>Get_Main_Application_Details.CALFRESH_SNAP__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CALWORKS_TANF__c</field>
            <value>
                <elementReference>Get_Main_Application_Details.CALWORKS_TANF__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CARE_Account_ID__c</field>
            <value>
                <elementReference>Get_Main_Application_Details.CARE_Account_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CCB_CONTACT_CODE__c</field>
            <value>
                <elementReference>Get_Main_Application_Details.CCB_CONTACT_CODE__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CCB_CONTACT_COMMENT__c</field>
            <value>
                <elementReference>Get_Main_Application_Details.CCB_CONTACT_COMMENT__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CCB_CONTACT_DESC__c</field>
            <value>
                <elementReference>Get_Main_Application_Details.CCB_CONTACT_DESC__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COC_CODE__c</field>
            <value>
                <elementReference>Get_Main_Application_Details.COC_CODE__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EMAIL_ADDRESS__c</field>
            <value>
                <elementReference>Get_Main_Application_Details.EMAIL_ADDRESS__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ENROLLMENT_TYPE__c</field>
            <value>
                <elementReference>Get_Main_Application_Details.ENROLLMENT_TYPE__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FIXED_INCOME__c</field>
            <value>
                <elementReference>Get_Main_Application_Details.FIXED_INCOME__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FORM_CODE__c</field>
            <value>
                <elementReference>Get_Main_Application_Details.FORM_CODE__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HEAD_START_INCOME__c</field>
            <value>
                <elementReference>Get_Main_Application_Details.HEAD_START_INCOME__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HEALTHY_FAMILIES__c</field>
            <value>
                <elementReference>Get_Main_Application_Details.HEALTHY_FAMILIES__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IS_ADJUSTMENT__c</field>
            <value>
                <elementReference>Get_Main_Application_Details.IS_ADJUSTMENT__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IS_RECERT__c</field>
            <value>
                <elementReference>Get_Main_Application_Details.IS_RECERT__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IS_SIGNED__c</field>
            <value>
                <elementReference>Get_Main_Application_Details.IS_SIGNED__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LIHEAP__c</field>
            <value>
                <elementReference>Get_Main_Application_Details.LIHEAP__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MEDICAID_OVER65__c</field>
            <value>
                <elementReference>Get_Main_Application_Details.MEDICAID_OVER65__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MEDICAID_UNDER65__c</field>
            <value>
                <elementReference>Get_Main_Application_Details.MEDICAID_UNDER65__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NEED_NAME_CHANGE__c</field>
            <value>
                <elementReference>Get_Main_Application_Details.NEED_NAME_CHANGE__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NO_ADULT__c</field>
            <value>
                <elementReference>Get_Main_Application_Details.NO_ADULT__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NO_CHILD__c</field>
            <value>
                <elementReference>Get_Main_Application_Details.NO_CHILD__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NSLP__c</field>
            <value>
                <elementReference>Get_Main_Application_Details.NSLP__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PER_ID__c</field>
            <value>
                <elementReference>Get_Main_Application_Details.PER_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PROCESSED_DATE__c</field>
            <value>
                <elementReference>Get_Main_Application_Details.PROCESSED_DATE__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PROCESS_NOTES__c</field>
            <value>
                <elementReference>Get_Main_Application_Details.PROCESS_NOTES__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QUALIFIED_BY__c</field>
            <value>
                <elementReference>varQualifiedBy_Input</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>REASON_DESC__c</field>
            <value>
                <elementReference>Get_Main_Application_Details.REASON_DESC__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RECEIVED_DATE__c</field>
            <value>
                <elementReference>Get_Main_Application_Details.RECEIVED_DATE__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>REQUEST_DROP__c</field>
            <value>
                <elementReference>Get_Main_Application_Details.REQUEST_DROP__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Main_Application_Details.RecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SOURCE_CHANNEL_TYPE__c</field>
            <value>
                <elementReference>Get_Main_Application_Details.SOURCE_CHANNEL_TYPE__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SSI__c</field>
            <value>
                <elementReference>Get_Main_Application_Details.SSI__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WIC__c</field>
            <value>
                <elementReference>Get_Main_Application_Details.WIC__c</elementReference>
            </value>
        </inputAssignments>
        <object>CARE_Application__c</object>
    </recordCreates>
    <recordCreates>
        <description>Create Transaction To Drop Discount on Other Premise</description>
        <name>Create_Transaction_To_Drop_Discount</name>
        <label>Create Transaction To Drop Discount on Other Premise</label>
        <locationX>5891</locationX>
        <locationY>2602</locationY>
        <assignRecordIdToReference>varNewApplicationID</assignRecordIdToReference>
        <connector>
            <targetReference>Clear_Record_Collection</targetReference>
        </connector>
        <inputAssignments>
            <field>ACCT_ID__c</field>
            <value>
                <elementReference>Get_Main_Application_Details.ACCT_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ANNUAL_HOUSEHOLD_INCOME__c</field>
            <value>
                <elementReference>Get_Main_Application_Details.ANNUAL_HOUSEHOLD_INCOME__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>APPLICANT_NAME__c</field>
            <value>
                <elementReference>Get_Main_Application_Details.APPLICANT_NAME__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>APPLICATION_STATUS__c</field>
            <value>
                <stringValue>Decision Made</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>APPLICATION_TYPE__c</field>
            <value>
                <stringValue>Enrollment</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BUREAU_INDIAN_AFFAIRS__c</field>
            <value>
                <elementReference>Get_Main_Application_Details.BUREAU_INDIAN_AFFAIRS__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CALFRESH_SNAP__c</field>
            <value>
                <elementReference>Get_Main_Application_Details.CALFRESH_SNAP__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CALWORKS_TANF__c</field>
            <value>
                <elementReference>Get_Main_Application_Details.CALWORKS_TANF__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CARE_Account_ID__c</field>
            <value>
                <elementReference>Get_Main_Application_Details.CARE_Account_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CARE_CI_CC__c</field>
            <value>
                <elementReference>Get_Main_Application_Details.CARE_CI_CC__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CCB_CONTACT_CODE__c</field>
            <value>
                <elementReference>Get_CC_Code_Details_For_Discount_Drop.TYPE_CODE__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CCB_CONTACT_COMMENT__c</field>
            <value>
                <elementReference>fxUpdatedCCCodeLongDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CCB_CONTACT_DESC__c</field>
            <value>
                <elementReference>Get_CC_Code_Details_For_Discount_Drop.TYPE_DESC__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CC_CL_CD__c</field>
            <value>
                <elementReference>varExistingDiscountType_Input</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COC_CODE__c</field>
            <value>
                <elementReference>Get_Main_Application_Details.COC_CODE__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EMAIL_ADDRESS__c</field>
            <value>
                <elementReference>Get_Main_Application_Details.EMAIL_ADDRESS__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ENROLLMENT_TYPE__c</field>
            <value>
                <stringValue>ENROLLMENT</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FIXED_INCOME__c</field>
            <value>
                <elementReference>Get_Main_Application_Details.FIXED_INCOME__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HEAD_START_INCOME__c</field>
            <value>
                <elementReference>Get_Main_Application_Details.HEAD_START_INCOME__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HEALTHY_FAMILIES__c</field>
            <value>
                <elementReference>Get_Main_Application_Details.HEALTHY_FAMILIES__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IS_SIGNED__c</field>
            <value>
                <elementReference>Get_Main_Application_Details.IS_SIGNED__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LIHEAP__c</field>
            <value>
                <elementReference>Get_Main_Application_Details.LIHEAP__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MEDICAID_OVER65__c</field>
            <value>
                <elementReference>Get_Main_Application_Details.MEDICAID_OVER65__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MEDICAID_UNDER65__c</field>
            <value>
                <elementReference>Get_Main_Application_Details.MEDICAID_UNDER65__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NEED_NAME_CHANGE__c</field>
            <value>
                <elementReference>Get_Main_Application_Details.NEED_NAME_CHANGE__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NO_ADULT__c</field>
            <value>
                <elementReference>Get_Main_Application_Details.NO_ADULT__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NO_CHILD__c</field>
            <value>
                <elementReference>Get_Main_Application_Details.NO_CHILD__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PER_ID__c</field>
            <value>
                <elementReference>Get_Main_Application_Details.PER_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PREM_ID__c</field>
            <value>
                <elementReference>Get_Main_Application_Details.PREM_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PROCESSED_DATE__c</field>
            <value>
                <elementReference>Get_Main_Application_Details.PROCESSED_DATE__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RECEIVED_DATE__c</field>
            <value>
                <elementReference>Get_Main_Application_Details.RECEIVED_DATE__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>REQUEST_DROP__c</field>
            <value>
                <elementReference>Get_Main_Application_Details.REQUEST_DROP__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SOURCE_CHANNEL_TYPE__c</field>
            <value>
                <elementReference>Get_Main_Application_Details.SOURCE_CHANNEL_TYPE__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SSI__c</field>
            <value>
                <elementReference>Get_Main_Application_Details.SSI__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WIC__c</field>
            <value>
                <elementReference>Get_Main_Application_Details.WIC__c</elementReference>
            </value>
        </inputAssignments>
        <object>CARE_Application__c</object>
    </recordCreates>
    <recordCreates>
        <description>Create Transaction To End Existing CARE Discount</description>
        <name>Create_Transaction_To_End_Existing_CARE_Discount</name>
        <label>Create Transaction To End Existing CARE Discount</label>
        <locationX>3762</locationX>
        <locationY>3024</locationY>
        <assignRecordIdToReference>varNewApplicationID</assignRecordIdToReference>
        <connector>
            <targetReference>Remove_All_Item_from_List</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Message</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>ACCT_ID__c</field>
            <value>
                <elementReference>Get_Main_Application_Details.ACCT_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ANNUAL_HOUSEHOLD_INCOME__c</field>
            <value>
                <elementReference>Get_Main_Application_Details.ANNUAL_HOUSEHOLD_INCOME__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>APPLICANT_NAME__c</field>
            <value>
                <elementReference>Get_Main_Application_Details.APPLICANT_NAME__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>APPLICATION_STATUS__c</field>
            <value>
                <stringValue>Decision Made</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>APPLICATION_TYPE__c</field>
            <value>
                <stringValue>Enrollment</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BUREAU_INDIAN_AFFAIRS__c</field>
            <value>
                <elementReference>Get_Main_Application_Details.BUREAU_INDIAN_AFFAIRS__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CALFRESH_SNAP__c</field>
            <value>
                <elementReference>Get_Main_Application_Details.CALFRESH_SNAP__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CALWORKS_TANF__c</field>
            <value>
                <elementReference>Get_Main_Application_Details.CALWORKS_TANF__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CCB_CONTACT_CODE__c</field>
            <value>
                <elementReference>Get_CC_Code_Details_For_Transfer.TYPE_CODE__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CCB_CONTACT_COMMENT__c</field>
            <value>
                <elementReference>fxUpdatedCCCodeLongDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CCB_CONTACT_DESC__c</field>
            <value>
                <elementReference>Get_CC_Code_Details_For_Transfer.TYPE_DESC__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CC_CL_CD__c</field>
            <value>
                <stringValue>CARE</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COC_CODE__c</field>
            <value>
                <elementReference>Get_Main_Application_Details.COC_CODE__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EMAIL_ADDRESS__c</field>
            <value>
                <elementReference>Get_Main_Application_Details.EMAIL_ADDRESS__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ENROLLMENT_TYPE__c</field>
            <value>
                <stringValue>ENROLLMENT</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>E_START_DATE__c</field>
            <value>
                <elementReference>Get_Main_Application_Details.E_START_DATE__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FIXED_INCOME__c</field>
            <value>
                <elementReference>Get_Main_Application_Details.FIXED_INCOME__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FORM_CODE__c</field>
            <value>
                <elementReference>Get_Main_Application_Details.FORM_CODE__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>G_START_DATE__c</field>
            <value>
                <elementReference>Get_Main_Application_Details.G_START_DATE__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HEAD_START_INCOME__c</field>
            <value>
                <elementReference>Get_Main_Application_Details.HEAD_START_INCOME__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HEALTHY_FAMILIES__c</field>
            <value>
                <elementReference>Get_Main_Application_Details.HEALTHY_FAMILIES__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IS_RECERT__c</field>
            <value>
                <elementReference>Get_Main_Application_Details.IS_RECERT__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IS_SIGNED__c</field>
            <value>
                <elementReference>Get_Main_Application_Details.IS_SIGNED__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LIHEAP__c</field>
            <value>
                <elementReference>Get_Main_Application_Details.LIHEAP__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MEDICAID_OVER65__c</field>
            <value>
                <elementReference>Get_Main_Application_Details.MEDICAID_OVER65__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MEDICAID_UNDER65__c</field>
            <value>
                <elementReference>Get_Main_Application_Details.MEDICAID_UNDER65__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NEED_NAME_CHANGE__c</field>
            <value>
                <elementReference>Get_Main_Application_Details.NEED_NAME_CHANGE__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NO_ADULT__c</field>
            <value>
                <elementReference>Get_Main_Application_Details.NO_ADULT__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NO_CHILD__c</field>
            <value>
                <elementReference>Get_Main_Application_Details.NO_CHILD__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PER_ID__c</field>
            <value>
                <elementReference>Get_Main_Application_Details.PER_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PREM_ID__c</field>
            <value>
                <elementReference>Get_Main_Application_Details.PREM_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PROCESSED_DATE__c</field>
            <value>
                <elementReference>Get_Main_Application_Details.PROCESSED_DATE__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RECEIVED_DATE__c</field>
            <value>
                <elementReference>Get_Main_Application_Details.RECEIVED_DATE__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>REQUEST_DROP__c</field>
            <value>
                <elementReference>Get_Main_Application_Details.REQUEST_DROP__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SOURCE_CHANNEL_TYPE__c</field>
            <value>
                <elementReference>Get_Main_Application_Details.SOURCE_CHANNEL_TYPE__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SSI__c</field>
            <value>
                <elementReference>Get_Main_Application_Details.SSI__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WIC__c</field>
            <value>
                <elementReference>Get_Main_Application_Details.WIC__c</elementReference>
            </value>
        </inputAssignments>
        <object>CARE_Application__c</object>
    </recordCreates>
    <recordDeletes>
        <description>Delete Existing Enrolled SA of the application id (If any)</description>
        <name>Delete_Existing_Enrolled_SA</name>
        <label>Delete Existing Enrolled SA</label>
        <locationX>3506</locationX>
        <locationY>1830</locationY>
        <connector>
            <targetReference>Is_CARE_App_SA_Required</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Message</targetReference>
        </faultConnector>
        <filters>
            <field>APPLICATION__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCareApplicationId_Input</elementReference>
            </value>
        </filters>
        <object>CARE_App_Enrolled_SA__c</object>
    </recordDeletes>
    <recordDeletes>
        <description>Delete SA From Adjustment Transaction (Where Retro Start and End Date Is not Available)</description>
        <name>Delete_SA_From_Adjustment_Transaction</name>
        <label>Delete SA From Adjustment Transaction</label>
        <locationX>2213</locationX>
        <locationY>3782</locationY>
        <connector>
            <targetReference>Update_Type_number_of_Enrolled_SAs</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Message2</targetReference>
        </faultConnector>
        <inputReference>recColCareAppEnrolledSATobeDeleted</inputReference>
    </recordDeletes>
    <recordLookups>
        <description>To Check Care App Enrolled SA Present</description>
        <name>Get_Care_App_Enrolled_SA</name>
        <label>Get Care App Enrolled SA</label>
        <locationX>2835</locationX>
        <locationY>1531</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Enrolled_SA_Exists</targetReference>
        </connector>
        <filters>
            <field>APPLICATION__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCareApplicationId_Input</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CARE_App_Enrolled_SA__c</object>
        <sortField>APPLICATION__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get CC Code and Description For Stamping in Main Application</description>
        <name>Get_CC_Code_and_Description</name>
        <label>Get CC Code and Description</label>
        <locationX>2082</locationX>
        <locationY>705</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Long_Description_To_a_Variable</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Message</targetReference>
        </faultConnector>
        <filters>
            <field>TYPE_NO__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varTypeNumber_Input</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CARE_Type__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>TYPE_DESC__c</queriedFields>
        <queriedFields>TYPE_CODE__c</queriedFields>
        <queriedFields>TYPE_DESC_LONG__c</queriedFields>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>CC Code Details of Adjustment</description>
        <name>Get_CC_Code_Details_For_Adjustment</name>
        <label>Get CC Code Details For Adjustment</label>
        <locationX>2587</locationX>
        <locationY>3202</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_LongDescription</targetReference>
        </connector>
        <filters>
            <field>TYPE_NO__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>6034</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CARE_Type__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>TYPE_DESC__c</queriedFields>
        <queriedFields>TYPE_DESC_LONG__c</queriedFields>
        <queriedFields>TYPE_CODE__c</queriedFields>
        <sortField>TYPE_NO__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get CC Code and Description for Discount Drop on other premise.</description>
        <name>Get_CC_Code_Details_For_Discount_Drop</name>
        <label>Get CC Code Details For Discount Drop</label>
        <locationX>5483</locationX>
        <locationY>2579</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Long_Description_For_Discount_Drop</targetReference>
        </connector>
        <filters>
            <field>TYPE_NO__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>6042</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CARE_Type__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>TYPE_CODE__c</queriedFields>
        <queriedFields>TYPE_DESC_LONG__c</queriedFields>
        <queriedFields>TYPE_DESC__c</queriedFields>
        <sortField>TYPE_NO__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get CC Code Details, for creating transfer transaction</description>
        <name>Get_CC_Code_Details_For_Transfer</name>
        <label>Get CC Code Details</label>
        <locationX>4036</locationX>
        <locationY>2981</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Long_Description</targetReference>
        </connector>
        <filters>
            <field>TYPE_NO__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>6042</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CARE_Type__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>TYPE_DESC__c</queriedFields>
        <queriedFields>TYPE_DESC_LONG__c</queriedFields>
        <queriedFields>TYPE_CODE__c</queriedFields>
        <sortField>TYPE_NO__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get Existing Enrolled SA Details</description>
        <name>Get_Enrolled_SA_of_Application</name>
        <label>Get Enrolled SA of Application</label>
        <locationX>2440</locationX>
        <locationY>2962</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Existing_Enrolled_SAs</targetReference>
        </connector>
        <filters>
            <field>APPLICATION__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCareApplicationId_Input</elementReference>
            </value>
        </filters>
        <object>CARE_App_Enrolled_SA__c</object>
        <outputReference>recColExistingEnrolledSAs</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>CC_CL_CD__c</queriedFields>
        <queriedFields>SA_START_DATE__c</queriedFields>
        <queriedFields>APPLICATION__c</queriedFields>
        <queriedFields>RETRO_START_DATE__c</queriedFields>
        <queriedFields>RETRO_END_DATE__c</queriedFields>
        <queriedFields>Service_Agreement__c</queriedFields>
        <queriedFields>START_DATE__c</queriedFields>
        <queriedFields>END_DATE__c</queriedFields>
        <queriedFields>PER_ID__c</queriedFields>
        <queriedFields>PREM_ID__c</queriedFields>
        <queriedFields>ACCT_ID__c</queriedFields>
        <queriedFields>RS_CD__c</queriedFields>
        <queriedFields>CCB_CONTACT_TYPE__c</queriedFields>
        <queriedFields>SA_ID__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Get Main Application Details based on Current application id</description>
        <name>Get_Main_Application_Details</name>
        <label>Get Main Application Details</label>
        <locationX>697</locationX>
        <locationY>1137</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Discount_Applicable</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCareApplicationId_Input</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CARE_Application__c</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Update CC Code and Description in CARE Application</description>
        <name>Update_CC_Code_And_Description</name>
        <label>Update CC Code And Description -Main Application</label>
        <locationX>2616</locationX>
        <locationY>1458</locationY>
        <connector>
            <targetReference>Get_Care_App_Enrolled_SA</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Message</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCareApplicationId_Input</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>APPLICATION_STATUS__c</field>
            <value>
                <elementReference>varApplicationStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CCB_CONTACT_CODE__c</field>
            <value>
                <elementReference>Get_CC_Code_and_Description.TYPE_CODE__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CCB_CONTACT_COMMENT__c</field>
            <value>
                <elementReference>varFinalLongDescriptionToBeUpdated</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CCB_CONTACT_DESC__c</field>
            <value>
                <elementReference>Get_CC_Code_and_Description.TYPE_DESC__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CCB_Contact_Type_No__c</field>
            <value>
                <elementReference>varTypeNumber_Input</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CC_CL_CD__c</field>
            <value>
                <elementReference>varCCCLCD</elementReference>
            </value>
        </inputAssignments>
        <object>CARE_Application__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>Update Greater Discount Date In Main Transaction Enrolled SA- This is performed after any adjustment transaction(if any)</description>
        <name>Update_Greater_Discount_Date</name>
        <label>Update Greater Discount Date In Main Transaction</label>
        <locationX>4527</locationX>
        <locationY>738</locationY>
        <connector>
            <targetReference>Set_Output_Variables</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Message</targetReference>
        </faultConnector>
        <filters>
            <field>APPLICATION__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCareApplicationId_Input</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>END_DATE__c</field>
            <value>
                <elementReference>varGreatestDiscountEndDate</elementReference>
            </value>
        </inputAssignments>
        <object>CARE_App_Enrolled_SA__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>Update Main Application with CC Code of Adjustment Transaction</description>
        <name>Update_Main_Application_CC_Code</name>
        <label>Update Main Application As Adjustment Transaction</label>
        <locationX>2582</locationX>
        <locationY>3535</locationY>
        <connector>
            <targetReference>Check_Record_Exist_To_Delete</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Message2</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCareApplicationId_Input</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CCB_CONTACT_CODE__c</field>
            <value>
                <elementReference>Get_CC_Code_Details_For_Adjustment.TYPE_CODE__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CCB_CONTACT_COMMENT__c</field>
            <value>
                <elementReference>fxUpdatedCCCodeLongDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CCB_CONTACT_DESC__c</field>
            <value>
                <elementReference>Get_CC_Code_Details_For_Adjustment.TYPE_DESC__c</elementReference>
            </value>
        </inputAssignments>
        <object>CARE_Application__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>Update Transaction Qualified By - Income/Categorical</description>
        <name>Update_Transaction_Qualified_By</name>
        <label>Update Transaction Qualified By</label>
        <locationX>2055</locationX>
        <locationY>1843</locationY>
        <connector>
            <targetReference>Update_CC_Code_And_Description</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCareApplicationId_Input</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>QUALIFIED_BY__c</field>
            <value>
                <elementReference>varQualifiedBy_Input</elementReference>
            </value>
        </inputAssignments>
        <object>CARE_Application__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>Update Type Number n the main applications related enrolled SAs.(It is converting into Adjustment Transaction)</description>
        <name>Update_Type_number_of_Enrolled_SAs</name>
        <label>Update Type number of Enrolled SAs</label>
        <locationX>2206</locationX>
        <locationY>4043</locationY>
        <connector>
            <targetReference>Create_Enrolled_SA_For_Adjustment</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Message2</targetReference>
        </faultConnector>
        <filters>
            <field>APPLICATION__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCareApplicationId_Input</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CCB_CONTACT_TYPE__c</field>
            <value>
                <stringValue>6034</stringValue>
            </value>
        </inputAssignments>
        <object>CARE_App_Enrolled_SA__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>1121</locationY>
        <connector>
            <targetReference>Get_Main_Application_Details</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>ValidRateSchedule - Input (If FERA Qualified from FRESH enrollment/Re certification Sub flow)</description>
        <name>colValidFERARateSchedule_Input</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Care App Enrolled SA To be Deleted from Adjustment Transaction</description>
        <name>recColCareAppEnrolledSATobeDeleted</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CARE_App_Enrolled_SA__c</objectType>
    </variables>
    <variables>
        <description>Care Enrolled SA List</description>
        <name>recColExistingCareEnrolledSAList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>EI_Site__c</objectType>
    </variables>
    <variables>
        <description>Collection variable to store all the existing enrolled SA details as part of verification process</description>
        <name>recColExistingEnrolledSAs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CARE_App_Enrolled_SA__c</objectType>
    </variables>
    <variables>
        <description>CARE Enrolled App Collection</description>
        <name>recColNewCareAppEnrollingSAList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CARE_App_Enrolled_SA__c</objectType>
    </variables>
    <variables>
        <description>Discounted SA from other premises (other than selected)</description>
        <name>recColSAIdsOfOtherPremiseDiscount_Input</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>EI_Site__c</objectType>
    </variables>
    <variables>
        <description>All Valid SA Details of Selected Premise</description>
        <name>recColValidSAIdsOfSelectedPremise_Input</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>EI_Site__c</objectType>
    </variables>
    <variables>
        <description>Record type variable to hold SA record details</description>
        <name>recVarCareAppEnrollingSA</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CARE_App_Enrolled_SA__c</objectType>
    </variables>
    <variables>
        <description>Application Status</description>
        <name>varApplicationStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>CARE Application Id - Input from Qualification Flow</description>
        <name>varCareApplicationId_Input</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Variable to hold discount Type C/F for care app enrolled SA</description>
        <name>varCCCLCD</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>CC Code Description - Result back to UI</description>
        <name>varCCCodeDescription_Output</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Long description -Output</description>
        <name>varCCCodeLongDescription_Output</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Discount End Date</description>
        <name>varDiscountEndDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Variable to hold Discount start date</description>
        <name>varDiscountStartDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Existing Discount Of the Customer (CARE/FERA) passed from main flow.</description>
        <name>varExistingDiscountType_Input</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Variable to hold long description.
Note: In case of Accept , We need to stamp the modified comment from UI (if there is no change inCC Code when you run verification as part of ACCEPT button click)</description>
        <name>varFinalLongDescriptionToBeUpdated</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Greater date among discount date</description>
        <name>varGreatestDiscountEndDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <dateValue>1900-01-01</dateValue>
        </value>
    </variables>
    <variables>
        <description>Flag - Discount on other premise</description>
        <name>varHasDiscountOnOtherPremise_Input</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Flag to indicate flow is called on ACCEPT button click</description>
        <name>varIsApplicationAccepted_Input</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Flag to validate - CARE App Enrolled SA need to be created.</description>
        <name>varIsCareAppEnrolledSARequired_Input</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>To Check the applicable discount is CARE</description>
        <name>varIsCAREDiscount_Input</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Current SA Rate Schedule in loop is Valid Flag</description>
        <name>varIsCurrentSARateScheduleValid</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Input from qualification flow to identify whether it is FERA Discount</description>
        <name>varIsFERADiscount_Input</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Billing End Date</description>
        <name>varLastBillingEndDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Last Billing date</description>
        <name>varLastBillingStartDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Long Description from Care Type Object to be updated</description>
        <name>varLongDescriptionToBeUpdated</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Application id of new transaction created for stopping care discount</description>
        <name>varNewApplicationID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>New SA IDs  separated by semi colon</description>
        <name>varNewSAIDs</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Number of years - 2Y or 4 Year discount/recertification</description>
        <name>varNoOfYears_Input</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>Categorical/Income/Not Qualified/None</description>
        <name>varQualifiedBy_Input</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Type Number to fetch the CC Code and Description.</description>
        <name>varTypeNumber_Input</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
