force-app/main/default/flows/CARE_CheckCustomer2YearCCCode_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <description>Set Cancellation Flag=True (For HU Verification Process)</description>
        <name>Set_Cancel_Flag_True</name>
        <label>Set Cancel Flag=True</label>
        <locationX>457</locationX>
        <locationY>1339</locationY>
        <assignmentItems>
            <assignToReference>varIsQualifiedForCancellation_Output</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_CC_Code_After_VH_VHE</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set Error Stage(Element)</description>
        <name>Set_Error_Stage_Element</name>
        <label>Set Error Stage(Element)</label>
        <locationX>825</locationX>
        <locationY>459</locationY>
        <assignmentItems>
            <assignToReference>varStageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Get_Customer_CC_Code_After_VH_VHE</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Log_Exception</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set Error Stage(Element)</description>
        <name>Set_Error_Stage_Element_1</name>
        <label>Set Error Stage(Element)</label>
        <locationX>1134</locationX>
        <locationY>464</locationY>
        <assignmentItems>
            <assignToReference>varStageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Get_Customer_CC_Code_After_V_VE_Code</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Log_Exception</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set Error Stage(Element)</description>
        <name>Set_Error_Stage_Element_3</name>
        <label>Set Error Stage(Element)</label>
        <locationX>586</locationX>
        <locationY>463</locationY>
        <assignmentItems>
            <assignToReference>varStageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Get_Customer_CC_Code_For_Last_2_Years</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Log_Exception</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set Out Put Variable =M</description>
        <name>Set_Out_Put_Variable_M</name>
        <label>Set Out Put Variable =M</label>
        <locationX>1461</locationX>
        <locationY>2192</locationY>
        <assignmentItems>
            <assignToReference>varCustomerHas_M_InLast2Years_Output</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Customer_CC_code</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set default value as false</description>
        <name>Set_Output_Variable_False</name>
        <label>Set Output Variables=False</label>
        <locationX>1807</locationX>
        <locationY>2072</locationY>
        <assignmentItems>
            <assignToReference>varCustomerHas_M_InLast2Years_Output</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCustomerHas_VH_InLast2Years_Output</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Customer_CC_code</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set Output variable =VH (Used For Enrollment Verification)</description>
        <name>Set_Output_variable_VH</name>
        <label>Set Output variable =VH</label>
        <locationX>2012</locationX>
        <locationY>1968</locationY>
        <assignmentItems>
            <assignToReference>varCustomerHas_VH_InLast2Years_Output</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Customer_CC_code</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set Cancel Flag=True;
if customer has a C AE CARE (ESA, LIHEAP, REACH) or a H RAND CERT or a RANDOM CERT or a C RANDOM AFTER the V/VE code (in the last two years). If so terminate the transaction with Status=Cancelled.</description>
        <name>Set_PEV_Cancel_Flag_True</name>
        <label>Set PEV Cancel Flag=True</label>
        <locationX>1587</locationX>
        <locationY>1225</locationY>
        <assignmentItems>
            <assignToReference>varIsQualifiedForCancellation_Output</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_CC_Code_After_V_Code</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set V/VE Code Created Date (Used For PEV Verification)</description>
        <name>Set_V_VE_Code_Created_Date</name>
        <label>Set V/VE Code Created Date</label>
        <locationX>1150</locationX>
        <locationY>2488</locationY>
        <assignmentItems>
            <assignToReference>varVCodeCreatedDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Customer_CC_code.CC_DTTM__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Customer_CC_code</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set VH/VHE Code Created Date To be used in HU Verification Process</description>
        <name>Set_VH_VHE_Code_Created_Date</name>
        <label>Set VH/VHE Code Created Date</label>
        <locationX>2098</locationX>
        <locationY>2631</locationY>
        <assignmentItems>
            <assignToReference>varVHVHECodeCreatedDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Customer_CC_code.CC_DTTM__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Output_variable_VH</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set VH/VHE Code Created Date (For HU Verification Process)</description>
        <name>Set_VH_VHE_Code_Created_Date2</name>
        <label>Set VH/VHE Code Created Date</label>
        <locationX>922</locationX>
        <locationY>2643</locationY>
        <assignmentItems>
            <assignToReference>varVHVHECodeCreatedDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Customer_CC_code.CC_DTTM__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Customer_CC_code</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Check if customer has a C AE CARE (ESA, LIHEAP, REACH) or a H RAND CERT or a RANDOM CERT or a C RANDOM AFTER the V/VE code</description>
        <name>Check_C_AE_CARE_Exists</name>
        <label>Check C AE CARE ,H RAND CERT or RANDOM CERT or a C RANDOM</label>
        <locationX>1574</locationX>
        <locationY>997</locationY>
        <defaultConnector>
            <targetReference>Loop_CC_Code_After_V_Code</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_C_AE_CARE</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Loop_CC_Code_After_V_Code.CARE_CI_CC__r.CC_TYPE_CD__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>H RAND CERT</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_CC_Code_After_V_Code.CARE_CI_CC__r.CC_TYPE_CD__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RANDOM CERT</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_CC_Code_After_V_Code.CARE_CI_CC__r.CC_TYPE_CD__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>C RANDOM</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_CC_Code_After_V_Code.CCB_Contact_Type_No__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>119</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_CC_Code_After_V_Code.CCB_Contact_Type_No__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>120</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_CC_Code_After_V_Code.CCB_Contact_Type_No__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>121</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_PEV_Cancel_Flag_True</targetReference>
            </connector>
            <label>Yes Exists</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check Customer  CC code</description>
        <name>Check_Customer_CC_code</name>
        <label>Check Customer  CC code</label>
        <locationX>1363</locationX>
        <locationY>2611</locationY>
        <defaultConnector>
            <targetReference>Set_Output_Variable_False</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>VH</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Customer_CC_code.CARE_CI_CC__r.CC_TYPE_CD__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>VH</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_VH_VHE_Code_Created_Date</targetReference>
            </connector>
            <label>VH</label>
        </rules>
        <rules>
            <name>DH</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Customer_CC_code.CARE_CI_CC__r.CC_TYPE_CD__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DH</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Customer_CC_code.CARE_CI_CC__r.CC_TYPE_CD__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Out_Put_Variable_M</targetReference>
            </connector>
            <label>DH/DE</label>
        </rules>
        <rules>
            <name>V_VE</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Customer_CC_code.CARE_CI_CC__r.CC_TYPE_CD__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>V</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Customer_CC_code.CARE_CI_CC__r.CC_TYPE_CD__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>VE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_V_VE_Code_Created_Date</targetReference>
            </connector>
            <label>V/VE</label>
        </rules>
        <rules>
            <name>VHE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Customer_CC_code.CARE_CI_CC__r.CC_TYPE_CD__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>VHE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_VH_VHE_Code_Created_Date2</targetReference>
            </connector>
            <label>VHE</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if customer has an H RAND CERT or a C RANDOM AFTER the VH/VHE code (in the last two years).</description>
        <name>Check_For_H_RAND_CERT_C_RANDOM</name>
        <label>Check For H RAND CERT /C RANDOM</label>
        <locationX>445</locationX>
        <locationY>1084</locationY>
        <defaultConnector>
            <targetReference>Loop_CC_Code_After_VH_VHE</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_HRANDCERT_CRANDOM_Exists</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Loop_CC_Code_After_VH_VHE.CARE_CI_CC__r.CC_TYPE_CD__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>H RAND CERT</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_CC_Code_After_VH_VHE.CARE_CI_CC__r.CC_TYPE_CD__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>C RANDOM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Cancel_Flag_True</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check VH/VHE Code Exists?</description>
        <name>Check_VH_VHE_Code_Exists</name>
        <label>Check VH/VHE Code Exists?</label>
        <locationX>843</locationX>
        <locationY>1613</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_VH_VHE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varVHVHECodeCreatedDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Customer_CC_Code_After_VH_VHE</targetReference>
            </connector>
            <label>VH/VHE</label>
        </rules>
    </decisions>
    <decisions>
        <description>Is PEV/HU Verification?</description>
        <name>Is_PEV_Verification</name>
        <label>PEV/HU Verification?</label>
        <locationX>1133</locationX>
        <locationY>1837</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_PEV</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsPEVVerification</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_V_VE_Code_Exists_In_Last_2_Years</targetReference>
            </connector>
            <label>PEV</label>
        </rules>
        <rules>
            <name>Yes_HU</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsHUVerification</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_VH_VHE_Code_Exists</targetReference>
            </connector>
            <label>HU</label>
        </rules>
    </decisions>
    <decisions>
        <description>Is V/VE Code Exists In Last 2 Years?</description>
        <name>Is_V_VE_Code_Exists_In_Last_2_Years</name>
        <label>Is V/VE Code Exists In Last 2 Years?</label>
        <locationX>1135</locationX>
        <locationY>1552</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_V_VE_Code_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varVCodeCreatedDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Customer_CC_Code_After_V_VE_Code</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Check Customer 2 Year CC Code and return CC code if customer has DH/DE/VH/CAECARE.</description>
    <formulas>
        <description>Error Details</description>
        <name>fxErrorAdditionalInfo</name>
        <dataType>String</dataType>
        <expression>&apos;Person Id: &apos;+{!varPersonId_Input}</expression>
    </formulas>
    <formulas>
        <description>Date = today - 2 years</description>
        <name>fxTwoYearsBeforeDate</name>
        <dataType>Date</dataType>
        <expression>Today()-730</expression>
    </formulas>
    <interviewLabel>CARE Check Customer 2 Year CC Code Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CARE Check Customer 2 Year CC Code Flow</label>
    <loops>
        <description>Loop Customer CC Code After V Code</description>
        <name>Loop_CC_Code_After_V_Code</name>
        <label>Loop Customer CC Code After V Code</label>
        <locationX>1134</locationX>
        <locationY>1046</locationY>
        <collectionReference>Get_Customer_CC_Code_After_V_VE_Code</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_C_AE_CARE_Exists</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <description>Loop CC Code After VH/VHE</description>
        <name>Loop_CC_Code_After_VH_VHE</name>
        <label>Loop CC Code After VH/VHE</label>
        <locationX>785</locationX>
        <locationY>1067</locationY>
        <collectionReference>Get_Customer_CC_Code_After_VH_VHE</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_For_H_RAND_CERT_C_RANDOM</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <description>Loop through customer CC code</description>
        <name>Loop_Customer_CC_code</name>
        <label>Loop Customer CC code</label>
        <locationX>1148</locationX>
        <locationY>2064</locationY>
        <collectionReference>Get_Customer_CC_Code_For_Last_2_Years</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Customer_CC_code</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Is_PEV_Verification</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get Customer CC Code  after V/VE Code in last 2 years</description>
        <name>Get_Customer_CC_Code_After_V_VE_Code</name>
        <label>Get Customer CC Code After V/VE Code</label>
        <locationX>1146</locationX>
        <locationY>1303</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_CC_Code_After_V_Code</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_Error_Stage_Element_1</targetReference>
        </faultConnector>
        <filters>
            <field>CC_DTTM__c</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>varVCodeCreatedDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>PER_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varPersonId_Input</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CARE_CC_Batch_Detail__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>CARE_CI_CC__c</queriedFields>
        <queriedFields>CC_DTTM__c</queriedFields>
        <queriedFields>CCB_Contact_Type_No__c</queriedFields>
        <sortField>CC_DTTM__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get Customer CC Code After VH/VHE</description>
        <name>Get_Customer_CC_Code_After_VH_VHE</name>
        <label>Get Customer CC Code After VH/VHE</label>
        <locationX>818</locationX>
        <locationY>1323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_CC_Code_After_VH_VHE</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_Error_Stage_Element</targetReference>
        </faultConnector>
        <filters>
            <field>CC_DTTM__c</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>varVHVHECodeCreatedDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>PER_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varPersonId_Input</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CARE_CC_Batch_Detail__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>CARE_CI_CC__c</queriedFields>
        <queriedFields>CC_DTTM__c</queriedFields>
        <queriedFields>CCB_Contact_Type_No__c</queriedFields>
        <sortField>CC_DTTM__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get Customer CC Code For last 2 years</description>
        <name>Get_Customer_CC_Code_For_Last_2_Years</name>
        <label>Get Customer CC Code For Last 2 Years</label>
        <locationX>633</locationX>
        <locationY>2070</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Customer_CC_code</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_Error_Stage_Element_3</targetReference>
        </faultConnector>
        <filters>
            <field>CC_DTTM__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>fxTwoYearsBeforeDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>PER_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varPersonId_Input</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CARE_CC_Batch_Detail__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>CARE_CI_CC__c</queriedFields>
        <queriedFields>CC_DTTM__c</queriedFields>
        <queriedFields>CCB_Contact_Type_No__c</queriedFields>
        <sortField>CC_DTTM__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>7</locationX>
        <locationY>2040</locationY>
        <connector>
            <targetReference>Get_Customer_CC_Code_For_Last_2_Years</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <description>Log Exception</description>
        <name>Log_Exception</name>
        <label>Log Exception</label>
        <locationX>838</locationX>
        <locationY>50</locationY>
        <flowName>CARE_Exception_Logging_Flow</flowName>
        <inputAssignments>
            <name>varErrorAdditionalInfo_Input</name>
            <value>
                <elementReference>fxErrorAdditionalInfo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varFlowExceptionMessage_Input</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varFlowName_Input</name>
            <value>
                <stringValue>CARE Check Customer 2 Year CC Code Flow</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varStageName_Input</name>
            <value>
                <elementReference>varStageName</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <description>Is called from HU Verification Process</description>
        <name>IsHUVerification</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Is Called from PEV Verification Process</description>
        <name>IsPEVVerification</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>set true if customer has DH /DE in last 2 years</description>
        <name>varCustomerHas_M_InLast2Years_Output</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Set to true if customer has VH in last 2 years</description>
        <name>varCustomerHas_VH_InLast2Years_Output</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>if customer has a C AE CARE (ESA, LIHEAP, REACH) or a H RAND CERT or a RANDOM CERT or a C RANDOM AFTER the V/VE code (in the last two years) then Cancel the PEV application.</description>
        <name>varIsQualifiedForCancellation_Output</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Person id</description>
        <name>varPersonId_Input</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Error Stage (Element)</description>
        <name>varStageName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>V/VE Code created Date</description>
        <name>varVCodeCreatedDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>VH/VHE Code Created Date</description>
        <name>varVHVHECodeCreatedDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
