force-app/main/default/flows/CARE_Update_CC_Code_PEV_HU_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Get start date and end date of Discount</description>
        <name>Get_Discount_Start_End_Date</name>
        <label>Get Discount Start&amp;End Date for SA</label>
        <locationX>6883</locationX>
        <locationY>926</locationY>
        <actionName>CARE_DiscountDateController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_Current_Date_is_Greater</targetReference>
        </connector>
        <inputParameters>
            <name>dLastBillingEndDate</name>
            <value>
                <elementReference>varLastBillingEndDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>dLastBillingStartDate</name>
            <value>
                <elementReference>varLastBillingStartDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>dSAStartDate</name>
            <value>
                <elementReference>Loop_Valid_SA.SA_Start_Date_EI__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>iNoOfYears</name>
            <value>
                <elementReference>varNoOfYears_Input</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sSAID</name>
            <value>
                <elementReference>Loop_Valid_SA.SAID_EI__c</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>varDiscountEndDate</assignToReference>
            <name>dDiscountEndDate</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>varDiscountStartDate</assignToReference>
            <name>dDiscountStartDate</name>
        </outputParameters>
    </actionCalls>
    <assignments>
        <description>Add Records to Collection Variable (Care app enrolling SA Collection)</description>
        <name>Add_Record_To_Collection</name>
        <label>Add Record To Collection</label>
        <locationX>5153</locationX>
        <locationY>4100</locationY>
        <assignmentItems>
            <assignToReference>recColNewCareAppEnrollingSAList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recVarCareAppEnrollingSA</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Discounted_SA_Other_Premise</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Add SA Details To Collection</description>
        <name>Add_SA_Details_To_Collection</name>
        <label>Add SA Details To Collection</label>
        <locationX>5518</locationX>
        <locationY>1669</locationY>
        <assignmentItems>
            <assignToReference>recColNewCareAppEnrollingSAList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recVarCareAppEnrollingSA</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Valid_SA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Add to Collection Variable to create enrolled SA for Adjustment Transaction</description>
        <name>Add_To_Collection_Variable</name>
        <label>Add To Collection Variable</label>
        <locationX>1867</locationX>
        <locationY>3151</locationY>
        <assignmentItems>
            <assignToReference>recColNewCareAppEnrollingSAList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recVarCareAppEnrollingSA</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Existing_Enrolled_SAs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign Custom Long Description to be used in transaction.Same will be evaluated by formula field and replace &lt;LAN ID&gt;. &lt;Received DATE&gt; etc</description>
        <name>Assign_Custom_Long_Description</name>
        <label>Assign Custom Long Description</label>
        <locationX>2437</locationX>
        <locationY>568</locationY>
        <assignmentItems>
            <assignToReference>varLongDescriptionToBeUpdated</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCustomLongDescription_Input</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_ApplicationAccepted</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign greater date to a variable</description>
        <name>Assign_Greater_Date</name>
        <label>Assign Greater Date</label>
        <locationX>6471</locationX>
        <locationY>1932</locationY>
        <assignmentItems>
            <assignToReference>varGreatestDiscountEndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varDiscountEndDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_SA_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set Long description in a variable to update it with Lan Id and  received date</description>
        <name>Assign_Long_Description</name>
        <label>Assign Long Description</label>
        <locationX>3846</locationX>
        <locationY>2837</locationY>
        <assignmentItems>
            <assignToReference>varLongDescriptionToBeUpdated</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_CC_Code_Details_For_Transfer.TYPE_DESC_LONG__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Transaction_To_End_Existing_Discount</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign Long Description To a Variable; Same will be evaluated by formula field and replace &lt;LAN ID&gt; and &lt;Received DATE&gt;</description>
        <name>Assign_Long_Description_To_a_Variable</name>
        <label>Assign Long Description To a Variable</label>
        <locationX>2193</locationX>
        <locationY>847</locationY>
        <assignmentItems>
            <assignToReference>varLongDescriptionToBeUpdated</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_CC_Code_And_Description.TYPE_DESC_LONG__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_ApplicationAccepted</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign Long Description to variable to format and replace place holders. A Formula field will replace the place holders in comment.</description>
        <name>Assign_LongDescription</name>
        <label>Assign Long Description</label>
        <locationX>2532</locationX>
        <locationY>2229</locationY>
        <assignmentItems>
            <assignToReference>varLongDescriptionToBeUpdated</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_CC_Code_Details_For_Adjustment.TYPE_DESC_LONG__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_New_Transaction</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign SA Details To a Record Variable</description>
        <name>Assign_SA_Details</name>
        <label>Assign SA Details</label>
        <locationX>1865</locationX>
        <locationY>3418</locationY>
        <assignmentItems>
            <assignToReference>recVarCareAppEnrollingSA.ACCT_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Existing_Enrolled_SAs.ACCT_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recVarCareAppEnrollingSA.START_DATE__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Existing_Enrolled_SAs.START_DATE__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recVarCareAppEnrollingSA.APPLICATION__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varNewApplicationID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recVarCareAppEnrollingSA.CC_CL_CD__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Existing_Enrolled_SAs.CC_CL_CD__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recVarCareAppEnrollingSA.CCB_CONTACT_TYPE__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>6031</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recVarCareAppEnrollingSA.RETRO_START_DATE__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Existing_Enrolled_SAs.RETRO_START_DATE__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recVarCareAppEnrollingSA.RETRO_END_DATE__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Existing_Enrolled_SAs.RETRO_END_DATE__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recVarCareAppEnrollingSA.END_DATE__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Existing_Enrolled_SAs.END_DATE__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recVarCareAppEnrollingSA.SA_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Existing_Enrolled_SAs.SA_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recVarCareAppEnrollingSA.CCB_CONTACT_TYPE__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Existing_Enrolled_SAs.CCB_CONTACT_TYPE__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recVarCareAppEnrollingSA.RS_CD__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Existing_Enrolled_SAs.RS_CD__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recVarCareAppEnrollingSA.PER_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Existing_Enrolled_SAs.PER_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recVarCareAppEnrollingSA.PREM_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Existing_Enrolled_SAs.PREM_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recVarCareAppEnrollingSA.Service_Agreement__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Existing_Enrolled_SAs.Service_Agreement__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recVarCareAppEnrollingSA.SA_START_DATE__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Existing_Enrolled_SAs.SA_START_DATE__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recVarCareAppEnrollingSA.SERVICE_FULL_ADDRESS__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Existing_Enrolled_SAs.SERVICE_FULL_ADDRESS__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_To_Collection_Variable</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign SA Details To record collection List</description>
        <name>Assign_SA_Details_To_List</name>
        <label>Assign SA Details To List</label>
        <locationX>3262</locationX>
        <locationY>3118</locationY>
        <assignmentItems>
            <assignToReference>recColNewCareAppEnrollingSAList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recVarCareAppEnrollingSA</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Discounted_SA_SelectedPremise</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign SA Details To CARE App Enrolled Record Variable</description>
        <name>Assign_SA_Details_To_Record_Variable</name>
        <label>Assign SA Details To Record Variable</label>
        <locationX>3259</locationX>
        <locationY>3409</locationY>
        <assignmentItems>
            <assignToReference>recVarCareAppEnrollingSA.APPLICATION__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varNewApplicationID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recVarCareAppEnrollingSA.Service_Agreement__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Discounted_SA_SelectedPremise.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recVarCareAppEnrollingSA.START_DATE__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recVarCareAppEnrollingSA.END_DATE__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fxTodaysDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recVarCareAppEnrollingSA.ACCT_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Discounted_SA_SelectedPremise.Billing_Account_ID_EI__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recVarCareAppEnrollingSA.PREM_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Discounted_SA_SelectedPremise.Site_Premise_ID_EI__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recVarCareAppEnrollingSA.PER_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Discounted_SA_SelectedPremise.Person_ID_EI__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recVarCareAppEnrollingSA.SA_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Discounted_SA_SelectedPremise.SAID_EI__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recVarCareAppEnrollingSA.CCB_CONTACT_TYPE__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>6042</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recVarCareAppEnrollingSA.RS_CD__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Discounted_SA_SelectedPremise.Rate_Schedule_EI__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recVarCareAppEnrollingSA.CC_CL_CD__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varExistingDiscountType_Input</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recVarCareAppEnrollingSA.SA_START_DATE__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Discounted_SA_SelectedPremise.SA_Start_Date_EI__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recVarCareAppEnrollingSA.SERVICE_FULL_ADDRESS__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Discounted_SA_SelectedPremise.Svc_Full_Adr_EI__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_SA_Details_To_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign SA Details To Record Variable</description>
        <name>Assign_SA_Details_To_RecordVariable</name>
        <label>Assign SA Details To Record Variable</label>
        <locationX>6409</locationX>
        <locationY>2966</locationY>
        <assignmentItems>
            <assignToReference>recVarCareAppEnrollingSA.APPLICATION__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varNewApplicationID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recVarCareAppEnrollingSA.Service_Agreement__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Discounted_SA.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recVarCareAppEnrollingSA.START_DATE__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recVarCareAppEnrollingSA.END_DATE__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fxTodaysDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recVarCareAppEnrollingSA.ACCT_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Discounted_SA.Billing_Account_ID_EI__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recVarCareAppEnrollingSA.PREM_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Discounted_SA.Site_Premise_ID_EI__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recVarCareAppEnrollingSA.PER_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Discounted_SA.Person_ID_EI__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recVarCareAppEnrollingSA.SA_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Discounted_SA.SAID_EI__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recVarCareAppEnrollingSA.CCB_CONTACT_TYPE__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>6042</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recVarCareAppEnrollingSA.RS_CD__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Discounted_SA.Rate_Schedule_EI__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recVarCareAppEnrollingSA.CC_CL_CD__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varExistingDiscountType_Input</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recVarCareAppEnrollingSA.SA_START_DATE__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Discounted_SA.SA_Start_Date_EI__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recVarCareAppEnrollingSA.SERVICE_FULL_ADDRESS__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Discounted_SA.Svc_Full_Adr_EI__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_SA_Record_To_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign SA Details To Variable</description>
        <name>Assign_SA_Details_To_Variable</name>
        <label>Assign SA Details</label>
        <locationX>5154</locationX>
        <locationY>3871</locationY>
        <assignmentItems>
            <assignToReference>recVarCareAppEnrollingSA.ACCT_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Discounted_SA_Other_Premise.Billing_Account_ID_EI__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recVarCareAppEnrollingSA.START_DATE__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recVarCareAppEnrollingSA.END_DATE__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fxTodaysDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recVarCareAppEnrollingSA.APPLICATION__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCareApplicationId_Input</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recVarCareAppEnrollingSA.Service_Agreement__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Discounted_SA_Other_Premise.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recVarCareAppEnrollingSA.CC_CL_CD__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varExistingDiscountType_Input</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recVarCareAppEnrollingSA.CCB_CONTACT_TYPE__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varTypeNumber_Input</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recVarCareAppEnrollingSA.PER_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Discounted_SA_Other_Premise.Person_ID_EI__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recVarCareAppEnrollingSA.PREM_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Discounted_SA_Other_Premise.Site_Premise_ID_EI__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recVarCareAppEnrollingSA.SA_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Discounted_SA_Other_Premise.SAID_EI__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recVarCareAppEnrollingSA.RS_CD__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Discounted_SA_Other_Premise.Rate_Schedule_EI__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recVarCareAppEnrollingSA.SERVICE_FULL_ADDRESS__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Discounted_SA_Other_Premise.Svc_Full_Adr_EI__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Record_To_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign SA Record To Collection</description>
        <name>Assign_SA_Record_To_Collection</name>
        <label>Assign SA Record To Collection</label>
        <locationX>6424</locationX>
        <locationY>3265</locationY>
        <assignmentItems>
            <assignToReference>recColNewCareAppEnrollingSAList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recVarCareAppEnrollingSA</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Discounted_SA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign SA To Enrolling SA Collection</description>
        <name>Assign_SA_To_Collection</name>
        <label>Assign SA To Collection</label>
        <locationX>5112</locationX>
        <locationY>3632</locationY>
        <assignmentItems>
            <assignToReference>recColNewCareAppEnrollingSAList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recVarCareAppEnrollingSA</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Discounted_SA_Selected_Premise</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Clear Record Collection - Used for creating care app enrolled SAs</description>
        <name>Clear_Record_Collection</name>
        <label>Clear Record Collection</label>
        <locationX>6038</locationX>
        <locationY>2765</locationY>
        <assignmentItems>
            <assignToReference>recColNewCareAppEnrollingSAList</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>recColNewCareAppEnrollingSAList</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Discounted_SA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Remove All Item from List - Care App Enrolling SA List</description>
        <name>Remove_All_Item_from_List</name>
        <label>Remove All Item from List</label>
        <locationX>3746</locationX>
        <locationY>3216</locationY>
        <assignmentItems>
            <assignToReference>recColNewCareAppEnrollingSAList</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>recColNewCareAppEnrollingSAList</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Discounted_SA_SelectedPremise</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set Application Status Decision Made</description>
        <name>Set_Application_Status_DecisionMade</name>
        <label>Set Application Status Decision Made</label>
        <locationX>2155</locationX>
        <locationY>1181</locationY>
        <assignmentItems>
            <assignToReference>varApplicationStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Decision Made</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Existing_Long_Description</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set Application Status In-Progress and Long Description = Updated Long Description with &lt;LAN ID&gt; ,&lt;DATE &gt; etc replaced.</description>
        <name>Set_Application_Status_In_Progress</name>
        <label>Set Application Status In-Progress</label>
        <locationX>2542</locationX>
        <locationY>1075</locationY>
        <assignmentItems>
            <assignToReference>varApplicationStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In-Progress</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFinalLongDescriptionToBeUpdated</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fxUpdatedCCCodeLongDescription</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_CC_Code_And_Description</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set Discount type CARE</description>
        <name>Set_Discount_Type_CARE</name>
        <label>Set Discount Type (CARE)</label>
        <locationX>1409</locationX>
        <locationY>708</locationY>
        <assignmentItems>
            <assignToReference>varCCCLCD</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CARE</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_CC_Code_And_Description</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set Discount Type =FERA</description>
        <name>Set_Discount_Type_FERA</name>
        <label>Set Discount Type (FERA)</label>
        <locationX>1231</locationX>
        <locationY>682</locationY>
        <assignmentItems>
            <assignToReference>varCCCLCD</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>FERA</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_CC_Code_And_Description</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set Enrolling SA Details To end discount</description>
        <name>Set_Enrolling_SA_Details</name>
        <label>Set Enrolling SA Details</label>
        <locationX>5110</locationX>
        <locationY>3422</locationY>
        <assignmentItems>
            <assignToReference>recVarCareAppEnrollingSA.START_DATE__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recVarCareAppEnrollingSA.END_DATE__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fxTodaysDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recVarCareAppEnrollingSA.APPLICATION__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCareApplicationId_Input</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recVarCareAppEnrollingSA.ACCT_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Discounted_SA_Selected_Premise.Billing_Account_ID_EI__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recVarCareAppEnrollingSA.Service_Agreement__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Discounted_SA_Selected_Premise.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recVarCareAppEnrollingSA.CC_CL_CD__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varExistingDiscountType_Input</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recVarCareAppEnrollingSA.CCB_CONTACT_TYPE__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varTypeNumber_Input</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recVarCareAppEnrollingSA.PER_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Discounted_SA_Selected_Premise.Person_ID_EI__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recVarCareAppEnrollingSA.PREM_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Discounted_SA_Selected_Premise.Site_Premise_ID_EI__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recVarCareAppEnrollingSA.SA_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Discounted_SA_Selected_Premise.SAID_EI__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recVarCareAppEnrollingSA.RS_CD__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Discounted_SA_Selected_Premise.Rate_Schedule_EI__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recVarCareAppEnrollingSA.SA_START_DATE__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Discounted_SA_Selected_Premise.SA_Start_Date_EI__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recVarCareAppEnrollingSA.SERVICE_FULL_ADDRESS__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Discounted_SA_Selected_Premise.Svc_Full_Adr_EI__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_SA_To_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set Error Stage(Element)</description>
        <name>Set_Error_Stage_Element</name>
        <label>Set Error Stage(Element)</label>
        <locationX>2731</locationX>
        <locationY>448</locationY>
        <assignmentItems>
            <assignToReference>varStageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Get_CC_Code_And_Description</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Log_Exception_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set Error Stage(Element)</description>
        <name>Set_Error_Stage_Element_1</name>
        <label>Set Error Stage(Element)</label>
        <locationX>2853</locationX>
        <locationY>588</locationY>
        <assignmentItems>
            <assignToReference>varStageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Update_CC_Code_And_Description</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Log_Exception_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set Error Stage(Element)</description>
        <name>Set_Error_Stage_Element_10</name>
        <label>Set Error Stage(Element)</label>
        <locationX>5551</locationX>
        <locationY>4568</locationY>
        <assignmentItems>
            <assignToReference>varStageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Create_Care_App_Enrolled_SA</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Log_Exception</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set Error Stage(Element)</description>
        <name>Set_Error_Stage_Element_11</name>
        <label>Set Error Stage(Element)</label>
        <locationX>5668</locationX>
        <locationY>4776</locationY>
        <assignmentItems>
            <assignToReference>varStageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Create_Enrolled_SA_For_Adjustment</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Log_Exception</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set Error Stage(Element)</description>
        <name>Set_Error_Stage_Element_12</name>
        <label>Set Error Stage(Element)</label>
        <locationX>2800</locationX>
        <locationY>4563</locationY>
        <assignmentItems>
            <assignToReference>varStageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Create_Transaction_To_End_Existing_Discount</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Log_Exception_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set Error Stage(Element)</description>
        <name>Set_Error_Stage_Element_13</name>
        <label>Set Error Stage(Element)</label>
        <locationX>2928</locationX>
        <locationY>4581</locationY>
        <assignmentItems>
            <assignToReference>varStageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Get_CC_Code_Details_For_Transfer</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Log_Exception_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set Error Stage(Element)</description>
        <name>Set_Error_Stage_Element_14</name>
        <label>Set Error Stage(Element)</label>
        <locationX>5713</locationX>
        <locationY>3858</locationY>
        <assignmentItems>
            <assignToReference>varStageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Create_Care_App_Enrolled_SA_For_Discount_Drop</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Log_Exception</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set Error Stage(Element)</description>
        <name>Set_Error_Stage_Element_15</name>
        <label>Set Error Stage(Element)</label>
        <locationX>5906</locationX>
        <locationY>3861</locationY>
        <assignmentItems>
            <assignToReference>varStageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Create_Transaction_To_Drop_Discount</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Log_Exception</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set Error Stage(Element)</description>
        <name>Set_Error_Stage_Element_16</name>
        <label>Set Error Stage(Element)</label>
        <locationX>5501</locationX>
        <locationY>3846</locationY>
        <assignmentItems>
            <assignToReference>varStageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Create_Transaction_To_Drop_Discount</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Log_Exception</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set Error Stage(Element)</description>
        <name>Set_Error_Stage_Element_17</name>
        <label>Set Error Stage(Element)</label>
        <locationX>2703</locationX>
        <locationY>4573</locationY>
        <assignmentItems>
            <assignToReference>varStageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Get_CC_Code_Details_For_Adjustment</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Log_Exception_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set Error Stage(Element)</description>
        <name>Set_Error_Stage_Element_18</name>
        <label>Set Error Stage(Element)</label>
        <locationX>2506</locationX>
        <locationY>4508</locationY>
        <assignmentItems>
            <assignToReference>varStageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Get_Enrolled_SA_of_Application</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Log_Exception_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set Error Stage(Element)</description>
        <name>Set_Error_Stage_Element_19</name>
        <label>Set Error Stage(Element)</label>
        <locationX>2868</locationX>
        <locationY>4453</locationY>
        <assignmentItems>
            <assignToReference>varStageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Get_Enrolled_SA_of_Application</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Log_Exception_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set Error Stage(Element)</description>
        <name>Set_Error_Stage_Element_2</name>
        <label>Set Error Stage(Element)</label>
        <locationX>3051</locationX>
        <locationY>393</locationY>
        <assignmentItems>
            <assignToReference>varStageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Get_Care_App_Enrolled_SA</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Log_Exception_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set Error Stage(Element)</description>
        <name>Set_Error_Stage_Element_20</name>
        <label>Set Error Stage(Element)</label>
        <locationX>2946</locationX>
        <locationY>501</locationY>
        <assignmentItems>
            <assignToReference>varStageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Update_Transaction_Qualified_By</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Log_Exception_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set Error Stage(Element)</description>
        <name>Set_Error_Stage_Element_3</name>
        <label>Set Error Stage(Element)</label>
        <locationX>3248</locationX>
        <locationY>723</locationY>
        <assignmentItems>
            <assignToReference>varStageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Update_Greater_Discount_Date</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Log_Exception_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set Error Stage(Element)</description>
        <name>Set_Error_Stage_Element_4</name>
        <label>Set Error Stage(Element)</label>
        <locationX>3381</locationX>
        <locationY>563</locationY>
        <assignmentItems>
            <assignToReference>varStageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Create_Enrolled_SA</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Log_Exception_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set Error Stage(Element)</description>
        <name>Set_Error_Stage_Element_5</name>
        <label>Set Error Stage(Element)</label>
        <locationX>3291</locationX>
        <locationY>913</locationY>
        <assignmentItems>
            <assignToReference>varStageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Delete_Existing_Enrolled_SA</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Log_Exception_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set Error Stage(Element)</description>
        <name>Set_Error_Stage_Element_8</name>
        <label>Set Error Stage(Element)</label>
        <locationX>2373</locationX>
        <locationY>4499</locationY>
        <assignmentItems>
            <assignToReference>varStageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Update_Type_Number_Of_Enrolled_SAs</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Log_Exception_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set Error Stage(Element)</description>
        <name>Set_Error_Stage_Element_9</name>
        <label>Set Error Stage(Element)</label>
        <locationX>3051</locationX>
        <locationY>4566</locationY>
        <assignmentItems>
            <assignToReference>varStageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Create_Care_App_Enrolled_SA_For_Transfer</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Log_Exception_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set Long Description To Be Updated - Use Existing  modified Comment in DB</description>
        <name>Set_Existing_Long_Description</name>
        <label>Set Existing Long Description</label>
        <locationX>1892</locationX>
        <locationY>1339</locationY>
        <assignmentItems>
            <assignToReference>varFinalLongDescriptionToBeUpdated</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Main_Application_Details.CCB_CONTACT_COMMENT__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Discount_Applicable_For_Transaction</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set Long Description For Discount Drop</description>
        <name>Set_Long_Description_For_Discount_Drop</name>
        <label>Set Long Description For Discount Drop</label>
        <locationX>5675</locationX>
        <locationY>2588</locationY>
        <assignmentItems>
            <assignToReference>varLongDescriptionToBeUpdated</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_CC_Code_Details_For_Discount_Drop.TYPE_DESC_LONG__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Transaction_To_Drop_Discount</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set Out Put Values - Main Transaction Description and and Long description.</description>
        <name>Set_Output_Values</name>
        <label>Set Output Values</label>
        <locationX>4804</locationX>
        <locationY>2196</locationY>
        <assignmentItems>
            <assignToReference>varCCCodeDescription_Output</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_CC_Code_And_Description.TYPE_DESC__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCCCodeLongDescription_Output</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varFinalLongDescriptionToBeUpdated</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCCCode_Output</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_CC_Code_And_Description.TYPE_CODE__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>Set Result: Result is always full qualification out put.</description>
        <name>Set_Output_Variable</name>
        <label>Set Output Variable</label>
        <locationX>4232</locationX>
        <locationY>4393</locationY>
        <assignmentItems>
            <assignToReference>varCCCodeDescription_Output</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_CC_Code_And_Description.TYPE_DESC__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCCCodeLongDescription_Output</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varFinalLongDescriptionToBeUpdated</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCCCode_Output</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_CC_Code_And_Description.TYPE_CODE__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>Set out put variable to send back the results</description>
        <name>Set_Output_Variables</name>
        <label>Set Output Variables</label>
        <locationX>4506</locationX>
        <locationY>1172</locationY>
        <assignmentItems>
            <assignToReference>varCCCodeDescription_Output</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_CC_Code_And_Description.TYPE_DESC__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCCCodeLongDescription_Output</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varFinalLongDescriptionToBeUpdated</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCCCode_Output</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_CC_Code_And_Description.TYPE_CODE__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Application_Accepted</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set SA Details in record type variable</description>
        <name>Set_SA_Details</name>
        <label>Set SA Details</label>
        <locationX>6118</locationX>
        <locationY>1977</locationY>
        <assignmentItems>
            <assignToReference>recVarCareAppEnrollingSA.Service_Agreement__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Valid_SA.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recVarCareAppEnrollingSA.START_DATE__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varDiscountStartDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recVarCareAppEnrollingSA.END_DATE__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varDiscountEndDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recVarCareAppEnrollingSA.APPLICATION__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCareApplicationId_Input</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recVarCareAppEnrollingSA.ACCT_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Valid_SA.Billing_Account_ID_EI__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recVarCareAppEnrollingSA.CC_CL_CD__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCCCLCD</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recVarCareAppEnrollingSA.PER_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Valid_SA.Person_ID_EI__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recVarCareAppEnrollingSA.PREM_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Valid_SA.Site_Premise_ID_EI__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recVarCareAppEnrollingSA.SA_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Valid_SA.SAID_EI__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recVarCareAppEnrollingSA.CCB_CONTACT_TYPE__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varTypeNumber_Input</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recVarCareAppEnrollingSA.RS_CD__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Valid_SA.Rate_Schedule_EI__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recVarCareAppEnrollingSA.SA_START_DATE__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Valid_SA.SA_Start_Date_EI__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recVarCareAppEnrollingSA.SERVICE_FULL_ADDRESS__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Valid_SA.Svc_Full_Adr_EI__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_SA_IDs_In_A_Variable</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set New SA IDs In A Variable. For replacing the place holder in long description.</description>
        <name>Set_SA_IDs_In_A_Variable</name>
        <label>Set New SA IDs In A Variable</label>
        <locationX>5740</locationX>
        <locationY>1826</locationY>
        <assignmentItems>
            <assignToReference>varNewSAIDs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Valid_SA.SAID_EI__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewSAIDs</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_SA_Details_To_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set Valid RS Flag False</description>
        <name>Set_Valid_RS_Flag_False</name>
        <label>Set Valid RS Flag False</label>
        <locationX>5792</locationX>
        <locationY>943</locationY>
        <assignmentItems>
            <assignToReference>varIsCurrentSARateScheduleValid</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Valid_FERA_RateSchedule</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set Valid RS Flag True</description>
        <name>Set_Valid_RS_Flag_True</name>
        <label>Set Valid RS Flag True</label>
        <locationX>5569</locationX>
        <locationY>1331</locationY>
        <assignmentItems>
            <assignToReference>varIsCurrentSARateScheduleValid</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Valid_FERA_RateSchedule</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Current_Date_is_Greater</name>
        <label>Check Current Date is Greater or Not</label>
        <locationX>6298</locationX>
        <locationY>1765</locationY>
        <defaultConnector>
            <targetReference>Set_SA_Details</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Greater</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varDiscountEndDate</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>varGreatestDiscountEndDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Greater_Date</targetReference>
            </connector>
            <label>Yes Greater</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check custom long description has sent as part of invalid income documents scenario- PEV Verification.</description>
        <name>Check_Custom_Long_Description_Available</name>
        <label>Check Custom Long Description Available?</label>
        <locationX>2235</locationX>
        <locationY>568</locationY>
        <defaultConnector>
            <targetReference>Assign_Long_Description_To_a_Variable</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Custom_Long_Description</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCustomLongDescription_Input</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Custom_Long_Description</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check Customer has existing FERA Discount on Selected Premise?</description>
        <name>Check_Customer_Has_FERA_Discount</name>
        <label>Check Customer Has FERA Discount?</label>
        <locationX>4333</locationX>
        <locationY>2950</locationY>
        <defaultConnector>
            <targetReference>Set_Output_Variable</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_On_FERADiscount</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varExistingDiscountType_Input</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FERA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varHasDiscountOnSelectedPremise_Input</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_CC_Code_Details_For_Transfer</targetReference>
            </connector>
            <label>Yes On FERA</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check Retro Start/End Date Available in the SA.If Date is not available ,those SA need to delete from Adjustment Transaction.</description>
        <name>Check_Retro_Start_End_Date_Available</name>
        <label>Check Retro Start/End Date Available</label>
        <locationX>2042</locationX>
        <locationY>3354</locationY>
        <defaultConnector>
            <targetReference>Loop_Existing_Enrolled_SAs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Retro_Date_Available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Existing_Enrolled_SAs.RETRO_END_DATE__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Existing_Enrolled_SAs.RETRO_START_DATE__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_SA_Details</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>SA  Type =E/G</description>
        <name>Check_SA_Type</name>
        <label>Check SA Type</label>
        <locationX>5468</locationX>
        <locationY>951</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Electric</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Valid_SA.Svc_Type_Code_EI__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>E</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Valid_RS_Flag_False</targetReference>
            </connector>
            <label>Electric</label>
        </rules>
        <rules>
            <name>Gas</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Valid_SA.Svc_Type_Code_EI__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>G</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Valid_SA</targetReference>
            </connector>
            <label>Gas</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check customer has existing  Discount on Selected Premise</description>
        <name>Customer_Has_CARE_Discount</name>
        <label>Customer Has CARE Discount?</label>
        <locationX>4214</locationX>
        <locationY>2742</locationY>
        <defaultConnector>
            <targetReference>Set_Output_Variable</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_CARE_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varExistingDiscountType_Input</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CARE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varHasDiscountOnSelectedPremise_Input</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_CC_Code_Details_For_Transfer</targetReference>
            </connector>
            <label>Yes On CARE</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check customer has existing discount.Then need to drop all the discount including other premises.
 (IF any premise has discount  &apos;varExistingDiscountType_Input&apos; will have a value CARE/FERA)</description>
        <name>Does_Customer_Has_Discount</name>
        <label>Does Customer Has Discount ?</label>
        <locationX>4774</locationX>
        <locationY>2757</locationY>
        <defaultConnector>
            <targetReference>Set_Output_Values</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_On_Discount</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varExistingDiscountType_Input</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CARE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varExistingDiscountType_Input</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FERA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Discount_on_Selected_Premise</targetReference>
            </connector>
            <label>Yes On Discount</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check Enrolled SA Exists in the previous verification process. Care Processor can click verify multiple times before Accept.</description>
        <name>Does_Enrolled_SA_Exists</name>
        <label>Does Enrolled SA Exists?</label>
        <locationX>3082</locationX>
        <locationY>1532</locationY>
        <defaultConnector>
            <targetReference>Is_CARE_App_SA_Required</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Care_App_Enrolled_SA</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Adjustment_Involved</targetReference>
            </connector>
            <label>Yes Record Exists</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check Enrolling Discount Type</description>
        <name>Enrolling_Discount_Type</name>
        <label>Enrolling Discount Type?</label>
        <locationX>5468</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>Get_Discount_Start_End_Date</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>CARE</defaultConnectorLabel>
        <rules>
            <name>FERA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varIsFERADiscount_Input</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_SA_Type</targetReference>
            </connector>
            <label>FERA</label>
        </rules>
    </decisions>
    <decisions>
        <description>Has Discount on Other Premise?</description>
        <name>Has_Discount_on_Other_Premise</name>
        <label>Has Discount on Other Premise?</label>
        <locationX>5361</locationX>
        <locationY>2426</locationY>
        <defaultConnector>
            <targetReference>Type_Of_CC_Code</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_DiscountOn_OtherPremise</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varHasDiscountOnOtherPremise_Input</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_CC_Code_Details_For_Discount_Drop</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Has Discount on Other Premise? If Yes Add those SA details also to Dropping List</description>
        <name>Has_Discount_On_OtherPremise</name>
        <label>Has Discount on Other Premise?</label>
        <locationX>4653</locationX>
        <locationY>4009</locationY>
        <defaultConnector>
            <targetReference>Create_Care_App_Enrolled_SA</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_DiscountOnOtherPremise</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varHasDiscountOnOtherPremise_Input</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Discounted_SA_Other_Premise</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check Is Adjustment Involved and Clicked Accept Button. Adjustment will be accounted only on accept button click.</description>
        <name>Is_Adjustment_Involved</name>
        <label>Is Adjustment Involved?</label>
        <locationX>3078</locationX>
        <locationY>1900</locationY>
        <defaultConnector>
            <targetReference>Delete_Existing_Enrolled_SA</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Adjustment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Main_Application_Details.IS_ADJUSTMENT__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varIsApplicationAccepted_Input</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_CC_Code_Details_For_Adjustment</targetReference>
            </connector>
            <label>Yes Adjustment</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check the application accepted flag</description>
        <name>Is_Application_Accepted</name>
        <label>Is Application Accepted?</label>
        <locationX>4535</locationX>
        <locationY>2132</locationY>
        <defaultConnector>
            <targetReference>Set_Output_Values</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Accepted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varIsApplicationAccepted_Input</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Giving_Discount</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check application is Accepted? Based on that set the status</description>
        <name>Is_ApplicationAccepted</name>
        <label>Is Application Accepted?</label>
        <locationX>2302</locationX>
        <locationY>1067</locationY>
        <defaultConnector>
            <targetReference>Set_Application_Status_In_Progress</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Accepted_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varIsApplicationAccepted_Input</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Application_Status_DecisionMade</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check whether Care App enrolled SA is required or not</description>
        <name>Is_CARE_App_SA_Required</name>
        <label>Is CARE App SA Required?</label>
        <locationX>4764</locationX>
        <locationY>1752</locationY>
        <defaultConnector>
            <targetReference>Is_Application_Accepted</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Create_Enrolled_SA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varIsCareAppEnrolledSARequired_Input</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Valid_SA</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Is Current SA Rate Schedule Valid or not</description>
        <name>Is_Current_SA_RS_Valid</name>
        <label>Is RS Valid?</label>
        <locationX>6153</locationX>
        <locationY>1553</locationY>
        <defaultConnector>
            <targetReference>Loop_Valid_SA</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_RS_Valid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varIsCurrentSARateScheduleValid</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Discount_Start_End_Date</targetReference>
            </connector>
            <label>Yes RS Valid</label>
        </rules>
    </decisions>
    <decisions>
        <description>Is Discount Applicable?</description>
        <name>Is_Discount_Applicable</name>
        <label>Is Discount Applicable?</label>
        <locationX>1431</locationX>
        <locationY>1144</locationY>
        <defaultConnector>
            <targetReference>Get_CC_Code_And_Description</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_C</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varIsCAREDiscount_Input</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Discount_Type_CARE</targetReference>
            </connector>
            <label>Yes CARE</label>
        </rules>
        <rules>
            <name>Yes_F</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varIsFERADiscount_Input</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Discount_Type_FERA</targetReference>
            </connector>
            <label>Yes FERA</label>
        </rules>
    </decisions>
    <decisions>
        <description>Is Discount Applicable For Transaction - CARE/FERA</description>
        <name>Is_Discount_Applicable_For_Transaction</name>
        <label>Is Discount Applicable For Transaction?</label>
        <locationX>1999</locationX>
        <locationY>1511</locationY>
        <defaultConnector>
            <targetReference>Update_CC_Code_And_Description</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Applicable</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varIsCAREDiscount_Input</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes_Accepted_True</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varIsFERADiscount_Input</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Transaction_Qualified_By</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Is Discount on Selected Premise?</description>
        <name>Is_Discount_on_Selected_Premise</name>
        <label>Is Discount on Selected Premise?</label>
        <locationX>4662</locationX>
        <locationY>3155</locationY>
        <defaultConnector>
            <targetReference>Has_Discount_On_OtherPremise</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Discount_On_Selected_Premise</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varHasDiscountOnSelectedPremise_Input</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Discounted_SA_Selected_Premise</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if Giving Discount: Then need to drop other premises discount if any (other than selected)</description>
        <name>Is_Giving_Discount</name>
        <label>Is Giving Discount?</label>
        <locationX>4428</locationX>
        <locationY>2362</locationY>
        <defaultConnector>
            <targetReference>Type_Of_CC_Code</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_DiscountInvolved</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varIsFERADiscount_Input</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varIsCAREDiscount_Input</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Has_Discount_on_Other_Premise</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Is RS Valid</description>
        <name>Is_RS_Valid</name>
        <label>Is RS Valid?</label>
        <locationX>5782</locationX>
        <locationY>1393</locationY>
        <defaultConnector>
            <targetReference>Loop_Valid_FERA_RateSchedule</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Valid_RS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Valid_FERA_RateSchedule</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Loop_Valid_SA.Rate_Schedule_EI__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Valid_RS_Flag_True</targetReference>
            </connector>
            <label>Yes Valid RS</label>
        </rules>
    </decisions>
    <decisions>
        <description>If PEV /HU Denied or  Requested Drop, End the existing Customer Discount. New Transaction is not required for this scenario.

PEV Request Drop : 117,138
PEV Denied :102

HU Denied: 172
HU Requested Drop:171</description>
        <name>Type_Of_CC_Code</name>
        <label>Type Of CC Code?</label>
        <locationX>4540</locationX>
        <locationY>2606</locationY>
        <defaultConnector>
            <targetReference>Set_Output_Values</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>PEV_HU_Denied_Drop</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varTypeNumber_Input</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>102</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varTypeNumber_Input</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>117</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varTypeNumber_Input</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>138</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varTypeNumber_Input</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>171</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varTypeNumber_Input</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>172</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Does_Customer_Has_Discount</targetReference>
            </connector>
            <label>PEV/HU Denied/Drop</label>
        </rules>
        <rules>
            <name>FERA_Enrollment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varIsFERADiscount_Input</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Customer_Has_CARE_Discount</targetReference>
            </connector>
            <label>FERA Enrollment</label>
        </rules>
        <rules>
            <name>CARE_Enrollment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varIsCAREDiscount_Input</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Customer_Has_FERA_Discount</targetReference>
            </connector>
            <label>CARE Enrollment</label>
        </rules>
    </decisions>
    <description>CARE Update CC Code PEV/HU Verification Process</description>
    <formulas>
        <description>Annual Income to be replaced in long description</description>
        <name>fxAnnualIncome</name>
        <dataType>String</dataType>
        <expression>TEXT({!Get_Main_Application_Details.ANNUAL_HOUSEHOLD_INCOME__c})</expression>
    </formulas>
    <formulas>
        <description>Applicant Name to be replaced in Care application</description>
        <name>fxApplicantName</name>
        <dataType>String</dataType>
        <expression>{!Get_Main_Application_Details.APPLICANT_NAME__c}</expression>
    </formulas>
    <formulas>
        <description>End Date</description>
        <name>fxEnrollmentEndDate</name>
        <dataType>Date</dataType>
        <expression>IF({!varNoOfYears_Input}=4, Today()+1530, Today()+810)</expression>
    </formulas>
    <formulas>
        <description>Start Date</description>
        <name>fxEnrollmentStartDate</name>
        <dataType>Date</dataType>
        <expression>Today()</expression>
    </formulas>
    <formulas>
        <description>Error Details</description>
        <name>fxErrorAdditionalInfo</name>
        <dataType>String</dataType>
        <expression>&apos;Application Id: &apos;+{!varCareApplicationId_Input}</expression>
    </formulas>
    <formulas>
        <description>Final trimmed SA IDs to be replaced in Place holder- Removing the final ;</description>
        <name>fxFinalSAIDsToBeReplaced</name>
        <dataType>String</dataType>
        <expression>LEFT({!varNewSAIDs},LEN({!varNewSAIDs})-1)</expression>
    </formulas>
    <formulas>
        <description>User Lan Id</description>
        <name>fxLANID</name>
        <dataType>String</dataType>
        <expression>{!$User.LAN_ID_EI__c}</expression>
    </formulas>
    <formulas>
        <description>No Of House hold to be replaced in Long description</description>
        <name>fxNoOfHousehold</name>
        <dataType>String</dataType>
        <expression>TEXT({!Get_Main_Application_Details.NO_ADULT__c}+{!Get_Main_Application_Details.NO_CHILD__c})</expression>
    </formulas>
    <formulas>
        <description>Received Date to be replace in CC Code long description</description>
        <name>fxReceivedDate</name>
        <dataType>Date</dataType>
        <expression>IF(NOT(ISBLANK({!Get_Main_Application_Details.RECEIVED_DATE__c})),{!Get_Main_Application_Details.RECEIVED_DATE__c},
IF(NOT(ISBLANK({!Get_Main_Application_Details.DOC_RECEIVED_DATE__c})),{!Get_Main_Application_Details.DOC_RECEIVED_DATE__c},{!Get_Main_Application_Details.ENTRY_DATE_CARE1__c}))</expression>
    </formulas>
    <formulas>
        <description>Today Date</description>
        <name>fxTodaysDate</name>
        <dataType>Date</dataType>
        <expression>Today()</expression>
    </formulas>
    <formulas>
        <description>Updated Long description (with substitute for LANID,Recieved Date)</description>
        <name>fxUpdatedCCCodeLongDescription</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE({!varLongDescriptionToBeUpdated},&quot;&lt;LAN ID&gt;&quot;, {!fxLANID}),&quot;&lt;Date Received&gt;&quot;,LPAD(TEXT(MONTH({!fxReceivedDate} )),2,&quot;0&quot;)&amp;&quot;/&quot;&amp;LPAD(TEXT(DAY({!fxReceivedDate} )),2,&quot;0&quot;)&amp;&quot;/&quot;&amp;TEXT(YEAR({!fxReceivedDate} ))),&quot;&lt;# OF HH&gt;&quot;,{!fxNoOfHousehold}),&quot;&lt;$ INCM_AMNT&gt;&quot;,&quot;$ &quot;&amp;{!fxAnnualIncome}),&quot;&lt;Applicant Name&gt;&quot;,{!fxApplicantName}),&quot;&lt;SA ID&gt;&quot;,{!fxFinalSAIDsToBeReplaced})</expression>
    </formulas>
    <interviewLabel>CARE Update CC Code PEV/HU Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CARE Update CC Code PEV/HU Flow</label>
    <loops>
        <description>Loop through discounted SA and add it to record collection variable to create care app enrolled records.</description>
        <name>Loop_Discounted_SA</name>
        <label>Loop Discounted SA</label>
        <locationX>6041</locationX>
        <locationY>3267</locationY>
        <collectionReference>recColSAIdsOfOtherPremiseDiscount_Input</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_SA_Details_To_RecordVariable</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Care_App_Enrolled_SA_For_Discount_Drop</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Loop through Other Discounted premise SA (Received from main flow).No need to explicitly check whether this SA has discount.Its already verified in main flow.</description>
        <name>Loop_Discounted_SA_Other_Premise</name>
        <label>Loop Discounted SA Of Other Premise</label>
        <locationX>4878</locationX>
        <locationY>4032</locationY>
        <collectionReference>recColSAIdsOfOtherPremiseDiscount_Input</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_SA_Details_To_Variable</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Care_App_Enrolled_SA</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Loop through All SA To end Discount (Of Selected Premise)</description>
        <name>Loop_Discounted_SA_Selected_Premise</name>
        <label>Loop Discounted SAs Of Selected Premise</label>
        <locationX>4791</locationX>
        <locationY>3544</locationY>
        <collectionReference>recColSAIdsSelectedPremiseDiscount_Input</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Enrolling_SA_Details</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Has_Discount_On_OtherPremise</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Loop Discounted SAs Of Selected Premise</description>
        <name>Loop_Discounted_SA_SelectedPremise</name>
        <label>Loop Discounted SAs Of Selected Premise</label>
        <locationX>3786</locationX>
        <locationY>3416</locationY>
        <collectionReference>recColSAIdsSelectedPremiseDiscount_Input</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_SA_Details_To_Record_Variable</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Care_App_Enrolled_SA_For_Transfer</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Loop Through existing enrolled SAs and add it to Newly Enrollling SA Variable.
For Adjustment Scenario, Main application will remain as Adjustment Transaction.A new transaction and enrolled SA(without Retro Dates) will be created for Main Transaction.</description>
        <name>Loop_Existing_Enrolled_SAs</name>
        <label>Loop Existing Enrolled SAs</label>
        <locationX>2212</locationX>
        <locationY>3494</locationY>
        <collectionReference>recColExistingEnrolledSAs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Retro_Start_End_Date_Available</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Retro_Dates_of_Enrolled_SAs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Loop Valid FERA RS</description>
        <name>Loop_Valid_FERA_RateSchedule</name>
        <label>Loop Valid FERA RS</label>
        <locationX>5689</locationX>
        <locationY>1160</locationY>
        <collectionReference>colValidFERARateSchedule_Input</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_RS_Valid</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Is_Current_SA_RS_Valid</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Loop through all valid SA and assign it to a new record collection with start and end date.</description>
        <name>Loop_Valid_SA</name>
        <label>Loop Valid SA</label>
        <locationX>4818</locationX>
        <locationY>1201</locationY>
        <collectionReference>recColValidSAIdsOfSelectedPremise_Input</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Enrolling_Discount_Type</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Enrolled_SA</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Create Care App Enrolled SA</description>
        <name>Create_Care_App_Enrolled_SA</name>
        <label>Create Care App Enrolled SA To Stop Discount</label>
        <locationX>4786</locationX>
        <locationY>4575</locationY>
        <connector>
            <targetReference>Set_Output_Variable</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_Error_Stage_Element_10</targetReference>
        </faultConnector>
        <inputReference>recColNewCareAppEnrollingSAList</inputReference>
    </recordCreates>
    <recordCreates>
        <description>Create Care App Enrolled SA For Discount Drop (other Premise)</description>
        <name>Create_Care_App_Enrolled_SA_For_Discount_Drop</name>
        <label>Create Care App Enrolled SA For Discount Drop</label>
        <locationX>5641</locationX>
        <locationY>2947</locationY>
        <connector>
            <targetReference>Type_Of_CC_Code</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_Error_Stage_Element_14</targetReference>
        </faultConnector>
        <inputReference>recColNewCareAppEnrollingSAList</inputReference>
    </recordCreates>
    <recordCreates>
        <description>Create Care App Enrolled SA For Transfer</description>
        <name>Create_Care_App_Enrolled_SA_For_Transfer</name>
        <label>Create Care App Enrolled SA For Transfer</label>
        <locationX>3952</locationX>
        <locationY>3632</locationY>
        <connector>
            <targetReference>Set_Output_Variable</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_Error_Stage_Element_9</targetReference>
        </faultConnector>
        <inputReference>recColNewCareAppEnrollingSAList</inputReference>
    </recordCreates>
    <recordCreates>
        <description>Create Enrolled SA</description>
        <name>Create_Enrolled_SA</name>
        <label>Create Enrolled SA</label>
        <locationX>4809</locationX>
        <locationY>601</locationY>
        <connector>
            <targetReference>Update_Greater_Discount_Date</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_Error_Stage_Element_4</targetReference>
        </faultConnector>
        <inputReference>recColNewCareAppEnrollingSAList</inputReference>
    </recordCreates>
    <recordCreates>
        <description>Create Enrolled SA For adjustment Transaction.</description>
        <name>Create_Enrolled_SA_For_Adjustment</name>
        <label>Create Enrolled SA For Adjustment Main Transaction</label>
        <locationX>5354</locationX>
        <locationY>5025</locationY>
        <connector>
            <targetReference>Has_Discount_on_Other_Premise</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_Error_Stage_Element_11</targetReference>
        </faultConnector>
        <inputReference>recColNewCareAppEnrollingSAList</inputReference>
    </recordCreates>
    <recordCreates>
        <description>If Adjustment is involved on transaction , New Transaction will be created.</description>
        <name>Create_New_Transaction</name>
        <label>Create New Transaction</label>
        <locationX>2507</locationX>
        <locationY>2453</locationY>
        <assignRecordIdToReference>varNewApplicationID</assignRecordIdToReference>
        <connector>
            <targetReference>Get_Enrolled_SA_of_Application</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_Error_Stage_Element_19</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>ACCT_ID__c</field>
            <value>
                <elementReference>Get_Main_Application_Details.ACCT_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ANNUAL_HOUSEHOLD_INCOME__c</field>
            <value>
                <elementReference>Get_Main_Application_Details.ANNUAL_HOUSEHOLD_INCOME__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>APPLICANT_NAME__c</field>
            <value>
                <elementReference>Get_Main_Application_Details.APPLICANT_NAME__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>APPLICATION_STATUS__c</field>
            <value>
                <stringValue>Decision Made</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>APPLICATION_TYPE__c</field>
            <value>
                <elementReference>Get_Main_Application_Details.APPLICATION_TYPE__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BUREAU_INDIAN_AFFAIRS__c</field>
            <value>
                <elementReference>Get_Main_Application_Details.BUREAU_INDIAN_AFFAIRS__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CALFRESH_SNAP__c</field>
            <value>
                <elementReference>Get_Main_Application_Details.CALFRESH_SNAP__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CALWORKS_TANF__c</field>
            <value>
                <elementReference>Get_Main_Application_Details.CALWORKS_TANF__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CARE_Account_ID__c</field>
            <value>
                <elementReference>Get_Main_Application_Details.CARE_Account_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CCB_CONTACT_CODE__c</field>
            <value>
                <elementReference>Get_CC_Code_Details_For_Adjustment.TYPE_CODE__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CCB_CONTACT_COMMENT__c</field>
            <value>
                <elementReference>fxUpdatedCCCodeLongDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CCB_CONTACT_DESC__c</field>
            <value>
                <elementReference>Get_CC_Code_Details_For_Adjustment.TYPE_DESC__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COC_CODE__c</field>
            <value>
                <elementReference>Get_Main_Application_Details.COC_CODE__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EMAIL_ADDRESS__c</field>
            <value>
                <elementReference>Get_Main_Application_Details.EMAIL_ADDRESS__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ENROLLMENT_TYPE__c</field>
            <value>
                <stringValue>OTHER</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FIXED_INCOME__c</field>
            <value>
                <elementReference>Get_Main_Application_Details.FIXED_INCOME__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FORM_CODE__c</field>
            <value>
                <elementReference>Get_Main_Application_Details.FORM_CODE__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HEAD_START_INCOME__c</field>
            <value>
                <elementReference>Get_Main_Application_Details.HEAD_START_INCOME__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HEALTHY_FAMILIES__c</field>
            <value>
                <elementReference>Get_Main_Application_Details.HEALTHY_FAMILIES__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HOME_PHONE_NO__c</field>
            <value>
                <elementReference>Get_Main_Application_Details.HOME_PHONE_NO__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IS_ADJUSTMENT__c</field>
            <value>
                <elementReference>Get_Main_Application_Details.IS_ADJUSTMENT__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IS_RECERT__c</field>
            <value>
                <elementReference>Get_Main_Application_Details.IS_RECERT__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IS_SIGNED__c</field>
            <value>
                <elementReference>Get_Main_Application_Details.IS_SIGNED__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LIHEAP__c</field>
            <value>
                <elementReference>Get_Main_Application_Details.LIHEAP__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MEDICAID_OVER65__c</field>
            <value>
                <elementReference>Get_Main_Application_Details.MEDICAID_OVER65__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MEDICAID_UNDER65__c</field>
            <value>
                <elementReference>Get_Main_Application_Details.MEDICAID_UNDER65__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NEED_NAME_CHANGE__c</field>
            <value>
                <elementReference>Get_Main_Application_Details.NEED_NAME_CHANGE__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NO_ADULT__c</field>
            <value>
                <elementReference>Get_Main_Application_Details.NO_ADULT__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NO_ATTACHMENTS_RECEIVED__c</field>
            <value>
                <elementReference>Get_Main_Application_Details.NO_ATTACHMENTS_RECEIVED__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NO_CHILD__c</field>
            <value>
                <elementReference>Get_Main_Application_Details.NO_CHILD__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NO_WITH_INCOME__c</field>
            <value>
                <elementReference>Get_Main_Application_Details.NO_WITH_INCOME__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NSLP__c</field>
            <value>
                <elementReference>Get_Main_Application_Details.NSLP__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>On_Probation__c</field>
            <value>
                <elementReference>Get_Main_Application_Details.On_Probation__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PER_ID__c</field>
            <value>
                <elementReference>Get_Main_Application_Details.PER_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PEV_FORM__c</field>
            <value>
                <elementReference>Get_Main_Application_Details.PEV_FORM__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PHONE_NO__c</field>
            <value>
                <elementReference>Get_Main_Application_Details.PHONE_NO__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PROCESSED_DATE__c</field>
            <value>
                <elementReference>Get_Main_Application_Details.PROCESSED_DATE__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PROCESS_NOTES__c</field>
            <value>
                <elementReference>Get_Main_Application_Details.PROCESS_NOTES__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Parent_Application__c</field>
            <value>
                <elementReference>varCareApplicationId_Input</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QUALIFIED_BY__c</field>
            <value>
                <elementReference>varQualifiedBy_Input</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>REASON_DESC__c</field>
            <value>
                <elementReference>Get_Main_Application_Details.REASON_DESC__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RECEIVED_DATE__c</field>
            <value>
                <elementReference>Get_Main_Application_Details.RECEIVED_DATE__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>REQUEST_DROP__c</field>
            <value>
                <elementReference>Get_Main_Application_Details.REQUEST_DROP__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Main_Application_Details.RecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SOURCE_CHANNEL_TYPE__c</field>
            <value>
                <elementReference>Get_Main_Application_Details.SOURCE_CHANNEL_TYPE__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SSI__c</field>
            <value>
                <elementReference>Get_Main_Application_Details.SSI__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Persons_in_Household__c</field>
            <value>
                <elementReference>Get_Main_Application_Details.Total_Persons_in_Household__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WIC__c</field>
            <value>
                <elementReference>Get_Main_Application_Details.WIC__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WORK_PHONE_NO__c</field>
            <value>
                <elementReference>Get_Main_Application_Details.WORK_PHONE_NO__c</elementReference>
            </value>
        </inputAssignments>
        <object>CARE_Application__c</object>
    </recordCreates>
    <recordCreates>
        <description>Create Transaction To Drop Discount on Other Premise</description>
        <name>Create_Transaction_To_Drop_Discount</name>
        <label>Create Transaction To Drop Discount on Other Premise</label>
        <locationX>5891</locationX>
        <locationY>2662</locationY>
        <assignRecordIdToReference>varNewApplicationID</assignRecordIdToReference>
        <connector>
            <targetReference>Clear_Record_Collection</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_Error_Stage_Element_15</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>ACCT_ID__c</field>
            <value>
                <elementReference>Get_Main_Application_Details.ACCT_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ANNUAL_HOUSEHOLD_INCOME__c</field>
            <value>
                <elementReference>Get_Main_Application_Details.ANNUAL_HOUSEHOLD_INCOME__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>APPLICANT_NAME__c</field>
            <value>
                <elementReference>Get_Main_Application_Details.APPLICANT_NAME__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>APPLICATION_STATUS__c</field>
            <value>
                <stringValue>Decision Made</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BUREAU_INDIAN_AFFAIRS__c</field>
            <value>
                <elementReference>Get_Main_Application_Details.BUREAU_INDIAN_AFFAIRS__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CALFRESH_SNAP__c</field>
            <value>
                <elementReference>Get_Main_Application_Details.CALFRESH_SNAP__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CALWORKS_TANF__c</field>
            <value>
                <elementReference>Get_Main_Application_Details.CALWORKS_TANF__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CARE_Account_ID__c</field>
            <value>
                <elementReference>Get_Main_Application_Details.CARE_Account_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CARE_CI_CC__c</field>
            <value>
                <elementReference>Get_Main_Application_Details.CARE_CI_CC__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CCB_CONTACT_CODE__c</field>
            <value>
                <elementReference>Get_CC_Code_Details_For_Discount_Drop.TYPE_CODE__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CCB_CONTACT_COMMENT__c</field>
            <value>
                <elementReference>fxUpdatedCCCodeLongDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CCB_CONTACT_DESC__c</field>
            <value>
                <elementReference>Get_CC_Code_Details_For_Discount_Drop.TYPE_DESC__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CC_CL_CD__c</field>
            <value>
                <elementReference>varExistingDiscountType_Input</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COC_CODE__c</field>
            <value>
                <elementReference>Get_Main_Application_Details.COC_CODE__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EMAIL_ADDRESS__c</field>
            <value>
                <elementReference>Get_Main_Application_Details.EMAIL_ADDRESS__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ENROLLMENT_TYPE__c</field>
            <value>
                <stringValue>OTHER</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FIXED_INCOME__c</field>
            <value>
                <elementReference>Get_Main_Application_Details.FIXED_INCOME__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HEAD_START_INCOME__c</field>
            <value>
                <elementReference>Get_Main_Application_Details.HEAD_START_INCOME__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HEALTHY_FAMILIES__c</field>
            <value>
                <elementReference>Get_Main_Application_Details.HEALTHY_FAMILIES__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IS_SIGNED__c</field>
            <value>
                <elementReference>Get_Main_Application_Details.IS_SIGNED__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LIHEAP__c</field>
            <value>
                <elementReference>Get_Main_Application_Details.LIHEAP__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MEDICAID_OVER65__c</field>
            <value>
                <elementReference>Get_Main_Application_Details.MEDICAID_OVER65__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MEDICAID_UNDER65__c</field>
            <value>
                <elementReference>Get_Main_Application_Details.MEDICAID_UNDER65__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NEED_NAME_CHANGE__c</field>
            <value>
                <elementReference>Get_Main_Application_Details.NEED_NAME_CHANGE__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NO_ADULT__c</field>
            <value>
                <elementReference>Get_Main_Application_Details.NO_ADULT__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NO_ATTACHMENTS__c</field>
            <value>
                <elementReference>Get_Main_Application_Details.NO_ATTACHMENTS__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NO_CHILD__c</field>
            <value>
                <elementReference>Get_Main_Application_Details.NO_CHILD__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NO_WITH_INCOME__c</field>
            <value>
                <elementReference>Get_Main_Application_Details.NO_WITH_INCOME__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PER_ID__c</field>
            <value>
                <elementReference>Get_Main_Application_Details.PER_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PEV_FORM__c</field>
            <value>
                <elementReference>Get_Main_Application_Details.PEV_FORM__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PREM_ID__c</field>
            <value>
                <elementReference>Get_Main_Application_Details.PREM_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PROCESSED_DATE__c</field>
            <value>
                <elementReference>Get_Main_Application_Details.PROCESSED_DATE__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Parent_Application__c</field>
            <value>
                <elementReference>varCareApplicationId_Input</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RECEIVED_DATE__c</field>
            <value>
                <elementReference>Get_Main_Application_Details.RECEIVED_DATE__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>REQUEST_DROP__c</field>
            <value>
                <elementReference>Get_Main_Application_Details.REQUEST_DROP__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SOURCE_CHANNEL_TYPE__c</field>
            <value>
                <elementReference>Get_Main_Application_Details.SOURCE_CHANNEL_TYPE__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SSI__c</field>
            <value>
                <elementReference>Get_Main_Application_Details.SSI__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WIC__c</field>
            <value>
                <elementReference>Get_Main_Application_Details.WIC__c</elementReference>
            </value>
        </inputAssignments>
        <object>CARE_Application__c</object>
    </recordCreates>
    <recordCreates>
        <description>Create Transaction To End Existing Discount</description>
        <name>Create_Transaction_To_End_Existing_Discount</name>
        <label>Create Transaction To End Existing  Discount</label>
        <locationX>3632</locationX>
        <locationY>3009</locationY>
        <assignRecordIdToReference>varNewApplicationID</assignRecordIdToReference>
        <connector>
            <targetReference>Remove_All_Item_from_List</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_Error_Stage_Element_12</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>ACCT_ID__c</field>
            <value>
                <elementReference>Get_Main_Application_Details.ACCT_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ANNUAL_HOUSEHOLD_INCOME__c</field>
            <value>
                <elementReference>Get_Main_Application_Details.ANNUAL_HOUSEHOLD_INCOME__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>APPLICANT_NAME__c</field>
            <value>
                <elementReference>Get_Main_Application_Details.APPLICANT_NAME__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>APPLICATION_STATUS__c</field>
            <value>
                <stringValue>Decision Made</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BUREAU_INDIAN_AFFAIRS__c</field>
            <value>
                <elementReference>Get_Main_Application_Details.BUREAU_INDIAN_AFFAIRS__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CALFRESH_SNAP__c</field>
            <value>
                <elementReference>Get_Main_Application_Details.CALFRESH_SNAP__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CALWORKS_TANF__c</field>
            <value>
                <elementReference>Get_Main_Application_Details.CALWORKS_TANF__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CCB_CONTACT_CODE__c</field>
            <value>
                <elementReference>Get_CC_Code_Details_For_Transfer.TYPE_CODE__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CCB_CONTACT_COMMENT__c</field>
            <value>
                <elementReference>fxUpdatedCCCodeLongDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CCB_CONTACT_DESC__c</field>
            <value>
                <elementReference>Get_CC_Code_Details_For_Transfer.TYPE_DESC__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CC_CL_CD__c</field>
            <value>
                <elementReference>varExistingDiscountType_Input</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COC_CODE__c</field>
            <value>
                <elementReference>Get_Main_Application_Details.COC_CODE__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EMAIL_ADDRESS__c</field>
            <value>
                <elementReference>Get_Main_Application_Details.EMAIL_ADDRESS__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ENROLLMENT_TYPE__c</field>
            <value>
                <stringValue>OTHER</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>E_START_DATE__c</field>
            <value>
                <elementReference>Get_Main_Application_Details.E_START_DATE__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FIXED_INCOME__c</field>
            <value>
                <elementReference>Get_Main_Application_Details.FIXED_INCOME__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FORM_CODE__c</field>
            <value>
                <elementReference>Get_Main_Application_Details.FORM_CODE__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>G_START_DATE__c</field>
            <value>
                <elementReference>Get_Main_Application_Details.G_START_DATE__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HEAD_START_INCOME__c</field>
            <value>
                <elementReference>Get_Main_Application_Details.HEAD_START_INCOME__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HEALTHY_FAMILIES__c</field>
            <value>
                <elementReference>Get_Main_Application_Details.HEALTHY_FAMILIES__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IS_RECERT__c</field>
            <value>
                <elementReference>Get_Main_Application_Details.IS_RECERT__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IS_SIGNED__c</field>
            <value>
                <elementReference>Get_Main_Application_Details.IS_SIGNED__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LIHEAP__c</field>
            <value>
                <elementReference>Get_Main_Application_Details.LIHEAP__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MEDICAID_OVER65__c</field>
            <value>
                <elementReference>Get_Main_Application_Details.MEDICAID_OVER65__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MEDICAID_UNDER65__c</field>
            <value>
                <elementReference>Get_Main_Application_Details.MEDICAID_UNDER65__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NEED_NAME_CHANGE__c</field>
            <value>
                <elementReference>Get_Main_Application_Details.NEED_NAME_CHANGE__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NO_ADULT__c</field>
            <value>
                <elementReference>Get_Main_Application_Details.NO_ADULT__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NO_CHILD__c</field>
            <value>
                <elementReference>Get_Main_Application_Details.NO_CHILD__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PER_ID__c</field>
            <value>
                <elementReference>Get_Main_Application_Details.PER_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PREM_ID__c</field>
            <value>
                <elementReference>Get_Main_Application_Details.PREM_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PROCESSED_DATE__c</field>
            <value>
                <elementReference>Get_Main_Application_Details.PROCESSED_DATE__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Parent_Application__c</field>
            <value>
                <elementReference>varCareApplicationId_Input</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RECEIVED_DATE__c</field>
            <value>
                <elementReference>Get_Main_Application_Details.RECEIVED_DATE__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>REQUEST_DROP__c</field>
            <value>
                <elementReference>Get_Main_Application_Details.REQUEST_DROP__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SOURCE_CHANNEL_TYPE__c</field>
            <value>
                <elementReference>Get_Main_Application_Details.SOURCE_CHANNEL_TYPE__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SSI__c</field>
            <value>
                <elementReference>Get_Main_Application_Details.SSI__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WIC__c</field>
            <value>
                <elementReference>Get_Main_Application_Details.WIC__c</elementReference>
            </value>
        </inputAssignments>
        <object>CARE_Application__c</object>
    </recordCreates>
    <recordDeletes>
        <description>Delete Existing Enrolled SA of the application id (If any)</description>
        <name>Delete_Existing_Enrolled_SA</name>
        <label>Delete Existing Enrolled SA</label>
        <locationX>3511</locationX>
        <locationY>1860</locationY>
        <connector>
            <targetReference>Is_CARE_App_SA_Required</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_Error_Stage_Element_5</targetReference>
        </faultConnector>
        <filters>
            <field>APPLICATION__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCareApplicationId_Input</elementReference>
            </value>
        </filters>
        <object>CARE_App_Enrolled_SA__c</object>
    </recordDeletes>
    <recordLookups>
        <description>To Check Care App Enrolled SA Present</description>
        <name>Get_Care_App_Enrolled_SA</name>
        <label>Get Care App Enrolled SA</label>
        <locationX>2835</locationX>
        <locationY>1531</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Enrolled_SA_Exists</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_Error_Stage_Element_2</targetReference>
        </faultConnector>
        <filters>
            <field>APPLICATION__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCareApplicationId_Input</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CARE_App_Enrolled_SA__c</object>
        <sortField>APPLICATION__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get CC Code and Description For Stamping in Main Application</description>
        <name>Get_CC_Code_And_Description</name>
        <label>Get CC Code and Description</label>
        <locationX>1851</locationX>
        <locationY>516</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Custom_Long_Description_Available</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_Error_Stage_Element</targetReference>
        </faultConnector>
        <filters>
            <field>TYPE_NO__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varTypeNumber_Input</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CARE_Type__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>TYPE_DESC__c</queriedFields>
        <queriedFields>TYPE_CODE__c</queriedFields>
        <queriedFields>TYPE_DESC_LONG__c</queriedFields>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>CC Code Details of Adjustment</description>
        <name>Get_CC_Code_Details_For_Adjustment</name>
        <label>Get CC Code Details For Adjustment</label>
        <locationX>2761</locationX>
        <locationY>2194</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_LongDescription</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_Error_Stage_Element_17</targetReference>
        </faultConnector>
        <filters>
            <field>TYPE_NO__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>6031</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CARE_Type__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>TYPE_DESC__c</queriedFields>
        <queriedFields>TYPE_DESC_LONG__c</queriedFields>
        <queriedFields>TYPE_CODE__c</queriedFields>
        <sortField>TYPE_NO__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get CC Code and Description for Discount Drop on other premise.</description>
        <name>Get_CC_Code_Details_For_Discount_Drop</name>
        <label>Get CC Code Details For Discount Drop</label>
        <locationX>5483</locationX>
        <locationY>2579</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Long_Description_For_Discount_Drop</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_Error_Stage_Element_16</targetReference>
        </faultConnector>
        <filters>
            <field>TYPE_NO__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>6042</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CARE_Type__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>TYPE_CODE__c</queriedFields>
        <queriedFields>TYPE_DESC_LONG__c</queriedFields>
        <queriedFields>TYPE_DESC__c</queriedFields>
        <sortField>TYPE_NO__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get CC Code Details, for creating transfer transaction</description>
        <name>Get_CC_Code_Details_For_Transfer</name>
        <label>Get CC Code Details</label>
        <locationX>4017</locationX>
        <locationY>2883</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Long_Description</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_Error_Stage_Element_13</targetReference>
        </faultConnector>
        <filters>
            <field>TYPE_NO__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>6042</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CARE_Type__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>TYPE_DESC__c</queriedFields>
        <queriedFields>TYPE_DESC_LONG__c</queriedFields>
        <queriedFields>TYPE_CODE__c</queriedFields>
        <sortField>TYPE_NO__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get Existing Enrolled SA Details..To Fetch Adjusted SA Details</description>
        <name>Get_Enrolled_SA_of_Application</name>
        <label>Get Enrolled SA of Application</label>
        <locationX>2384</locationX>
        <locationY>2812</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Existing_Enrolled_SAs</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_Error_Stage_Element_18</targetReference>
        </faultConnector>
        <filters>
            <field>APPLICATION__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCareApplicationId_Input</elementReference>
            </value>
        </filters>
        <object>CARE_App_Enrolled_SA__c</object>
        <outputReference>recColExistingEnrolledSAs</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>CC_CL_CD__c</queriedFields>
        <queriedFields>SA_START_DATE__c</queriedFields>
        <queriedFields>APPLICATION__c</queriedFields>
        <queriedFields>RETRO_START_DATE__c</queriedFields>
        <queriedFields>RETRO_END_DATE__c</queriedFields>
        <queriedFields>Service_Agreement__c</queriedFields>
        <queriedFields>START_DATE__c</queriedFields>
        <queriedFields>END_DATE__c</queriedFields>
        <queriedFields>PER_ID__c</queriedFields>
        <queriedFields>PREM_ID__c</queriedFields>
        <queriedFields>ACCT_ID__c</queriedFields>
        <queriedFields>RS_CD__c</queriedFields>
        <queriedFields>CCB_CONTACT_TYPE__c</queriedFields>
        <queriedFields>SA_ID__c</queriedFields>
        <queriedFields>SERVICE_FULL_ADDRESS__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Get Main Application Details based on Current application id</description>
        <name>Get_Main_Application_Details</name>
        <label>Get Main Application Details</label>
        <locationX>697</locationX>
        <locationY>1137</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Discount_Applicable</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCareApplicationId_Input</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CARE_Application__c</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Update CC Code and Description in CARE Application</description>
        <name>Update_CC_Code_And_Description</name>
        <label>Update CC Code And Description -Main Application</label>
        <locationX>2616</locationX>
        <locationY>1458</locationY>
        <connector>
            <targetReference>Get_Care_App_Enrolled_SA</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_Error_Stage_Element_1</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCareApplicationId_Input</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>APPLICATION_STATUS__c</field>
            <value>
                <elementReference>varApplicationStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CCB_CONTACT_CODE__c</field>
            <value>
                <elementReference>Get_CC_Code_And_Description.TYPE_CODE__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CCB_CONTACT_COMMENT__c</field>
            <value>
                <elementReference>varFinalLongDescriptionToBeUpdated</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CCB_CONTACT_DESC__c</field>
            <value>
                <elementReference>Get_CC_Code_And_Description.TYPE_DESC__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CCB_Contact_Type_No__c</field>
            <value>
                <elementReference>varTypeNumber_Input</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CC_CL_CD__c</field>
            <value>
                <elementReference>varCCCLCD</elementReference>
            </value>
        </inputAssignments>
        <object>CARE_Application__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>Update Greater Discount Date In Main Transaction Enrolled SA- This is performed after any adjustment transaction(if any)</description>
        <name>Update_Greater_Discount_Date</name>
        <label>Update Greater Discount Date In Main Transaction</label>
        <locationX>4497</locationX>
        <locationY>741</locationY>
        <connector>
            <targetReference>Set_Output_Variables</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_Error_Stage_Element_3</targetReference>
        </faultConnector>
        <filters>
            <field>APPLICATION__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCareApplicationId_Input</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>END_DATE__c</field>
            <value>
                <elementReference>varGreatestDiscountEndDate</elementReference>
            </value>
        </inputAssignments>
        <object>CARE_App_Enrolled_SA__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>Update Retro Start Date and End Date of the main application= Set it blank.
Note:Retro start date and end date is getting updated in main application from UI. Hence clearing it after copying it to adjustment transaction.</description>
        <name>Update_Retro_Dates_of_Enrolled_SAs</name>
        <label>Update Retro Dates of Main Application Enrolled SAs</label>
        <locationX>2310</locationX>
        <locationY>3868</locationY>
        <connector>
            <targetReference>Create_Enrolled_SA_For_Adjustment</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_Error_Stage_Element_8</targetReference>
        </faultConnector>
        <filters>
            <field>APPLICATION__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCareApplicationId_Input</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>RETRO_END_DATE__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>RETRO_START_DATE__c</field>
        </inputAssignments>
        <object>CARE_App_Enrolled_SA__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>Update Transaction Qualified By - Income/Categorical</description>
        <name>Update_Transaction_Qualified_By</name>
        <label>Update Transaction Qualified By</label>
        <locationX>2368</locationX>
        <locationY>1803</locationY>
        <connector>
            <targetReference>Update_CC_Code_And_Description</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_Error_Stage_Element_20</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCareApplicationId_Input</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>QUALIFIED_BY__c</field>
            <value>
                <elementReference>varQualifiedBy_Input</elementReference>
            </value>
        </inputAssignments>
        <object>CARE_Application__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>1121</locationY>
        <connector>
            <targetReference>Get_Main_Application_Details</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <description>Log Exception</description>
        <name>Log_Exception</name>
        <label>Log Exception</label>
        <locationX>5885</locationX>
        <locationY>4703</locationY>
        <flowName>CARE_Exception_Logging_Flow</flowName>
        <inputAssignments>
            <name>varErrorAdditionalInfo_Input</name>
            <value>
                <elementReference>fxErrorAdditionalInfo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varFlowExceptionMessage_Input</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varFlowName_Input</name>
            <value>
                <stringValue>CARE Update CC Code PEV/HU Flow</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varStageName_Input</name>
            <value>
                <elementReference>varStageName</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>Log Exception</description>
        <name>Log_Exception_1</name>
        <label>Log Exception</label>
        <locationX>2759</locationX>
        <locationY>4998</locationY>
        <flowName>CARE_Exception_Logging_Flow</flowName>
        <inputAssignments>
            <name>varErrorAdditionalInfo_Input</name>
            <value>
                <elementReference>fxErrorAdditionalInfo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varFlowExceptionMessage_Input</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varFlowName_Input</name>
            <value>
                <stringValue>CARE Update CC Code PEV/HU Flow</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varStageName_Input</name>
            <value>
                <elementReference>varStageName</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>Log Exception</description>
        <name>Log_Exception_2</name>
        <label>Exception Loging</label>
        <locationX>3264</locationX>
        <locationY>193</locationY>
        <flowName>CARE_Exception_Logging_Flow</flowName>
        <inputAssignments>
            <name>varErrorAdditionalInfo_Input</name>
            <value>
                <elementReference>fxErrorAdditionalInfo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varFlowExceptionMessage_Input</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varFlowName_Input</name>
            <value>
                <stringValue>CARE Update CC Code PEV/HU Flow</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varStageName_Input</name>
            <value>
                <elementReference>varStageName</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <description>ValidRateSchedule - Input (If FERA Qualified from FRESH enrollment/Re certification Sub flow)</description>
        <name>colValidFERARateSchedule_Input</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Care App Enrolled SA To be Deleted from Adjustment Transaction</description>
        <name>recColCareAppEnrolledSATobeDeleted</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CARE_App_Enrolled_SA__c</objectType>
    </variables>
    <variables>
        <description>Care Enrolled SA List</description>
        <name>recColExistingCareEnrolledSAList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>EI_Site__c</objectType>
    </variables>
    <variables>
        <description>Collection variable to store all the existing enrolled SA details as part of verification process</description>
        <name>recColExistingEnrolledSAs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CARE_App_Enrolled_SA__c</objectType>
    </variables>
    <variables>
        <description>CARE Enrolled App Collection</description>
        <name>recColNewCareAppEnrollingSAList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CARE_App_Enrolled_SA__c</objectType>
    </variables>
    <variables>
        <description>Discounted SA from other premises (other than selected)</description>
        <name>recColSAIdsOfOtherPremiseDiscount_Input</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>EI_Site__c</objectType>
    </variables>
    <variables>
        <description>Discounted SAs on Selected Premise</description>
        <name>recColSAIdsSelectedPremiseDiscount_Input</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>EI_Site__c</objectType>
    </variables>
    <variables>
        <description>All Valid SA Details of Selected Premise</description>
        <name>recColValidSAIdsOfSelectedPremise_Input</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>EI_Site__c</objectType>
    </variables>
    <variables>
        <description>Record type variable to hold SA record details</description>
        <name>recVarCareAppEnrollingSA</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CARE_App_Enrolled_SA__c</objectType>
    </variables>
    <variables>
        <description>Application Status</description>
        <name>varApplicationStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>CARE Application Id - Input from Qualification Flow</description>
        <name>varCareApplicationId_Input</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Variable to hold discount Type C/F for care app enrolled SA</description>
        <name>varCCCLCD</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>CC code output</description>
        <name>varCCCode_Output</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>CC Code Description - Result back to UI</description>
        <name>varCCCodeDescription_Output</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Long description -Output</description>
        <name>varCCCodeLongDescription_Output</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Custom Long Description For D code(Invalid Income Documents)</description>
        <name>varCustomLongDescription_Input</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Discount End Date</description>
        <name>varDiscountEndDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Variable to hold Discount start date</description>
        <name>varDiscountStartDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Existing Discount Of the Customer (CARE/FERA) passed from main flow.</description>
        <name>varExistingDiscountType_Input</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Variable to hold long description.
Note: In case of Accept , We need to stamp the modified comment from UI (if there is no change inCC Code when you run verification as part of ACCEPT button click)</description>
        <name>varFinalLongDescriptionToBeUpdated</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Greater date among discount date</description>
        <name>varGreatestDiscountEndDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <dateValue>1900-01-01</dateValue>
        </value>
    </variables>
    <variables>
        <description>Flag - Discount on other premise</description>
        <name>varHasDiscountOnOtherPremise_Input</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Flag -Discount on selected Premise</description>
        <name>varHasDiscountOnSelectedPremise_Input</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Flag to indicate flow is called on ACCEPT button click</description>
        <name>varIsApplicationAccepted_Input</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Flag to validate - CARE App Enrolled SA need to be created.</description>
        <name>varIsCareAppEnrolledSARequired_Input</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>To Check the applicable discount is CARE</description>
        <name>varIsCAREDiscount_Input</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Current SA Rate Schedule in loop is Valid Flag</description>
        <name>varIsCurrentSARateScheduleValid</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Input from qualification flow to identify whether it is FERA Discount</description>
        <name>varIsFERADiscount_Input</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Billing End Date</description>
        <name>varLastBillingEndDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Last Billing date</description>
        <name>varLastBillingStartDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Long Description from Care Type Object to be updated</description>
        <name>varLongDescriptionToBeUpdated</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Application id of new transaction created for stopping care discount</description>
        <name>varNewApplicationID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>New SA IDs  separated by semi colon</description>
        <name>varNewSAIDs</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Number of years - 2Y or 4 Year discount/recertification</description>
        <name>varNoOfYears_Input</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>Categorical/Income/Not Qualified/None</description>
        <name>varQualifiedBy_Input</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Error Stage (Element)</description>
        <name>varStageName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Type Number to fetch the CC Code and Description.</description>
        <name>varTypeNumber_Input</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
